<template>
  <div id="ccpage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

        </div>
       <div class="col-md-3"></div>
      </div>
    </div>
    <div class="container-fluid ">
      <div class="row group">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="left">
            <div style="display:table;">
              <div style="display:table-cell;vertical-align: middle;height:552px;">

                <h1 data-aos="fade-down">Where Digital Marketing <br> Meets Business Objectives</h1>
                <p data-aos="fade-up">For businesses to fully benefit the transformative effects of digital marketing, our agency aims to capitalize on strategy to align, streamline, as well as implement our marketing wizardry with your business objectives.</p>
                <p data-aos="fade-up">Through collaboration and constant communication, we can synchronize business and marketing objectives, goals and activities to an immersive brand experience in the digital marketplace.
                </p>
                <p data-aos="fade-up">Consider us your very own savvy digital marketing team.</p>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-1"></div>
        <div data-aos="fade-right" class="col-md-6" style="padding:0;">
          <div class="right">
            <img class="pull-right" src="/static/img/digitalmarketing/img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

</script>
<style lang="scss" scoped>
h1 {

    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;

    z-index: 107;
    padding: 24px 0;
    padding-top: 0;

       @media screen and (max-width: 414px) {
        padding: 10px 0 !important;
      }
      @media screen and (max-width: 320px) {
        padding: 10px 0 !important;
      }

}
#cccontent {
  text-align:center;
}
.left {
   float: left;

      @media screen and (max-width: 480px) {
            float: none;
            width: auto;
    }
}
.right {
   float: right;

      @media screen and (max-width: 480px) {
            float: none;
            width: auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }

}
.group:after {
        content:"";
        display: table;
        clear: both;
}
</style>
