<template>
  <div id="banner_mf">
    <section class="header-bannermf" :style="data.elementStyle">
      <div class="container-fluid">
        <div style="margin-left:5%;">
          <div class="ui stackable grid">
            <div class="sixteen wide column">
              <div class="gwftitle">
                <div class="bannertitle">
                  <img class="logo" :src="data.logo" width="30%"/>
                  <div class="banner-info">
                    <h1 class="title" v-html="data.title"></h1>
                    <p class="subtitle" v-html="data.subtitle"></p>
                    <a v-if="data.hasOwnProperty('btn')" :href="`${btn.link}`" :class="btn.class" v-for="btn in data.btn">{{btn.label}}<i :class="['fa', btn.faiconClass]" v-if="btn.hasIcon"></i></a>
                    <p class="paragraph" v-html="data.paragraph"></p>
                    <p class="orange" v-html="data.highlighted"> </p>
                    <!-- <p class="subhighlighted" v-html="data.subhighlighted"></p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: ['data'],
  name: 'banner_mf'
}
</script>
<style lang="scss" scoped>
.header-bannermf {
  height:80vh;
  background-position: top center;
  margin-top:1%;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  @media(max-width:991px) {
    background-position: center;
  }
  @media(max-width:767px) {
    height:90vh;
    background-image:none;
  }

 .gwftitle {
    color: #fff;
    margin-bottom: 50px;
    @media(max-width:767px) {
      margin-top: 6%;
    }
    h1{
      font-size: 3vw;
      font-weight: 200;
      @media screen and (max-width: 767px) {
        font-size: 4vw;
      }
      @media screen and (max-width: 414px) {
        font-size: 5vw;
      }
    }
    p {
      font-size:2vw;
      @media (max-width:767px) {
        font-size:18px;
      }
    }
  }
}
.btn {
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;

  @media (max-width: 767px) {
    padding: .7rem 3rem;
  }

  &:hover {
     border: 1px solid #f17921;
     background: #f17921;
  }
}


.banner-info {
  padding-left: 7rem; 
  padding-top: 0rem;

  @media (max-width: 767px) {
    padding: 1rem;
  }

  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700 !important;
    padding-top: 2rem;
    
    @media (max-width: 767px) {
      font-size: 3.5rem !important;
    }

    &.span {
      color: #f17921;
    }
  }

  .subtitle {
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 0rem;
    @media (max-width: 767px) {
      font-size: 1.5rem !important;
    }
  }
}

.bannertitle {
  margin-left: 2rem;
  @media (max-width: 767px) {
      margin: 0 !important;
    } 
    
  img {
    margin-top: -3rem;
    left: 0;
    width: 20%;

    @media (max-width: 767px) {
      width: 100%;
    } 
  }


  .logo {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .paragraph {
    padding-top: 0rem;
    font-size: 1rem !important;
  }
  
  .subhighlighted {
    font-size: 1rem !important;
  }

  .orange {
    color: #f17921;
  }
}

.header-bannermf {
  @media (max-width: 767px) {
    background-position-x: -6rem !important;
  }
}
</style>