<template>
      <div id="contactform" style="background-color:#7055a2;">
       <div class="container" style="background-color:#7055a2;padding:0;">
         <div class="row">
          <div class="col-md-12" style="padding:10px;">
               <h1 style="text-align:center;color:white;font-size:29px;" v-html="head"></h1>
          </div>
         </div>

            <div class="contactformspacing">
              <div class="row" >
                <div class="col-md-12">
                      <div class="row" style="padding: 5px 0;">
                <div class="col-md-2 pull-right" style="padding: 0;">
                  <label style="text-align:left;color:white;">Name:</label>
                </div>
                <div class="col-md-9">
                  <input type="text" name="name" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('name') }" style="width:100%;border:1px solid white;background:white;">
                  <small v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</small>
                </div>
               </div>
              <div class="row" style="padding: 5px 0;">
                <div class="col-md-2 pull-right" style="padding: 0;">
                  <label style="text-align:left;color:white;">Address:</label>
                </div>
                <div class="col-md-9">
                  <input type="text" name="contact" v-validate="'required|numeric'" :class="{'input': true, 'is-danger': errors.has('contact') }" style="width:100%;border:1px solid white;background:white;">
                  <small v-show="errors.has('contact')" class="help is-danger">{{ errors.first('contact') }}</small>
                </div>
               </div>
                 <div class="row" style="padding: 5px 0;">
                <div class="col-md-2 pull-right" style="padding: 0;">
                  <label style="text-align:left;color:white;">Email:</label>
                </div>
                <div class="col-md-9">
                  <input type="text" name="email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }" style="width:100%;border:1px solid white;background:white;">
                  <small v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</small>
                </div>
               </div>
                <div class="row" style="padding: 5px 0;">
                <div class="col-md-2 pull-right" style="padding: 0;">
                  <label  style="text-align:left;color:white;">Message:</label>
                </div>
                <div class="col-md-9">
                  <textarea rows="4" cols="50" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('message') }" name="message" id="cliMsg" style="width:100%;border:1px solid white;background:white;height:200px;"></textarea>
                  <small v-show="errors.has('message')" class="help is-danger">{{ errors.first('message') }}</small>
                </div>
               </div>
                 <div class="row" style="padding: 5px 0;">
                 <div class="col-md-8">
                  <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"></div>
                 </div>
                 <div class="col-md-3">
                   <button type="button" class="btn btn-danger pull-right" style="height: 5vh;" @click="validate">Send</button>
                 </div>
               </div>
              </div>

               </div>
         </div>

       </div>
      </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import axios from 'axios'
import qs from 'qs'
import swal from 'sweetalert2'
Vue.use(VeeValidate);
export default {
  props: ['head'],
  data () {
    return {
      countryCode: ''
    }
  },
  methods: {
    validate() {
      var _this = this
      function send() {
        let data = {
          cliName: $('input[name="name"]').val(),
          cliEmail: $('input[name="email"]').val(),
          cliContact: $('input[name="contact"]').val(),
          cliWebsite: $('input[name="cliWebsite"]').val(),
          package: $('select[name="package"]').find(":selected").text(),
          cliMsg: $('textarea[name="message"]').val(),
          countryCode: _this.countryCode
        }
        axios.post(`https://www.globalwebforce.com/static/mail-sender/contact-form-sender.php`, qs.stringify(data))
        .then(function(response){
          swal("Thank You!", "Someone from our team will get back to you in no less than 24 hours.", "success");
        })
        .catch(e => {
          console.log(e)
          swal("Oops!", "Something went wrong", "error");
        })
      }
      this.$validator.validateAll().then((result) => {
        if (result) {
          send()
          $('input').val('')
          $('textarea').val('')
          $('select').val('')
          return
        }
      });
    },
    getCountry() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
      })
      .catch(function (e){
        console.log(e)
      })
    }
  },
  created() {
    this.getCountry()
  }
}
</script>



<style lang="scss" scoped>
 @import'./src/assets/styles/main.scss';

.contactformspacing {
  margin:0 6vh;
     @media screen and (max-width: 1366px) {
      margin:0 0vh;
      }
   @media screen and (max-width: 414px) {
      margin:0 0vh;
      }

}
.btn-danger {
 width:100%;
}
.btn {
  @media screen and (max-width: 667px) {
      height:12vh!important;
      }
        @media screen and (max-width: 414px) {
      height:6vh!important;
      }
}
input.is-danger,textarea.is-dager,select.is-danger {
  box-shadow: 0 0 15px red;
}
small.is-danger {
  color: white;
  font-style:italic;
  margin-top: 10px!important;
}
</style>
