<template>
  <section class="contact" style="padding-bottom:4rem;padding-top:4rem;">
      <div class="container">
          <div class="ui center aligned grid">
              <div class="sixteen wide column">
                  <h2 style="font-weight:900;color:black;">{{data.title}}</h2>
                  <h2 style="font-weight:900;color:black;">{{data.subtitle}}</h2>
              </div>
          </div>
          <div class="ui stackable three column grid member-container">
            <div class="column" v-for="item in data.items">
              <div class="member-block">
                <div class="member-content">
                  <div class="item-img">
                     <img :src="item.icon" alt="">
                  </div>
                  <div class="item-info text-center">
                    <h4 class="item-label">{{item.label}}</h4>
                    <p class="item-description">{{item.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
</template>
<script>
  import axios from 'axios'
  export default {
    props: ['data'],
    data() {
      return {
        data:
        {
          gwfInfo: {
            title: 'Unit 3203 Antel Global Corporate Center, Julia Vargas Ave., Ortigas Center, Pasig City, Philippines',
            gwfemail: 'inquiry@globalwebforce.com',
            gwfnumber: '+63-917-568-0402',
          },
          secondInfo: {
            infoName: 'Miguel Dela Rosa',
            title: 'Operation Manager',
            gwfemail: 'miguelr@globalwebforce.com',
            gwfnumber: '+639175166897',
          },
          country: '',
          imgBoxData: [
            {
              imgSrc: '/static/img/LP/protect2018/image_des-dev.jpg',
              imgTitle: 'Web Design & Development',
              imgDesc: 'We build modern businesses to take realize digital success'
            },
            {
              imgSrc: '/static/img/LP/protect2018/image_marketing.jpg',
              imgTitle: 'Digital Marketing',
              imgDesc: 'Strategy SEO, PPC, and Social Media services to deliver results'
            },
            {
              imgSrc: '/static/img/LP/protect2018/image_creative.jpg',
              imgTitle: 'Creative Services',
              imgDesc: 'From brochures to manuscripts, we create effective literature to boost your overall marketing'
            },
            {
              imgSrc: '/static/img/LP/protect2018/image_lead.jpg',
              imgTitle: 'Lead Generation',
              imgDesc: 'We combine technology and salesmanship to generate prospects from businesses across industries'
            }
          ]
        }
      }
    },
    methods: {
      getCountry() {
        var _this = this
        var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
        axios.get(baseURL)
        .then(function(response){
          _this.data.country = response.data.iso_code
          if(_this.data.country === 'AU') {
            _this.data.gwfInfo.gwfnumber = '0419 200 663'
            _this.data.gwfInfo.gwfaddress = '425 Bell Street, Pascoe Vale South,<br>(Corner of Springhall Parade),<br>Victoria, 3044, Australia'
            _this.data.secondInfo.gwfnumber = '+61419200663'
            _this.data.secondInfo.infoName = 'Hitesh Parekh'
            _this.data.secondInfo.title = 'Managing Director'
            _this.data.secondInfo.gwfemail = 'hitesh.parekh@globalwebforce.com'
          }
          console.log(_this.data.country)
        })
        .catch(function (e){
          console.log(e)
        })
      }
    },
    mounted() {
      this.getCountry()
    }
  }
</script>
<style lang="scss" scoped>
$color-primary: #fff000;
$color-secondary:#051726;
$color-three:black;
$circle-equal: 180px;
$font-primary: 'Archivo Narrow', sans-serif;
$font-script: 'Kaushan Script', cursive;
h1,h2,h3,h4,h5,h6 {
  color: $color-primary;
  font-family:lato;
}
.script {
  font-family: $font-script;
}
.imgBoxBlock {
  .imgBox {
    .description {
      text-align:center;
      margin-top: 15px;
      p {
        color:#fff;
        font-size: 17px;
      }
    }
  }
}
.contact {
  // .ui.grid.member-container {
  //   justify-content: center;
  //   .column {
  //     width: fit-content;
  //     margin-left: 5%;
  //   }
  // }
  .member-block {
    .member-content {
      @media(max-width: 991px) {
          display: flex;
          flex-flow: column;
          align-items: center;
          align-content: center;
          justify-content: center;
        }
      .member-img {
        margin-bottom: 20px;
      }
      .member-info {
        i {
          color:#c2333a;;
        }

        @media(max-width: 991px) {
          text-align:center;
          width:100%;
        }
        h3 {
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 2rem;
          &:first-child {
            margin-top: 0px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
          &.member-name {
            font-size: 1.5rem;
            color:$color-three;
          }
          &.member-title {
            color: inherit;
            font-size: 1.7rem;
            font-weight:bold;
          }
          &.member-phone,&.member-email {
            a {
              color: #464646;
            }
            font-size:1.3rem;
          }
        }
      }
      .change {
        font-size: 1.3rem!important;
      }
    }
  }
}

h3 {
  font-size:2rem;
  font-weight:regular;
}

.item-img {
  img {
    display: block;
    margin: 0 auto;
  }
}

.item-info {
  .item-label {
    color:#ff3c64;
  }
}
</style>

