    <template>
      <div id="first">
        <div class="container-fluid firstsec" style="padding:0;">
          <div class="row" style="margin: 0;">
              <div class="col-md-5 mobile-view" style="background-color:#7055a2;">
                <div class="row"  style="margin:0!important;">
                  <div class="col-md-12">
                      <contactform head="Limited Slots Only! <br/> Confirm Now! No Obligations!"></contactform>
                  </div>
                </div>
              </div>
              <div data-aos="fade-right" class="col-md-7 content-container">
                <h1>{{data.title}}</h1>
                <h2>{{data.paragraph}}</h2>
                <h2 class="supportingparagraph" v-html="data.supportingparagraph"></h2>
              </div>
              <div class="col-md-5 desktop-view" style="background-color:#7055a2;">
                <div class="row"  style="margin:0!important;">
                  <div class="col-md-12">
                      <contactform head="Limited Slots Only! <br/> Confirm Now! No Obligations!"></contactform>
                  </div>
                </div>
              </div>
        </div>
        </div>
        <!-- <div class="container-fluid" style="background:#eeeeee;">
          <div class="row" style="margin:0!important;">
            <div class="col-md-12">
              <secondpanelHome></secondpanelHome>
            </div>
          </div>
        </div> -->
      </div>

    </template>

    <script>
    import contactform from './contact-form'
    import AOS from 'aos';
        export default {
          name: 'firstpanel',
          props: ['data'],
          components: {
              contactform
          }
        }
        AOS.init({
            duration: 700,
          })

    </script>
    <style lang="scss" scoped>
     @import'./src/assets/styles/main.scss';
     .mobile-view {
      @media(max-width:1920px) {
        display:none;
      }
      @media(max-width:767px) {
        display:block;
      }
     }
     .desktop-view {

      @media(max-width:767px) {
        display:none;
      }
     }
    .col-md-5 {
      padding: 50px 0px 50px 0px;
    }
    #first {

    }
    h4 {
    color:white;
    }
    p {

        color: #ff3c64;
        font-weight: bold;

    }
    .bgyeloow {
      background-image: url(/static/img/homepage/icon_holder.jpg);
    height: 14vh;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    display: table;
    background-position: top;
        h4 {
             color: white;
    vertical-align: middle;
    font-size: 9vh;
        display: table-cell;
        }

    }
    .firstsec {
      @media(max-width: 767px) {
        // margin-top:15%;
      }
      @media screen and (max-width: 414px) {
        height: auto;
      }
    }
  h1 {
    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
    font-weight: bold !important;
    z-index: 107;
    font-family: 'Ubuntu', sans-serif;
    padding: 24px;
    font-size: 3rem;
    @media (max-width: 767px) {
      font-size: 2.5rem;
    }
  }
  h1#yellowbgBig {
    @media(max-width:767px) {
      font-size: 8vw!important;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
    padding: 0px 2rem;
    @media(max-width:767px) {
      font-size: 1.5rem!important;
    }
  }

  .content-container {
    background: #efefef;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

 .supportingparagraph {
   padding-top: 2rem;
   font-weight: 500;

   @media(max-width:767px) {
      padding-bottom: 2rem;
    }
 }
</style>


