<template>
	<div class="menu">
		<a :href="url">{{text}}</a>
	</div>
</template>
<script>
export default {
  props: ['menu-item'],
  data() {
    return {
      	text: 'Learn How to Learn',
      	url: 'https://youtube.com/learn',
    };
  },
  methods: {

  },
};
</script>