<template>
	<div class="slider">
		<flickity ref="flickity" :options="flickityOptions">
      <div class="carousel-cell">Hi</div>
      <div class="carousel-cell">2</div>
      <div class="carousel-cell">3</div>
      <div class="carousel-cell">4</div>
      <div class="carousel-cell">5</div>
    </flickity>
	</div>
</template>
<script>
import Vue from 'vue';
import Flickity from 'vue-flickity';
Vue.component('Flickity', Flickity)
export default {
    data () {
        return {
            flickityOptions: {
                initialIndex: 3,
                prevNextButtons: false,
                pageDots: true,
                wrapAround: true
                // any options from Flickity can be used
            },
        };
    },
    methods: {
        next() {
            this.$refs.flickity.next();
        },
        previous() {
            this.$refs.flickity.previous();
        },
    },
};
</script>
<style>
    .flickity-page-dots {
      bottom: 13px;
    }
</style>