<template>
  <section class="header-banner" :style="data.eletmentSytle">
    <div class="container">
      <div style="margin-left:1.5%; margin-right:1.5%;">
        <div class="ui stackable grid">
          <div class="six wide computer only column"></div>
          <div class="ten wide computer sixteen wide tablet column">
            <div class="gwftitle">
              <div class="bannertitle">
                <h1 v-html="data.bannerTitle"></h1>
                <p v-html="data.subTitle"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    name: 'Slider',
    props: ['data'],

  data () {
    return {
    }
  },
};

</script>

<style lang="scss" scoped>
.header-banner {
  height:80vh;
  background-position: top center;
  margin-top:1%;
  @media(max-width:991px) {
    background-position: top right;
  }
  @media(max-width:767px) {
    height:90vh;
  }
 .gwftitle {
    @media(max-width:767px) {
      margin-top: 6%;
    }
    h1{
      margin: auto !important;
      font-family: 'Ubuntu';
      text-shadow: 1px 1px #000000;
      font-size: 3vw;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 5vw;
      }
      @media screen and (max-width: 414px) {
        font-size: 10vw;
      }
    }
  }
}
</style>
