<template>
  <div id="firstSec">
    <div class="container-fluid" v-for="data in data">
      <div class="row">
         <h1 style="text-align: center;">{{ data.header }}</h1>
        <div class="col-md-2"></div>
        <div class="col-md-4">{{ data.content }}</div>
        <div class="col-md-4"><img :src="data.img" alt=""></div>
      </div>
    </div>
    <question-list></question-list>
  </div>
</template>
<script>
    export default {
    name:'creativeNcontentfirstSec',
    props: ['data']

  }

</script>
<style scoped>

</style>
