<template>
  <div id="secondSec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" v-for='data in heads'>
          <h1 style="text-align:center;"> {{ data.SecondSecheader }} </h1></div>

        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul id="double">
              <li v-for="data in questions"><span style="color:orange;
                ">&#11044</span>{{ data.question }}</li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</template>
<script>
    export default {
    name:'creativeNcontentsecondSec',

    data () {
      return {
        questions: [
         {
            question:'question 1'
          },{
            question:'question 2'
          },{
            question:'question 3'
          },{
            question:'question 3'
          },{
            question:'question 3'
          },{
            question:'question 3'
          },{
            question:'question 3'
          },{
            question:'question 3'
          },{
            question:'question 3'
          }
        ],
        heads: [
          {
            SecondSecheader:'QUALIFYING QUESTIONS',
          }

        ]
      }
    }
  }

</script>
<style scoped>
li {
  list-style: none;

 }
 ul{
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
  text-align: center;
}
li{
  line-height:1.5em;

  float:left;
  display:inline;
}
#double li  {
 width:43%;
}
</style>
