  <template>
    <div id="bacolod">
        <banner :data="banner"></banner>
        <contactform :data="contact"></contactform>
        <!-- <secondsecmf></secondsecmf> -->
        <!-- <thirdsecmf> </thirdsecmf> -->
        <fourthsecmf :data="three_col"></fourthsecmf>
        <thirdpanel :data="third"></thirdpanel>
    <!-- <contact-us></contact-us> -->
      <conmap></conmap>
    <gwffooter></gwffooter>
    </div>

  </template>
  <script>
  import banner from '../bacolod/banner'
  import contactform from '../bacolod/with-contact-form'
  import fourthsecmf from '../bacolod/fourthpanel'
  import thirdpanel from '../bacolod/parallax.vue'
  import $ from 'jquery'

    export default {
    name: 'Entrepreneur',
    components: {
        contactform,
        fourthsecmf,
        banner,
        thirdpanel
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        gwfnumber: '+63-917-568-0402',
        countryCode: '',
        banner: {
            logo: '/static/img/LP/bacolod/logo_gwf.png',
            title: '<span style="color:white">Global</span> <span style="color:#f17921">WebForce</span>',
            subtitle: 'An International Company,<br/> Now in the Philippines',
            paragraph: 'Learn How Your Website Works <br/>and How Digital Marketing Can Help Your Business Online',
            highlighted: '<i class="fa fa-chevron-right"></i> LIMITED SLOTS ONLY! <br/><i class="fa fa-chevron-right"></i> AVAILABLE FOR ONLY 6 DAYS',
            subhighlighted: '1 on 1 Opportunity to Sit Down <br/>and Talk With Our Australian Team',
            elementStyle:{'background': 'url(/static/img/LP/bacolod/slider_1.jpg)','height':'auto','width':'100%','background-size':'cover','background-repeat':'no-repeat','background-position':'center bottom', 'padding-top': '80px', 'padding-bottom':'80px' },
        },
        contact: {
            title: 'Get a 1-on-1 Opportunity to Sit Down and Talk With Our Australian Team and Get Exclusive Perks',
            paragraph: 'Our Australian team has partnered with our PH team to help Bacolod Businesses',
            supportingparagraph: 'Register and get a chance to receive <br/> special perks worth P15,000!'
        },
        three_col:{
            title: '',
            subtitle: '',
            items: [
                {
                    icon: '/static/img/LP/bacolod/icon_1page.png',
                    label: 'Web Development Workshops',
                    description: 'Learn about the importance of website in growing your business, and how it can attract a wider set of potential clients. Know if your website is doing well and attracting the right crowd and how YOU can tap into the rich online market.'
                },
                {
                    icon: '/static/img/LP/bacolod/icon_allin.png',
                    label: 'Online Marketing Seminars',
                    description: 'Know the importance of online marketing in today’s ever increasing market. Learn the concept of search engine optimization and social media, and how it can increase your digital reach. '
                },
                {
                    icon: '/static/img/LP/bacolod/icon_onlinestore.png',
                    label: 'All-In Business Website',
                    description: 'Apart from holding workshops, we will also offer an all-in, comprehensive website that has everything you need to kick-start your business, and open you up to the world, with easy bank-to-bank payment schemes.'
                }
            ]
        },
        third: {
          eletmentSytle:{'background-image': 'url( ../static/img/LP/phil/image_cta.jpg)','background-size':'cover','background-repeat':'no-repeat','background-attachment':'fixed'},
          bannerTitle:'Learn and Grow Your Business! <br/> AVAILABLE FOR ONLY 6 DAYS',
          subTitle:'Sign Up Now and Get Prizes Worth Up to P15,000'
        }
      }
    },
    methods: {
      getCountry() {
        var _this = this
        var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
        axios.get(baseURL)
        .then(function(response){
          _this.countryCode = response.data.iso_code
          if(_this.countryCode === 'PH') {
            $(location).attr('href', '/')
          }
        })
        .catch(function (e){
          console.log(e)
        })
      },
    },
    created() {
      this.getCountry()     
    },
    mounted () {
        $('#head').attr('style', 'display:none!important')
    }
  }
  </script>
  <style lang="scss" >
  #manilafame {
    .second {
      margin-top: 50px;
    }
    h1.first, span.first {
      @media(max-width:1366px) {
        font-size: 35px!important;
      }
    }
  }

  /*manila fame timer*/

  #manilafame-offer-timer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 20px 0px;
    text-align: center;
    .timer-circle {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      padding: 35px 35px;
      margin: 5px 12px;
      border-radius: 50%;
      color: #fff;
      position: relative;
      p {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: -6.5px;
        span {
          font-size: 2.5rem;
        }
      }
    }
  }

  @media (max-width: 767px) {
    #manilafame-offer-timer {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }
  }

  @media (max-width: 767px) {
    #manilafame-offer-timer .timer-circle {
      display: inline;
      float: left;
      padding: 15px 10px;
      margin: 5px 8px;
    }
  }

  .cta-mf {
    font-family: lato;
    color: #fff;
    p {
      font-size: 25px;
      font-weight: 400;
    }
    a {
      color: #fff;
      background: #c2333a;
      font-size: 25px;
      padding: 10px 25px;
      font-family: 600;
    }
  }

  .script-mf {
    font-family: lato;
    font-weight: 600;
    color: #fff;
    span {
      color: #c2333a;
    }
  }
  </style>
