<template>
  <div id="chinese-new-year">
    <bannercy :bannerimage="data"></bannercy>
    <timercy></timercy>
    <freebiesncontactcy></freebiesncontactcy>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>
</template>

<script>
import Vue from 'vue'
import banner from '../common/banners/BannerImage'
import timer from '../chinese/timer'
import freebiesncontact from '../chinese/freebiesNcontact'
import axios from 'axios'
import $ from 'jquery'
Vue.component('bannercy', banner)
Vue.component('timercy', timer)
Vue.component('freebiesncontactcy', freebiesncontact)
export default {
  name: 'ChineseNewYear',
  data () {
    return {
      countryCode: '',
      data:{
        bannerImgSrc: '/static/img/LP/chinese/header_CY-slider.jpg'
      }
    }
  },
  methods: {
    getCountry() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode !== 'PH') {
          $(location).attr('href', '/')
        }
      })
      .catch(function (e){
        console.log(e)
      })
    },
  },
  created() {
    this.getCountry()
  }
}

</script>

<style lang="scss" scoped>
  @import './src/assets/styles/main.scss';
</style>
