<template>
  <div id="entrep">
    <banneref :entrepbanner="data"></banneref>
    <timeref></timeref>
    <firstsec></firstsec>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>

</template>
<script>
import Vue from 'vue'
import entrepbanner from '../entreprenuer/entrepbanner'
import firstpanelentrep from '../entreprenuer/firstpanelentrep'
import timeref from '../entreprenuer/timer'
import axios from 'axios'
Vue.component('banneref', entrepbanner)
Vue.component('firstsec', firstpanelentrep)
Vue.component('timeref', timeref)
  export default {
  name: 'Entrepreneur',
  data () {
    return {
      data:{
        countryCode: '',
        elementSytle:{'background': 'url(/static/img/LP/entrp/image_EFE-banner.jpg)','height':'auto','width':'100%','background-size':'cover','background-repeat':'no-repeat','padding-bottom':'4rem','padding-top':'4rem','background-position':'center bottom'},
        contents: [
          {
          content:'<h1 class="first" style="color: #194794;font-weight: 600;font-size: 54px;">TAKING PINOY</h1>'
          },{
            content:'<h1 class="second" style="color: #194794;font-size: 58px;font-weight: bold;">ENTREPRENEURS AND FRANCHISES</h1>'
          },{
            content:'<h1 class="third" style="color:#194794;font-size: 41px;font-weight: 400;">To New Heights with Modern Websites</h1>'
          }
        ],
        contentstwo: [
          {
            content:'<h1 class="first" style="color: #f9b419;font-weight: 600;font-size: 54px;background: #194794;margin: auto;pdading: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">BUSINESS WEBSITE</h1>'
          },{
            content:'<h1 class="second" style="color: #f9b419;font-weight: 600;font-size: 50px;background: #194794;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">FOR $208 ALL-IN</h1>'
          },{
            content:'<p class="third" style="color:black;font-weight: 600;font-size: 30px;background: #f9b419;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">GUARANTEED 48 HOURS DELIVERY</p>'
          }
        ],
      }
    }
  },
  methods: {
    changePrice() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.data.countryCode = response.data.iso_code
        if(_this.data.countryCode === 'PH') {
          _this.data.contentstwo[1].content = '<h1 class="second" style="color: #f9b419;font-weight: 600;font-size: 50px;background: #194794;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">FOR &#x20B1;8,999 ALL-IN</h1>'
        }
        console.log(_this.data.countryCode)
      })
      .catch(function (e){
        console.log(e)
      })
    }
  },
  created() {
    this.changePrice()
  }
}
</script>
<style lang="scss" scoped>
</style>
