<template>
  <div id="5years">
  <banner5 class="5years-banner" v-for="data in data" :data="data" :key="id"></banner5>
  <firstef></firstef>
  <contact-us></contact-us>
  <conmap></conmap>
  <gwffooter></gwffooter>
  </div>
</template>

<script>
import Vue from 'vue'
import banner from '../../common/banner-template1.vue'
import firstpanel from '../fiveyears/firstpanel.vue'
Vue.component('banner5', banner)
Vue.component('firstef', firstpanel)
export default {
  name: 'Home',
  data () {
    return {
      data: [
        {
          eletmentSytle:{'background-image': 'url( ../static/img/LP/5years/img/slider.jpg)','background-size':'cover','background-repeat':'no-repeat'},
          contents: [
            {
              content:'GLOBAL WEBFORCE 5 YEARS ANNIVERSARY',
            },{
              content:'CELEBRATING 5 YEARS'
            },{
              content:'OF BUILDING BUSINESS WEBSITES'
            },{
              content:'SPECIAL PROMO'
            },{
              content:'ALL-IN WEBSITE PACKAGES + FREEBIES'
            }
          ],
        }
      ]
    }
  }
}

</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
    #5years {
    }
</style>
