<template>
  <div id="entrep">
    <bannerf v-for="data in data" :key="id" :data="data"></bannerf>
    <timerf></timerf>
    <firstpanelf></firstpanelf>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>

</template>
<script>
import Vue from 'vue'
import bannerf from '../furniture/banner'
import firstpanelf from '../furniture/firstpanelf'
import timeref from '../furniture/timer'
import axios from 'axios'
Vue.component('bannerf', bannerf)
Vue.component('firstpanelf', firstpanelf)
Vue.component('timerf', timeref)
  export default {
  name: 'Furniture',
  data () {
    return {
      data: [
        {
          elementSytle:{'background-image': 'url( ../static/img/LP/furniture/image_PIFS-banner.jpg)','background-size':'cover','background-reat':'no-repeat'},
          bannerTitle: `<span style="font-weight:700;">Modern Website Built</span>`,
          subTitle: `Stylish and Functional For<br>Furniture Companies`
        }
      ]
    }
  },
  methods: {
    changePrice() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.data.countryCode = response.data.iso_code
        if(_this.data.countryCode === 'PH') {
          _this.data.contentstwo[1].content = '<h1 class="second" style="color: #f9b419;font-weight: 600;font-size: 50px;background: #194794;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">FOR &#x20B1;8,999 ALL-IN</h1>'
        }
        console.log(_this.data.countryCode)
      })
      .catch(function (e){
        console.log(e)
      })
    }
  },
  created() {
    this.changePrice()
  }
}
</script>
<style lang="scss" scoped>
</style>
