  <template>
    <div id="hub">
        <contactform :data="contact"></contactform>
    </div>

  </template>
  <script>
  import banner from '../bacolod/banner'
  import contactform from '../hubspot/with-contact-form'
  import fourthsecmf from '../bacolod/fourthpanel'
  import thirdpanel from '../bacolod/parallax.vue'
  import $ from 'jquery'

    export default {
    name: 'Entrepreneur',
    components: {
        contactform,
        fourthsecmf,
        banner,
        thirdpanel
    },
    data () {
        return {
          msg: 'Welcome to Your Vue.js App',
          contact: {
              title: '<span style="color:white">Global</span> <span style="color:#f17921">WebForce</span>',
              paragraph: 'Is Your Business Reaching <br/>its Maximum Potential?',
              supportingparagraph: 'LEARN THE ROPES OF ONLINE MARKETING <br/>WITH OUR FREE SEMINAR',
              description: `For 6 DAYS ONLY, Global WebForce’s Australian and PH Team 
              will be in the city to conduct online marketing seminars. Get a chance
              to learn from an experienced entrepreneur, and get a chance to receive
              exclusive offers, and freebies.
              `,
              supportdescription: 'No Obligations. No Strings Attached.'
         }
      }
    },
    mounted () {
        $('#head').attr('style', 'display:none!important')
    }
  }
  </script>

  <style lang="scss" >
  #hub {
    background:rgb(51, 51, 51);
    width: 100%;
    height: 100%;
  }
  #manilafame {
    .second {
      margin-top: 50px;
    }
    h1.first, span.first {
      @media(max-width:1366px) {
        font-size: 35px!important;
      }
    }
  }

  /*manila fame timer*/

  #manilafame-offer-timer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 20px 0px;
    text-align: center;
    .timer-circle {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      padding: 35px 35px;
      margin: 5px 12px;
      border-radius: 50%;
      color: #fff;
      position: relative;
      p {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: -6.5px;
        span {
          font-size: 2.5rem;
        }
      }
    }
  }

  @media (max-width: 767px) {
    #manilafame-offer-timer {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }
  }

  @media (max-width: 767px) {
    #manilafame-offer-timer .timer-circle {
      display: inline;
      float: left;
      padding: 15px 10px;
      margin: 5px 8px;
    }
  }

  .cta-mf {
    font-family: lato;
    color: #fff;
    p {
      font-size: 25px;
      font-weight: 400;
    }
    a {
      color: #fff;
      background: #c2333a;
      font-size: 25px;
      padding: 10px 25px;
      font-family: 600;
    }
  }

  .script-mf {
    font-family: lato;
    font-weight: 600;
    color: #fff;
    span {
      color: #c2333a;
    }
  }
  </style>
