<template>
  <div id="manilafame">
      <bannermf :manilabanner="data" :gwfnumber="gwfnumber"></bannermf>
      <secondsecmf></secondsecmf>
      <thirdsecmf> </thirdsecmf>
      <fourthsecmf></fourthsecmf>
  <contact-us></contact-us>
    <conmap></conmap>
  <gwffooter></gwffooter>
  </div>

</template>
<script>
import Vue from 'vue'
import manilabanner from '../manilafame/manilabanner'
import secondpanel from '../manilafame/secondpanel'
import thirdpanel from '../manilafame/thirdpanel'
import fourthpanel from '../manilafame/fourthpanel'
Vue.component('bannermf', manilabanner)
Vue.component('secondsecmf', secondpanel)
Vue.component('thirdsecmf', thirdpanel)
Vue.component('fourthsecmf', fourthpanel)
  export default {
  name: 'Entrepreneur',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      gwfnumber: '+63-917-568-0402',
      countryCode: '',
      data:{

              elementStyle:{'background': 'url(/static/img/LP/manila/image_banner.jpg)','height':'auto','width':'100%','background-size':'cover','background-repeat':'no-repeat','background-position':'center bottom', 'padding-top': '80px', 'padding-bottom':'80px' },
        contents: [
         {
          content:'<h1 class="first" style="color: white;font-weight: 600;font-size: 54px;">Worldclass <span class="first" style="color: #c2333a;font-weight: bold;font-size: 54px;">Filipino Craftsmanship,</span></h1>'
        },{
          content:'<h1 class="first" style="color: white;font-weight: 600;font-size: 54px;">Deserves a <span class="first" style="color: #c2333a;font-weight: bold;font-size: 54px;">Worldclass Website</span></h1>'
        },{
          content:'<h1 class="second" style="color:white;font-size: 41px;font-weight: bold;">You Deserve it too.</h1>'
        }
        ],
         contentstwo: [
         {
          content:'<h1 class="first" style="color: #f9b419;font-weight: 600;font-size: 54px;background: #194794;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">1 PAGE WEBSITE</h1>'
        },{
          content:'<h1 class="" style="color: #f9b419;font-weight: 600;font-size: 50px;background: #194794;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">FOR &#x20B1;8,999 ALL-IN</h1>'
        },{
          content:'<p class="third" style="color:black;font-weight: 600;font-size: 30px;background: #f9b419;margin: auto;padding: 10 22px 10px 22px;background-position: center;background-repeat: no-repeat;display: inline;">GUARANTEED 48 HOURS DELIVERY</p>'
        }
        ],
      }
    }
  },
  methods: {
    getCountry() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode === 'PH') {
          $(location).attr('href', '/')
        }
      })
      .catch(function (e){
        console.log(e)
      })
    },
  },
  created() {
    this.getCountry()
    alert('haha')
  }
}
</script>
<style lang="scss" >
#manilafame {
  .second {
    margin-top: 50px;
  }
  h1.first, span.first {
    @media(max-width:1366px) {
      font-size: 35px!important;
    }
  }
}

/*manila fame timer*/

#manilafame-offer-timer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 20px 0px;
  text-align: center;
  .timer-circle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 35px 35px;
    margin: 5px 12px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    p {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: -6.5px;
      span {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 767px) {
  #manilafame-offer-timer {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media (max-width: 767px) {
  #manilafame-offer-timer .timer-circle {
    display: inline;
    float: left;
    padding: 15px 10px;
    margin: 5px 8px;
  }
}

.cta-mf {
  font-family: lato;
  color: #fff;
  p {
    font-size: 25px;
    font-weight: 400;
  }
  a {
    color: #fff;
    background: #c2333a;
    font-size: 25px;
    padding: 10px 25px;
    font-family: 600;
  }
}

.script-mf {
  font-family: lato;
  font-weight: 600;
  color: #fff;
  span {
    color: #c2333a;
  }
}
</style>
