<template>
  <div id="ManilaFame">
    <bannermf :data="databanner"></bannermf>
    <freebiesncontactmf></freebiesncontactmf>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>
</template>

<script>
import Vue from 'vue'
import banner from '../manilafame/banner'
import timer from '../chinese/timer'
import freebiesncontact from '../ManilaFame/freebiesNcontact'
import axios from 'axios'
import $ from 'jquery'
Vue.component('bannermf', banner)
Vue.component('timermf', timer)
Vue.component('freebiesncontactmf', freebiesncontact)
export default {
  name: 'ManilaFame',
  data () {
    return {
      countryCode: '',
      data:{
        bannerImgSrc: '/static/img/LP/manilafame/image_MF-banner.jpg'
      },
      databanner: {
        elementSytle:{'background-image': 'url( ../static/img/LP/manilafame/image_MF-banner.jpg)','background-size':'cover','background-reat':'no-repeat'},
        bannerTitle: `Worldclass <span style="font-weight:700;color:#e01f42;">Filipino Craftsmanship</span><br>Deserves a <span style="font-weight:700;color:#e01f42;">Worldclass Website</span>`
      }
    }
  },
  methods: {
    getCountry() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode !== 'PH') {
          $(location).attr('href', '/')
        }
      })
      .catch(function (e){
        console.log(e)
      })
    },
  },
  created() {
    this.getCountry()
  }
}

</script>

<style lang="scss" scoped>
  @import './src/assets/styles/main.scss';
</style>
