<template>
  <div id="protect2018">
    <bannerps v-for="data in data" :data="data" :key="id"></bannerps>
    <timer></timer>
    <freebiesncontactps></freebiesncontactps>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>
</template>

<script>
import Vue from 'vue'
import banner from '../protect2018/banner.vue'
import timer from '../protect2018/timer.vue'
import freebiesncontact from '../protect2018/freebiesNcontact.vue'
Vue.component('bannerps', banner)
Vue.component('timer', timer)
Vue.component('freebiesncontactps', freebiesncontact)
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      data: [
        {
          eletmentSytle:{'background-image': 'url( ../static/img/LP/protect2018/slider.jpg)','background-size':'cover','background-reat':'no-repeat'},
          title: 'Greenware Computers',
          laptopimg: '../static/img/homepage/img_greenware.png',
          bannerTitle: `A <span style="color:#fff000; font-weight:400;">MODERN</span> and<br><span style="color:#fff000; font-weight:400;">SECURE WEBSITE</span>`,
          subTitle: `For the Companies who Protect and Serve Our Safety`,
          contents: {

          }
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss'
</style>
