<template>
<div id="subiclp">
    <banner :data="data" v-for="data in data" :key="data.id"></banner>
    <first :data="datatwo"></first>
    <third :data="third"></third>
      <conmap></conmap>
    <gwffooter></gwffooter>

</div>
</template>
<script>
import Vue from 'vue'
import bannerPhil from '../../common/bannerPhil.vue'
import subic from '../subic/subic.vue'
import thirdpanel from '../subic/thirdpanel.vue'
Vue.component('banner', bannerPhil)
Vue.component('first', subic)
Vue.component('third', thirdpanel)
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      data: [
        {
          eletmentSytle:{'background-image': 'url( ../static/img/LP/phil/subic_banner.jpg)','background-size':'cover','background-repeat':'no-repeat','background-attachment':'fixed'},
          bannerTitle:'Global WebForce PH',
          subTitle:'Helping Subic Bay Businesses, Go Global'
      }
    ],
    third: {
      eletmentSytle:{'background-image': 'url( ../static/img/LP/phil/image_cta.jpg)','background-size':'cover','background-repeat':'no-repeat','background-attachment':'fixed'},
      bannerTitle:'Having a Business Website has Never Been this Easy',
      subTitle:'Call Us Today and We’ll Handle the Project From Start to End'
    },
    datatwo: [
    {
      img:'../../static/img/LP/phil/icon_1page.png',
      head:'1 Page Business Website',
                    message:"Recommended for small and local businesses that are looking to get started in improving their online awareness and establish credibility. ",
    },{
      img:'../../static/img/LP/phil/icon_allin.png',
      head:'All-In Business Website Package',
                    message:"Our most in-demand business website package that incorporates your branding and features that help turn website visitors into customers. ",
    },{
      img:'../../static/img/LP/phil/icon_onlinestore.png',
      head:'Online Store Website Package',
                    message:"Take and Sell your products online with this package. Easy to manage and ready for payment gateway platforms such as DragonPay, Pay Maya and PesoPay.",
    }
    ]
  }
}
}

</script>
<style>
</style>
