<template>
  <div id="valentines">
    <bannervd :bannerimage="data" class="no-padding"></bannervd>
    <timervd></timervd>
    <freebiesncontactvd></freebiesncontactvd>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>
</template>

<script>
import Vue from 'vue'
import banner from '../common/banners/BannerImage'
import timer from '../valentines/timer'
import freebiesncontact from '../valentines/freebiesNcontact'
import axios from 'axios'
import $ from 'jquery'
Vue.component('bannervd', banner)
Vue.component('timervd', timer)
Vue.component('freebiesncontactvd', freebiesncontact)
export default {
  name: 'ValentinesDay',
  data () {
    return {
      countryCode: '',
      data:{
        bannerImgSrc: '/static/img/LP/valentines/header_VA-slider.jpg'
      }
    }
  },
  methods: {
    getCountry() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode !== 'PH') {
          _this.data.bannerImgSrc = '/static/img/LP/valentines/header_AUVA-banner.jpg'
        }
      })
      .catch(function (e){
        console.log(e)
      })
    },
  },
  created() {
    this.getCountry()
  }
}

</script>

<style lang="scss" scoped>
  @import './src/assets/styles/main.scss';
  .no-padding {
    padding:0px;
  }
</style>
