<template>
  <div id="worldbex">
    <bannerwb :bannerimage="data"></bannerwb>
    <timerwb></timerwb>
    <firstpanelwb></firstpanelwb>
    <contact-us></contact-us>
    <conmap></conmap>
    <gwffooter></gwffooter>
  </div>

</template>
<script>
import Vue from 'vue'
import bannerwb from '../common/banners/BannerImage'
import firstpanelwb from '../worldbex/freebiesNcontact'
import timerwb from '../worldbex/timer'
import axios from 'axios'
Vue.component('bannerwb', bannerwb)
Vue.component('firstpanelwb', firstpanelwb)
Vue.component('timerwb', timerwb)
export default {
  name: 'WorldBex',
  data () {
    return {
      countryCode: '',
      data:{
        bannerImgSrc: '/static/img/LP/worldbex/header_WB-slider.jpg'
      }
    }
  },
  methods: {
    getCountry() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode !== 'PH') {
          $(location).attr('href', '/')
        }
      })
      .catch(function (e){
        console.log(e)
      })
    },
  },
  created() {
    this.getCountry()
  }
}
</script>
<style lang="scss" scoped>
</style>
