<template>
      <div id="contactform">
       <div class="container">
         <div class="row">
          <div class="col-md-12" style="padding:10px;">
              <h2 class="title">SIGN UP AND GET A CHANCE TO GET OUR EXCLUSIVE OFFERS</h2>
              <p>Fill up the form below and we will quickly scheudle a meeting to discuss Outsourcing and how we make the transition seamless.</p>
          </div>
         </div>
         <div class="row">
           <form class="form" @submit.prevent="onSubmit">
             <div class="form-group">
               <input class="form-control"  v-model="form.business_name" type="text" placeholder="BUSINESS NAME">
                <small v-if="err.hasOwnProperty('business_name')">{{err.business_name[0]}}</small>
             </div>
             <div class="form-group">
               <input class="form-control"  v-model="form.firstname" type="text" placeholder="FIRST NAME">
                <small v-if="err.hasOwnProperty('firstname')">{{err.firstname[0]}}</small>
             </div>
             <div class="form-group">
               <input class="form-control"  v-model="form.lastname" type="text" placeholder="LAST NAME">
                <small v-if="err.hasOwnProperty('lastname')">{{err.lastname[0]}}</small>
             </div>
             <div class="form-group">
               <input class="form-control"  v-model="form.email" type="text" placeholder="EMAIL NAME">
                <small v-if="err.hasOwnProperty('email')">{{err.email[0]}}</small>
             </div>
             <div class="form-group">
               <input class="form-control" v-model="form.phonenumber" type="number" placeholder="PHONE NUMBER">
                <small v-if="err.hasOwnProperty('phonenumber')">{{err.phonenumber[0]}}</small>
             </div>
             <div class="form-group">
                <button class="btn">SCHEDULE AN APPOINTMENT</button>
             </div>
           </form>
           <div class="contact-footer">
            <ul>
              <li><i class="fa fa-phone"></i> +641 9200 663</li>
              <li><i class="fa fa-envelope"></i> enquiry@globalteleforce.com</li>
              <li><i class="fa fa-envelope"></i> hitesh.parekh@globalteleforce.com</li>
            </ul>
           </div>
         </div>
       </div>
      </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import axios from 'axios'
import swal from 'sweetalert2'
Vue.use(VeeValidate);
export default {
  props: ['head'],
  data () {
    return {
      form: {
        business_name: '',
        firstname: '',
        lastname: '',
        email: '',
        phonenumber: ''
      },
      err: []
    }
  },
  methods: {
    onSubmit () {
      this.validate()
    },
    send() {
      axios.post('https://www.globalwebforce.com/static/mail-sender/contact-hubstop.php', JSON.stringify(this.form))
      .then(res => {
        swal("Thank You!", "Someone from our team will get back to you in no less than 24 hours.", "success");
      }).catch(err => {
        console.log(1)
      })
    },
    validate () {
      let form = this.form
      let err = []
      let counter = 0

      for(let key in form) {
         if (form[key] === '') {
           if (key === 'phonenumber') {
            if (typeof form[key] !== 'number') {
              err[key] = ['This field must be numeric.']
            }
           } else {
             err[key] = ['This field is required.']
           }
           counter++
          }
      }
      this.err = err
      if(counter === 0) {
        this.send()
      }
    }
  }
}
</script>



<style lang="scss" scoped>
 @import'./src/assets/styles/main.scss';

 $primary-color: #A21ee8;

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(126, 126, 126);
  padding-left:1rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(126, 126, 126);
  padding-left:1rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(126, 126, 126);
  padding-left:1rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(126, 126, 126);
  padding-left:1rem;
}

#contactform {
  .container {
    padding: 0px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);

    @media (min-width: 1920px) {
      margin-top: 5rem;
    }
    
    .title {
      color: $primary-color;
    }

    h2 {
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    
    .form {
      padding-top: 1rem;
      width: 100%;
      .form-group {

         small {
          text-align: center;
          display: block;
          color: red;
        }

        input {
          margin: 0 auto;
          display: block;
          width: 80%;
          background: rgb(226, 226, 226);
        }

        button {
          margin: 0 auto;
          display: block;
          width: 80%;
          background: $primary-color;
          color: white;
        }
      }
    }

    .contact-footer {
      border-top: 1px solid $primary-color;
      width: 100%;
      padding-top: 1rem;
      ul {
        list-style: none;
       
        @media (max-width: 767px) {
          margin-left: -2rem;
        }

        li {
          i {
            color: $primary-color;
            &:before {
              padding-right: 1rem;
            }
          }
        }
      }
      .title {
        padding-top: .5rem;
        color: black;
        span {
          &.highlited {
            color: $primary-color;
          }
        }
      }
    }
  }
}
.contactformspacing {
  margin:0;
     @media screen and (max-width: 1366px) {
      margin:0 0vh;
      }
   @media screen and (max-width: 414px) {
      margin:0 0vh;
      }

}
.btn-danger {
 width:100%;
}
.btn {
  @media screen and (max-width: 667px) {
      height:12vh!important;
      }
        @media screen and (max-width: 414px) {
      height:6vh!important;
      }
}
input.is-danger,textarea.is-dager,select.is-danger {
  box-shadow: 0 0 15px red;
}
small.is-danger {
  color: white;
  font-style:italic;
  margin-top: 10px!important;
}
</style>
