    <template>
      <div id="first">
        <div class="container-fluid firstsec" style="padding:0;">
          <div class="row" style="margin: 0;">
              <div data-aos="fade-right" class="col-md-7 content-container">
                <h1 class="title" v-html="data.title"></h1>
                <h2 class="paragraph" v-html="data.paragraph"></h2>
                <h2 class="supportingparagraph" v-html="data.supportingparagraph"></h2>
                <p class="description" v-html="data.description"></p>
                <p class="description" v-html="data.supportdescription"></p>
              </div>
              <div class="col-md-5">
                <div class="row"  style="margin:0!important;">
                  <div class="col-md-10">
                      <contact></contact>
                  </div>
                </div>
              </div>
        </div>
        </div>
        <!-- <div class="container-fluid" style="background:#eeeeee;">
          <div class="row" style="margin:0!important;">
            <div class="col-md-12">
              <secondpanelHome></secondpanelHome>
            </div>
          </div>
        </div> -->
      </div>

    </template>

    <script>
    import contact from './contactform'
    import AOS from 'aos';
        export default {
          name: 'firstpanel',
          props: ['data'],
          components: {
              contact
          }
        }
        AOS.init({
            duration: 700,
          })

    </script>
    <style lang="scss" scoped>
     @import'./src/assets/styles/main.scss';


    .title {
      margin-top: -8rem !important;
      @media(min-width: 1920px) {
        font-size: 5rem;
        margin-top: 0rem !important;
      }
      @media(max-width: 767px) {
        margin-top: 0px !important;
      }
    }

    .paragraph, .supportingparagraph, .description {
      color: white;
    }

    .paragraph {
      @media(min-width: 1920px) {
        font-size: 3.5rem;
      }
    }

    .supportingparagraph {
      @media(min-width: 1920px) {
        font-size: 3.5rem;
      }
    }

    .description {
      margin-top: 2rem;
      font-family: inherit;
      font-weight: 300 !important;
      padding: 0rem 2rem;
      font-size: 1.2rem;



      @media(max-width: 767px) {
        margin-top: 0px !important;
        font-size: 1rem;
      }
    }

     #first {
      width: 100%;
      height: 100%;
      background: url('/static/img/LP/hubspot/image_banner.jpg') no-repeat; 
      background-size: contain;      

      @media (max-width: 767px) {
        background-size: cover;
      }
     }
     .mobile-view {
      @media(max-width:1920px) {
        display:none;
      }
      @media(max-width:767px) {
        display:block;
      }
     }
     .desktop-view {
      @media(max-width:767px) {
        display:none;
      }
     }
    .col-md-5 {
      padding: 50px 0px 50px 0px;
    }
    h4 {
    color:white;
    }
    p {
        color: #ff3c64;
        font-weight: bold;
    }
    .bgyeloow {
      background-image: url(/static/img/homepage/icon_holder.jpg);
    height: 14vh;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    display: table;
    background-position: top;
        h4 {
          color: white;
          vertical-align: middle;
          font-size: 9vh;
          display: table-cell;
        }

    }
    .firstsec {
      @media(max-width: 767px) {
        // margin-top:15%;
      }
      @media screen and (max-width: 414px) {
        height: auto;
      }
    }
  h1 {
    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
    font-weight: bold !important;
    z-index: 107;
    font-family: 'Ubuntu', sans-serif;
    padding: 24px;
    font-size: 3rem;
    @media (max-width: 767px) {
      font-size: 2.5rem;
    }
  }
  h1#yellowbgBig {
    @media(max-width:767px) {
      font-size: 8vw!important;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 200;
    padding: 0px 2rem;
    @media(max-width:767px) {
      font-size: 1.5rem!important;
    }
  }

  .content-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

 .supportingparagraph {
   padding-top: 2rem;
   font-weight: 500;

   @media(max-width:767px) {
      padding-bottom: 0rem;
    }
 }
</style>


