<template>
  <section class="header-banner" :style="data.eletmentSytle">
    <div class="container">
      <div style="margin-left:1.5%; margin-right:1.5%;">
        <div class="ui stackable grid">
          <div class="six wide computer only column"></div>
          <div class="ten wide computer sixteen wide tablet column">
            <div class="gwftitle">
              <div class="bannertitle">
                <ul>
                  <li data-aos="flip-right" v-for="content in data.contents"> {{ content.content }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    name: 'Slider',
    props: ['data'],

  data () {
    return {
    }
  },
};

</script>

<style lang="scss" scoped>
.header-banner {
  height:80vh;
  background-position: top center;
  margin-top:1%;
  @media(max-width:991px) {
    background-position: top right;
  }
  @media(max-width:767px) {
    height:90vh;
  }
 .gwftitle {
    @media(max-width:767px) {
      margin-top: 6%;
    }
    h1{
      margin: auto !important;
      font-family: 'Ubuntu';
      text-shadow: 1px 1px #000000;
      font-size: 3vw;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 15vw;
      }
      @media screen and (max-width: 414px) {
        font-size: 10vw;
      }
    }
    ul {
      margin-top: 5%;
      @media(max-width:800px) {
        margin-left: 25%;
      }
      @media(min-height:800px) {
        margin-top: 8%;
      }
      li {
        font-size: 36px;
        color: white;
        text-shadow: 1px 1px #000000;
        line-height: 1em;
        @media(max-width:1024px) {
          line-height:1em;
        }
        list-style: none;
        &:nth-child(1) {
          color:black;
          font-size:2.4vh;
          font-weight: 600;
        }
        &:nth-child(2) {
          color:#A21ee8;
          font-size:6.1vh;
          font-weight: 600;
          @media(max-width:767px) {
            font-size:5vh;
          }
        }
        &:nth-child(3) {
          color:black;
          font-size:4vh;
          font-weight: 600;
          @media(max-width:767px) {
            font-size:3vh;
          }
        }
        &:nth-child(4) {
          margin-top:3%;
          color:black;
          font-size:7vh;
          font-weight: 100;
        }
        &:nth-child(5) {
          color:rgb(255, 60, 100);
          font-size:2.7vh;
          font-weight: bold;
        }
      }
    }
  }
}
</style>
