<template>
  <section class="header-banner" :style="data.eletmentSytle">
    <div class="container">
      <div style="margin-left:1.5%; margin-right:1.5%;">
        <div class="row">
          <div class="col-md-12">
            <div class="gwftitle">
              <div class="bannertitle">
                <h1 v-html="data.bannerTitle"></h1>
                <h4 v-html="data.subTitle"></h4>
              </div>
            </div>
            <div>
               <a class="banner-btn" href="/contact">GET STARTED</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    name: 'Slider',
    props: ['data'],

  data () {
    return {
    }
  },
};

</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
.header-banner {
  height:80vh;
  background-position: top center;
  margin-top:1%;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  @media(max-width:991px) {
    background-position: center;
  }
  @media(max-width:767px) {
    height:90vh;
    background:none;
  }

 .gwftitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-bottom: 50px;
    @media(max-width:767px) {
      margin-top: 6%;
    }
    h1{
      font-size: 3vw;
      font-weight: bold;
      @media screen and (max-width: 767px) {
        font-size: 4vw;
      }
      @media screen and (max-width: 414px) {
        font-size: 5vw;
      }
    }
    h4 {
      font-size:31px;
      color:white;
    }
  }
}
.banner-btn {
  color: white;
  border: 1px solid white;
  padding: 13px 20px;
  font-size: 1.2vw;
  transition: all 0.3s ease-in-out;
  @media(max-width:991px) {
    font-size:20px;
  }
}
.banner-btn:hover {
  color: #051726;
  background-color: white;
  border-color: white;
  text-decoration:none;
}
.row {

  text-align: center;
}
</style>
