<template>
  <div id="slide">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active"  v-for="data in data" >
              <div :style="data.eletmentSytle">
              <div class="col-md-10 gwftitle" style="display: table">
              <div style="display:table-cell;height:115vh;vertical-align:middle;">
                  <h1 v-html="data.title"></h1>
              <!-- <p v-html="data.content"></p> -->
                <ul>
                    <li v-for="content in data.contents"><i class="fa fa-caret-right" aria-hidden="true"></i> {{ content.content }}</li>
                </ul>
              </div>

            </div>
              </div>

            </div>
      <!--       <div class="carousel-item">
              <img class="d-block w-100" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160b4c7775f%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160b4c7775f%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22217.7%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160b4c7775f%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160b4c7775f%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22217.7%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Third slide">
            </div> -->
          </div>
        <!--   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span> -->
          </a>
        </div>
  </div>
</template>
<script>
 export default {

      name: 'slides',
        data () {
          return {
            msg: 'Welcome to Your Vue.js App',
      data: [
        {

          eletmentSytle:{'background-image': 'url( ../static/img/banner01.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'GLOBAL WEBFORCE',
             contents: [
              {
                content:'We are a digital agency that combines web technology and creativity to do wonders.',
              }
            ]
        },{

          eletmentSytle:{'background-image': 'url( ../static/img/banner02.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Integrated Digital Marketing',
                contents: [
              {
                content:'Integrated SEO',
              },{
                content:'Integrated PPC',
              },{
                content:'Integrated Social Media Marketing'
              }]
        },{

          eletmentSytle:{'background-image': 'url( ../static/img/banner03.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Website Design Services',

            contents: [
              {
                content:'Business Website',
              },{
                content:'Corporate Websites',
              },{
                content:'Creative Branding'
              }
            ]

        }
      ],
          }
        }
      }


</script>


<style scoped>


  .carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border: 1px solid white;
    width: 11px;
    height: 10px;
    line-height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 65%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.carousel-indicators .active {
      background-color: #fff;
    border: 1px solid white;
    width: 11px;
    height: 10px;
    line-height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 65%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
</style>

