<template>
  <div id="contentdigitalbanners">
    <flickity class="main-carousel" ref="flickity" :options="flickityOptions">
         <div class="carousel-cell" v-for="data in data" style="overflow:hidden!important;">
          <div class="container-fluid" :style="data.eletmentSytle">
            <div class="row">
              <div class="col-md-1"></div>
                 <div class="col-md-6 gwftitle" style="display: table">
                 <div class="bannertitle" style="display:table-cell;height:106vh;vertical-align:middle;">
              <div class="bannertitle">
                  <h1  data-aos="flip-left" v-html="data.title"></h1>
              <!-- <p v-html="data.content"></p> -->
                <ul>
                    <li  data-aos="flip-right" v-for="content in data.contents">{{ content.content }}</li>
                </ul>
                 </div>
              </div>
            </div>
            <div class="col-md-6"></div>
            </div>

         </div>
         </div>

    </flickity>
  </div>
</template>
<script>
import Flickity from 'vue-flickity';
    export default {
      name: 'Slider',
      props: ['data'],
      components: {
        Flickity
    },

    data () {
        return {
                flickityOptions: {
                initialIndex: 3,
                prevNextButtons: false,
                pageDots: false,
                wrapAround: true,
                autoPlay:false,
                setGallerySize: true

                // any options from Flickity can be used
            }
        }
    },

    methods: {
        next() {
            this.$refs.flickity.next();
        },

        previous() {
            this.$refs.flickity.previous();
        }
    }
};

</script>

<style lang="scss" scoped>


 .main-carousel {

@media screen and (max-width: 1681px) {
           height: 66vh!important;
      }
      @media screen and (max-width: 414px) {
        height: 38vh !important;
      }
      @media screen and (max-width: 320px) {
               height: 41vh !important;
      }

    .carousel-cell {

      height: 791.75px;
      width: 100%;
          opacity: 0!important;
     transition: opacity 1.5s ease-in-out!important;
     z-index: -1!important;
       &.is-selected {
        opacity: 1!important;
        z-index: 0!important;
      }
      @media screen and (max-width: 767px) {
        height: auto!important;
      }
      @media screen and (max-width: 1681px) {
        height: 75vh!important;
      }


      .container-fluid {
        height: 100%!important;
        background-size: cover!important;
        background-position: center;
         @media screen and (max-width: 1681px) {
            height: 88% !important;
    background-size: cover!important;
    background-position: center;
      }
      @media screen and (max-width: 414px) {
            height: 50% !important;
    background-size: cover!important;
    background-position: center;
      }
      @media screen and (max-width: 320px) {
            height: 61% !important;
    background-size: cover!important;
    background-position: center;
      }
              }

        h2 {
          color: white ;
          font-size: 100px;

        }
        h3 {
          color: white ;
          font-size: 100px;

        }
          .homebanner {

          @media screen and (max-width: 1680px) {
          height:66vh!important;
          }
            @media screen and (max-width: 1366px) {
          height:89vh !important;
          }
               @media screen and (max-width: 414px) {
          height:40vh!important;
          }
        }

    }


}
  ol.flickity-page-dots {
      bottom:150px!important;
    }
 .gwftitle {
    @media(max-width:767px) {
      margin-top: 6%;
    }
    h1{

        margin: auto !important;
        font-family: 'Ubuntu';
        text-shadow: 1px 1px #000000;
        font-size: 3vw;
        color: white;
        @media screen and (max-width: 767px) {
          font-size: 15vw;
        }
        @media screen and (max-width: 414px) {
          font-size: 10vw;
        }





        }      p {

      }
      li {
        font-size: 36px;
          color: white;
          text-shadow: 1px 1px #000000;
            line-height: 42px;
            list-style: none;
            @media(max-width:767px) {
              font-size: 30px;
              break-wrap: break-word;
            }

      }
      ul {
        padding-left: 0;
      }
   }
.bannertitle {

      @media screen and (max-width: 414px) {
          height: 27vh!important;

      }
  h1 {

  }

}
</style>
