<template>
  <div id="contactusmap">
    <div class="container-fluid ui fluid image maps">
      <div class="row">
        <div class="col-md-6 pull-right half-vio-cta" >
          <div class="col-md-6"></div>
          <div class="col-md-6 pull-right" style="display:table;">
            <div style="display: table-cell;vertical-align: middle;height: 51vh;">
              <h1>{{ data.headerr }}</h1>
              <ul class="gwfInfo">
                <li><img :src="gwflogo" alt=""></li>
                <li v-html="gwfaddress"></li>
                <li v-show="country==='PH'"><a href="tel:+639175680402"><i class="fa fa-mobile" aria-hidden="true"></i> +639175680402</a></li>
                <li v-for="num in gwfnumber"><a :href="`tel:${num}`"><i class="fa fa-phone" aria-hidden="true"></i> {{num}}</a></li>
                <li v-for="mnum in gwfmnumber"><a :href="`tel:${mnum}`"><i class="fa fa-mobile" aria-hidden="true"></i> {{mnum}}</a></li>
                <li><a :href="`mailto:${gwfemail}`"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{gwfemail}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import axios from 'axios'
    export default {
      name: 'mapp',
        data () {
          return {
            msg: 'Welcome to Your Vue.js App',
              data: [
                {
                  headerr:'Contact Us'
                },
              ],
              gwflogo: '/static/img/logo_footer.svg',
              gwfaddress: 'Unit 3203 Antel Global Corporate Center, Julia Vargas Ave., Ortigas Center, Pasig City, Philippines ',
              gwfemail: 'inquiry@globalwebforce.com',
              gwfnumber: ['+632-6571872', '1300 77 88 62'],
              gwfmnumber: ['+63-917-568-0402'],
              country: ''
          }
        },
        mounted() {
          this.getCountry()
        },
        methods: {
          getCountry() {
            var _this = this
            var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
            axios.get(baseURL)
            .then(function(response){
              _this.country = response.data.iso_code
              if(_this.country === 'AU') {
                _this.gwfnumber = '0419 200 663'
                _this.gwfaddress = '425 Bell Street, Pascoe Vale South,<br>(Corner of Springhall Parade),<br>Victoria, 3044, Australia'
              }
            })
            .catch(function (e){
              console.log(e)
            })
          }
        }
      }

</script>

<style lang="scss" scoped>
.maps {
  background-image: url('/static/img/homepage/antel-map.jpg');
    height: 51vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    .gwfInfo{
      li, li a {
        list-style:none;
        color:white;
        font-size:17px;
        a:hover {
          color:white!important;
          text-decoration: none!important;
        }
      }
  }
  .half-vio-cta {
    background-color:#262626;
  }
       @media screen and(max-width:667px) {
        height: auto!important;
            }
}
ul {
  padding:0;
}

</style>
