<template>
  <div id="GWFfooter" >
    <div class="row gwfoot" style="background:black;margin:0;">
      <div class="col-md-2"></div>
      <div class="col-md-4 copyright"v-for="data in data">
        <p  v-html="data.content"></p>
      </div>
      <div class="col-md-4">
        <ul class="social">
            <li v-for="data in footerGWF">
              <a :href="data.url" :title="data.title">
                <img :src="data.img" alt="">
              </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
      name: 'footerr',
        data () {
          return {
            msg: 'Welcome to Your Vue.js App',
              footerGWF: [
                {
                 url: 'https://www.facebook.com/GlobalWebforce',
                 title: 'Facebook',
                 img: '../../static/img/social-icons/social-fb.png'
                },{
                 url: 'https://plus.google.com/+Globalwebforce',
                 title: 'Google+',
                 img: '../../static/img/social-icons/social-gplus.png'
                },{
                 url: 'https://www.linkedin.com/company/global-webforce-ltd/',
                 title: 'LinkedIn',
                 img: '../../static/img/social-icons/icon_linkedin.png'
                },{
                 url: 'https://twitter.com/globalwebforce',
                 title: 'Twitter',
                 img: '../../static/img/social-icons/social-twitter.png'
                },{
                 url: 'https://www.behance.net/Globalwebforce',
                 title: 'Behance',
                 img: '../../static/img/social-icons/icon_behance.png'
                },
              ],
              data: [
                {
                 content:'Copyright&copy;'+ new Date().getFullYear() +'  Global WebForce. All Rights Reserved. <br/><a href="/terms-and-conditions">Terms and Conditions</a><a href="/privacy" style="padding-left: 2rem">Privacy Policy</a>'
                }
              ]
          }
        }
      }

</script>
<style lang="scss" scoped>
 @import'./src/assets/styles/main.scss';
  ul {

        list-style: none;
        display: flex;
        flex-flow:row wrap;
        margin: 0;
        position: relative;
        justify-content: center;
        padding:0px;
  }
#GWFfooter {
  @media(max-width:767px){
    text-align: center;
  }
  .gwfoot {
    position:relative;
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width:767px) {
        margin: 15px 0px;
      }
      p {
        margin:0px;
        color:#fff;
      }
    }
    .social {
      padding:0px;
      @media(max-width:767px) {
        margin:10px 0px;
      }
      img {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
    ul {
     @media screen and (max-width: 667px) {
      }
        @media screen and (max-width: 375px) {
          left:0;
      }
    }
  }
}

</style>
