<template>
  <div id="head">
         <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">

             <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
                <li class="nav-item active" style="margin: auto;">
                   <a href="/"><img src="/static/img/logo_navi.png" alt="" style="width:100%;"></a>
                </li>
                <li class="nav-item"style="margin: auto;" v-for="data in data">
                  <a :href="data.url" @click="toggleMenuMobile()" class="nav-link"> {{ data.content }} <span class="sr-only">(current)</span></a>
                </li>
        </ul>
        </div>
    </nav>
  </div>
</template>

<script>
    import $ from 'jquery'
    export default {
      name: 'Header',
        data () {
          return {
            msg: 'Welcome to Your Vue.js App',
              data: [
              {
                content: 'ABOUT US',
                url:"/about",
              },{
                content: 'PORTFOLIO',
                url:"/portfolio"
              },{

                content: 'WEB DESIGN',
                url:"/website-design"
              },{
                content: 'DIGITAL MARKETING',
                url:"/digital-marketing"
              },{
                content: 'CREATIVE & CONTENT',
                url:"/design-and-content"

              },{

                content: 'BLOG',
                url:"http://blog.globalwebforce.com"
              },{
                content: 'CONTACT US',
                url:"/contact"
              },{
                title:'Global WebForce'
              },
            ],
          }
        },
        methods: {
           toggleMenuMobile() {
              if($('.navbar-collapse').hasClass('show')) {
                $('.navbar-collapse').removeClass('show')
              } else {
                $('.navbar-collapse').addClass('show')
              }
           }
        }
      }
</script>
<style lang="scss" scoped>
.navbar navbar-expand-lg navbar-light bg-light align-middle {
 .ui.three.item.menu {
    box-shadow: none;
    margin: 10px;
    border:none;
    .item {
      width: 9%;
    }
    .menu {
      border: 0;

    }
  }
}
.navbar .navbar-nav {
  @media (min-width: 768px) {
    float: right;
    width: 70vw;
    margin: auto;
  }
  @media (min-width: 992px) {
    width: 87vw;
  }
  @media (min-width: 992px) and (max-width: 1256px) {
    font-size: xx-small;
  }
}
.navbar .navbar-collapse {
  @media (min-width: 768px) {
    text-align: center;
  }
}
.nav-link {
  font-weight: 700;
}
</style>
