<template>
  <div class="iconBoxContainer">
    <div class="iconBoxBlock">
      <div class="iconBox">
        <div class="icon">
          <ImageComponent :imagecomponent="iconbox" alt="" class="ui image fluid" />
        </div>
        <div class="info">
          <h3 v-if="iconbox.title !== null" v-html="iconbox.title"></h3>
          <p v-if="iconbox.description !== null" v-html="iconbox.description"></p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import imagecomponent from '@/assets/components/common/ImageComponent'
Vue.component('ImageComponent', imagecomponent)
export default {
  name: 'IconBox',
  props: ['iconbox'],
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
.iconBoxContainer {
  .iconBoxBlock {
    margin: 10px 15px;
    .iconBox {
      display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      flex-flow:column;
      align-items:center;
      justify-content:center;
      text-align:center;
      .icon {
        margin-bottom: 5%;
      }
    }
  }
}
</style>
