<!-- <template>
  <div id="logoslide">

        <div class="container">
          <div class="row">
    <carousel>
      <slide v-for="data in data">
            <div class="col-md-3">
              <img :src="data.img" alt="" >
            </div>
      </slide>
    </carousel>

          </div>
        </div>
  </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel';
export default {
  name: 'logocarousel',
  props: ['data'],
  components: {
    Carousel,
    Slide
  }
};
</script>
<style lang="scss">
  #logoslide {
    background: #e9e8e3;
  }
</style>
 -->
