<template>
  <div class="imageComponent">
    <img :src="imagecomponent.imgSrc" class="ui image fluid" alt="">
  </div>
</template>
<script>
export default {
  name: 'ImageComponent',
  props: ['imagecomponent'],
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
.imageComponent {
}
</style>
