<template>
  <div id="projects">
  <div class="container-fluid">
    <div class="row" style="margin:0!important;">
      <div class="col-md-12">
        <div style="margin:0!important;">
    <div v-for="data in clienthead" style="margin:0!important; padding-bottom:10px;">
      <h1 data-aos="fade-down" id="yellowbg" v-html="data.title" style="padding-bottom:0px!important;"></h1>
      <p data-aos="fade-up" v-html="data.content" style="text-align:center;font-size:17px;"></p>
      <p data-aos="fade-up" v-html="data.contentTitle" style="text-align:center;padding:1vh 0 2vh 0;"></p>
    </div>
      </div>
    </div>

  </div>
 </div>
   <flickity class="main-carousel" ref="flickity" :options="flickityOptions">
         <div class="carousel-cell" v-for="data in data" style="overflow:hidden!important;" >
          <div class="container-fluid slider-container" :style="data.eletmentSytle">
            <div class="row hidden-sm-xs" style="margin:0!important;">
              <div class="portfolio-container">
               <div class="col-md-7 hidden-sm-down hidden-xs-down portfolio-img">
                  <div class="portfolio-img-vlign">
                    <img  data-aos="slide-up" :src="data.laptopimg" alt="">
                  </div>
                </div>
                <div data-aos="slide-up" class="col-md-5 portfolio-text">
                  <div class="portfolio-text-vlign">
                     <h1  v-html="data.title"></h1>
                     <ul>
                        <li  v-for="content in data.contents"> {{ content.content }}</li>
                    </ul>
                    <a  :href="data.url" target="_blank">
                       <button   class="buttonsitelink" >

                      VIEW WEBSITE

                    </button>
                    </a>


                  </div>
                </div>
              </div>
            </div>
         </div>
         </div>
    </flickity>


    </div>
</template>
<script>
import Flickity from 'vue-flickity';
    export default {
      name: 'projectslider',
      props: ['data'],



      components: {
        Flickity
    },

    data () {
        return {
                flickityOptions: {
                initialIndex: 0,
                prevNextButtons: true,
                pageDots: false,
                wrapAround: true,
                autoPlay:4000

                // any options from Flickity can be used
            },
              clienthead: [
                {
                  title:'See Our Works',
                  content:'We cater to different website design projects with varying requirements and complexities.<br>With a team of designers, developers, writers, digital strategists and project managers, each <br>project was given keen attention to detail and efficient end-to-end process.<br>',
                  contentTitle:'<span style="font-weight:500;font-size:30px;">Let our works do the talking!</span>'
                }
              ],
        }
    },

    methods: {
        next() {
            this.$refs.flickity.next();
        },

        previous() {
            this.$refs.flickity.previous();
        }
    }
};

</script>

<style lang="scss" scoped>
 @import'./src/assets/styles/main.scss';

 .portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:767px) {
    flex-flow:column wrap;
    text-align:center;
  }
   .portfolio-img {
    margin-bottom: 10px;
      img {
        float: right;
        height:38vh;
        @media screen and(max-width:767px) {
          height: 30vh !important;
          float:unset;
        }
        @media screen and(max-width:414px) {
          height: 28vh !important;
        }
        @media screen and(max-width:375px) {
          height:28vh !important;
        }
      }
    }
   .portfolio-text {
      h1{
        margin: auto !important;
        font-family: 'Ubuntu';
        text-shadow: 1px 1px #000000;
        color: #FFED47;
        @media(max-width:767px) {
          font-size:1.8rem;
        }
      }
      li {
          font-size: 26px;
          color: white;
          text-shadow: 1px 1px #000000;
          line-height: 42px;
          list-style: none;
      }
      ul {
        padding-left: 0;
      }
      li:last-child {
        font-size:20px;
   }
  }
 }
  .main-carousel {
    .carousel-cell {
      height: 791.75px;
      width: 100%;
      transition: opacity 1.5s ease-in-out!important;
      z-index: -1!important;
      &.is-selected {
        z-index: 0!important;
      }
      h2 {
        color: white ;
        font-size: 100px;
      }
      h3 {
        color: white ;
        font-size: 100px;
      }
    }
  }
  .flickity-prev-next-button {
    opacity: 0;
    &:hover {
      opacity:1;
    }
  }
  .buttonsitelink {
    width: 32%;
    background-color: #fff0;
    border: 1px solid yellow;
    height: 6vh;
    z-index: -1;
    font-size: 1.5vh;
    margin: auto;
    color: yellow;
    padding: .5em;
  &:hover {
    background-color:yellow!important;
    color:black!important;
    font-weight: bold!important;
    width: 32%;
    border:none!important;
    text-decoration: none;
  }
}
@media(max-width:322px) {
  .portfolio-text {
    portfolio-text-vlign {
    height: 322px;
    }
    }

}
@media(max-width:492px) {
    portfolio-img-vlign {
    height: 322px;
    }
}
#yellowbg  {
    text-align: center;
    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;

    z-index: 107;
    padding-bottom: 54px;
}
.flickity-prev-next-button .next {
  @mediascreen and(max-width:414px) {
   display: none !important;
  }
}
a:hover {
  text-decoration:none;
}
</style>
