<template>
  <div id="slide">
   <flickity class="main-carousel" ref="flickity" :options="flickityOptions">
     <div class="carousel-cell fade" :class="data.class" v-for="data in data" style="overflow:hidden!important;">
      <a :href="data.url" target="_blank">
         <div class="container-fluid" :style="data.eletmentSytle">
      <div class="row">
      <div class="col-md-1 hidden-xs"></div>
      <!-- <div v-if="!data.hasOwnProperty('btn')" class="col-md-1 hidden-xs"></div> -->
      <div class="col-md-6 gwftitle" style="display: table">
        <div class="homebanner" style="display:table-cell;height:106vh;vertical-align:middle;">
        <h1 data-aos="fade-left" v-html="data.title"></h1>
        <ul v-if="data.hasOwnProperty('contents')">
          <li class="sliderSub" data-aos="fade-right" v-for="content in data.contents"> {{ content.content }}</li>
        </ul>
        <a class="banner-btn" v-if="data.hasOwnProperty('btn')" :href="data.btn.link">{{data.btn.text}}</a>
        </div>
      </div>
      <div class="col-md-6"></div>
      </div>
     </div>
      </a>

     </div>
  </flickity>
  </div>
</template>
<script>
import Flickity from 'vue-flickity';
  export default {
    name: 'Slider',
    props: ['data'],
    components: {
    Flickity
  },

  data () {
    return {
        flickityOptions: {
        initialIndex: 0,
        prevNextButtons: false,
        pageDots: true,
        wrapAround: true,
        autoPlay:2500,
        setGallerySize: true
      }
    }
  },

  methods: {
    next() {
      this.$refs.flickity.next();
    },

    previous() {
      this.$refs.flickity.previous();
    }
  }
};

</script>

<style lang="scss" scoped>

  @import'./src/assets/styles/main.scss';
 .main-carousel {
  @media screen and (max-width:1681px) {
    height: 66vh;
  }
  @media(max-width:767px) {
    height: auto;
  }
  @media screen and (max-width:414px) {
    height: 38vh;
  }
  @media screen and (max-width:320px) {
    height: 41vh;
  }
  .carousel-cell {
    height: 791.75px;
    width: 100%;
    opacity: 0!important;
    transition: opacity 1.5s ease-in-out!important;
    z-index: -1!important;
    &.is-selected {
      opacity: 1!important;
      z-index: 0!important;
    }
    @media screen and (max-width:1746px) {
      height: 75vh!important;
    }
    @media screen and (max-width:1681px) {
      height: 75vh!important;
    }
    @media screen and (max-width:767px) {
      height: auto!important;
    }
    h2 {
      color: white;
      font-size: 100px;
    }
    h3 {
      color: white;
      font-size: 100px;
    }
    .homebanner {
      @media screen and (max-width:1680px) {
        height: 66vh!important;
      }
      @media screen and (max-width:1366px) {
        height: 89vh !important;
      }
      @media screen and (max-width:667px) {
        height: 77vh!important;
      }
      @media screen and (max-width:414px) {
        height: 40vh!important;
      }
    }
  }
  .yearFive {
    .container-fluid {
      @media (min-width:1684px){
        background-size:auto;
        height: 104vh;
      }
    }
    .homebanner {
      @media (min-width:1381px) and (max-width:1683px) {
        height: 91vh!important;
      }
      h1 {
        margin-bottom: 40px!important;
        @media(max-width:767px) {
          word-break:break-word;
          font-size: 25px;
        }
      }
    }
  }
  .container-fluid {
    height: 100%!important;
    background-size: cover!important;
    background-position: center;
    @media screen and (max-width:1681px) {
      height: 88% !important;
      background-size: cover!important;
      background-position: center;
    }
    @media screen and (max-width:414px) {
      height: 50% !important;
      background-size: cover!important;
      background-position: center;
    }
    @media screen and (max-width:320px) {
      height: 61% !important;
      background-size: cover!important;
      background-position: center;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
ol.flickity-page-dots {
  bottom: 150px!important;
}
.gwftitle {
  h1 {
    margin: auto !important;
    font-family: 'Ubuntu';
    text-shadow: 1px 1px #000000;
    font-size: 3vw;
    color: white;
    @media screen and (max-width:667px) {
      font-size: 5vw;
    }
    @media screen and (max-width:414px) {
      font-size: 8vw;
    }
  }
  li {
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px #000000;
    line-height: 42px;
    list-style: none;
    @media screen and (max-width:414px) {
      font-size: 25px;
    }
    &.sliderSub {
      position: relative;
      margin-left: 15px;
      &:before {
        content: '\f0da';
        font-family: FontAwesome;
        position: absolute;
        margin-left: -15px;
      }
    }
  }
  ul {
    padding-left: 0;
  }
}
.flickity-page-dots {
  display: none!important;
}
.hidden-xs {
  @media screen and (max-width:414px) {
    display: none;
  }
}
.banner-btn {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  border: 1px solid #fff;
  // padding: 13px 20px;
  padding: 5px 30px;
  border-radius: 50px;
  font-size: 1.5vw;
  transition: all 0.3s ease-in-out;
}
.banner-btn:hover {
  color: white;
  background-color: rgb(112, 85, 162);
  border-color: rgb(112, 85, 162);
}
</style>
