<template>
  <div id="about">

<gwfbanner :data="aboutbanner"></gwfbanner>
<bout :data="aboutus"></bout>

<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Header from '../common/Header.vue'
import Slider from '../common/Slider.vue'
import about from '../aboutus/about.vue'

// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'


Vue.component('slider-gwf', Slider)
Vue.component('bout', about)


// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      aboutus: [
        {
          head: 'The Company',
          contents: [
            {
          content: 'Global WebForce is a full-service web design and digital marketing company that provides website development, mobile app development, digital marketing, creative design and content writing services. We specialize in building customized websites that incite emotion, tell a story, and help you to stand out online.',
            },{
          content: 'Global WebForce was established in 2013 at Melbourne, Australia, which now extends its services to other countries, including the Philippines. Over the years, it has evolved and adapted to the ever-changing digital landscape and to our clients needs. We pride ourselves in knowing the ins and outs of the latest web design trends and online best practices. We have successfully built websites for various companies - big and small - in different industries across the world.'
          },{
          content: 'Now, we are thrilled to provide web-based technology solutions, particularly to local entrepreneurs and small business owners. Bringing our international expertise to the table, to help their businesses thrive through a modern, mobile-friendly website and a well-targeted digital strategy as one of our key goals. If you need a website or need to redesign your existing website, that is our expertise and we are here to help.',
            }
          ]
        }
      ],
      aboutbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/about/banner_about.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'About Us',
          contents: [
              {
                content:'Read Our History',
              }
            ]
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
