<template>
  <div id="cntct">

<gwfbanner :data="contactbanner"></gwfbanner>
<Firstpanel-contactus :data="data"></Firstpanel-contactus>
<conmap></conmap>
<gwffooter></gwffooter>

<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Slider from '../common/Slider.vue'
import cntctusfrstsec from '../contact/cntctusfrstsec.vue'

// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'


Vue.component('slider-gwf', Slider)
Vue.component('Firstpanel-contactus', cntctusfrstsec)


// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      data: [
        {
          head: 'Get in Touch. Call Us.',

        }
      ],


      contactbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/contact/banner_contact.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Contact Us',
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
