<template>
  <div id="CrtvNCntnt">

<slider-gwf :data="data"></slider-gwf>
<CCcontent :data="ContentNCreative"></CCcontent>
<foot :data="footgwf"></foot>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Header from '../common/Header.vue'
import Slider from '../common/Slider.vue'
import creativeNcontentfirstSec from '../creativeNcontent/creativeNcontentfirstSec.vue'
import footer from '../common/footer.vue'
// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'

Vue.component('headergwf', Header)
Vue.component('slider-gwf', Slider)
Vue.component('CCcontent', creativeNcontentfirstSec)
Vue.component('foot', footer)

// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'ContentCreative',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      data: [
        {
          img: '',
          content: 'one'
        }, {
          img: '',
          content: 'two'
        },{
          img: '',
          content: 'three'
        },
      ],

      ContentNCreative: [
        {
          header: 'Welcome',
          img:'../static/img/juls.jpg',
           content: 'One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. Whats happened to me? he thought.',

        }
      ],




        footgwf: [
        {
         content:'Copyright&copy;</span> 2017 GlobalwWebForce. All Rights Reserved.'
        },
        ]
      // ],
      // slidelogo: [
      //   {
      //     content: 'WEB DESIGN',
      //     img:'../static/img/140px.png',
      //   },{
      //     content: 'CREATIVE',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'DIGITAL MARKETING',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'DIGITAL MARKETING',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'DIGITAL MARKETING',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'CONTENT',
      //     img:'../static/img/140px.png'
      //   }
      // ],

    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
