<template>
  <div id="contentNdigital">

<gwfbanner :data="creativegraphicsbanner"></gwfbanner>
<cdfirstsec></cdfirstsec>
<cdsecondsec></cdsecondsec>
<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import creativegraphicsfirstsec from '../creativegraphics/creativegraphicsfirstsec.vue'
import creativegraphicssecondsec from '../creativegraphics/creativegraphicssecondsec.vue'

Vue.component('cdfirstsec', creativegraphicsfirstsec)
Vue.component('cdsecondsec', creativegraphicssecondsec)


// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'




// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',

      creativegraphicsbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/creativecontent/banner_creative.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Creative Graphics',
           contents: [
              {
                content:'Innovative Designs with Marketing in Mind',
              }
            ]
        }
      ]
      // ],
      // slidelogo: [
      //   {
      //     content: 'WEB DESIGN',
      //     img:'../static/img/140px.png',
      //   },{
      //     content: 'CREATIVE',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'DIGITAL MARKETING',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'DIGITAL MARKETING',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'DIGITAL MARKETING',
      //     img:'../static/img/140px.png'
      //   },{
      //     content: 'CONTENT',
      //     img:'../static/img/140px.png'
      //   }
      // ],

    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
