<template>
  <div id="dmpage">

<gwfbanner :data="dmbanner"></gwfbanner>
<DigiMarkFirstSec></DigiMarkFirstSec>
<div style="background:rgb(238, 238, 238)">
   <div class="yellowbg1">
          <h1 data-aos="fade-down" style="color:green !important">Integrated SEO Services</h1>
          </div>
          <h5 data-aos="fade-right" style="text-align:center;margin:0;"> Unlike other SEO providers, oour Search Engine Optimization (SEO) aspires and operates in an integration <br>environment to support all your online marketing activities from and to the website.</h5>
 </div>

<AdvanceSelect :content="firstAS" style="background: #eeeeee"/>

           <div class="yellowbg2">
          <h1 data-aos="fade-down">Integrated PPC Marketing</h1>
          <h1 data-aos="fade-right">Highly Customized & Strategy Driven Adwords Campaigns</h1>
          </div>
          <h5 style="text-align:center;"> More mileage for your PPC Adwords budget through our tailor fit strategy to drive only the most qualified <br> traffic to your website for the best conversion scenarios.</h5>
<AdvanceSelect :content="secondAS"/>
<div style="background:rgb(238, 238, 238)">
  <div data-aos="fade-down" class="yellowbg3">
          <h1>Integrated Social Media Marketing</h1>
          <h1>We're a Social Media Agency for Businesses of All Sizes</h1>
          </div>
           <h5 data-aos="fade-right" style="text-align:center;margin: 0;"> Social Media today is the best way to teach out to your customers and targeted audience. Our social packages<br>allow for a customize plan that suites your business.</h5>
</div>

<AdvanceSelect :content="thirdAS" style="background: #eeeeee"/>
<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Header from '../common/Header.vue'
import Slider from '../common/Slider.vue'
import digitalmarketingfirstsec from '../digitalmarketing/digitalmarketingfirstsec.vue'
import footer from '../common/footer.vue'
import AdvanceSelect from '../forms/selectComponent.vue'
import $ from 'jquery'
import axios from 'axios'
// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'

Vue.component('headergwf', Header)
Vue.component('slider-gwf', Slider)
Vue.component('DigiMarkFirstSec', digitalmarketingfirstsec )
Vue.component('foot', footer)
Vue.component('AdvanceSelect', AdvanceSelect)

// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)
export default {
  data () {
    return {
      countryCode: '',
      option: [
        {
          type: 'standard'
        }
      ],
      data: [
        {
          img: '',
          content: 'one'
        }, {
          img: '',
          content: 'two'
        },{
          img: '',
          content: 'three'
        },
      ],

      firstAS: {
          type: 'standard',
          description: 'Please specify which type of SEO you are looking for:',
          option: [
              {
                  selected: false,
                  label: 'New to SEO, but would like to see how it works',
                  content: {
                      title: 'SEO Lite Package',
                      subtitle: '200',
                      description: 'Recommended package for people who are new to SEO and would like to see how it works and how it is done.',
                      item: [
                        {
                          itemName: 'Site Audit'
                        },{
                          itemName: 'Keyword Research'
                        },{
                          itemName: '5 Target Keywords'
                        },{
                          itemName: '1 Optimized Pages'
                        },{
                          itemName: 'Google Properties'
                        },{
                          itemName: '1 Blog Written per Month'
                        },{
                          itemName: '1 Content Marketing Cycle'
                        },{
                          itemName: 'Monthly Reporting'
                        }
                      ]
                  }
              }, {
                  selected: false,
                  label: 'SEO for my Small Business',
                  content: {
                      title: 'SEO Startup Package',
                      subtitle: '389',
                      description: 'Recommended package for startup and small businesses that focuses on local marketing.',
                      item: [
                        {
                          itemName: 'Site Audit'
                        },{
                          itemName: 'Keyword Research'
                        },{
                          itemName: '10 Target Keywords'
                        },{
                          itemName: '3 Optimized Pages'
                        },{
                          itemName: 'Google Properties'
                        },{
                          itemName: '2 Blogs Written per Month'
                        },{
                          itemName: '2 Content Marketing Cycle'
                        },{
                          itemName: '2 Local Listings'
                        },{
                          itemName: 'Monthly Reporting'
                        }
                      ]
                  }
              }, {
                  selected: false,
                  label: 'SEO for my Company',
                  content: {
                      title: 'SEO Bronze Package',
                      subtitle: '699',
                      description: 'Recommended SEO package for companies and businesses that wants to get competitive against bigger players.',
                      item: [
                        {
                          itemName: 'Site Audit'
                        },{
                          itemName: 'Keyword Research'
                        },{
                          itemName: '20 Target Keywords'
                        },{
                          itemName: '12 Optimized Pages'
                        },{
                          itemName: 'Google Properties'
                        },{
                          itemName: '4 Blogs Written per Month'
                        },{
                          itemName: '4 Content Marketing Cycle'
                        },{
                          itemName: '3 Local Listings'
                        },{
                          itemName: 'Monthly Reporting'
                        }
                      ]
                  }
              }, {
                  selected: false,
                  label: 'SEO for my E-Commerce Website',
                  content: {
                      title: 'SEO Silver Package',
                      subtitle: '1399',
                      description: 'Recommended SEO package for companies and businesses that wants to get competitive against bigger players.',
                      item: [
                        {
                          itemName: 'Site Audit'
                        },{
                          itemName: 'Keyword Research'
                        },{
                          itemName: '40 Target Keywords'
                        },{
                          itemName: '20 Optimized Pages'
                        },{
                          itemName: 'Google Properties'
                        },{
                          itemName: '4 Blogs Written per Month'
                        },{
                          itemName: '4 Content Marketing Cycle'
                        },{
                          itemName: '5 Local Listings'
                        },{
                          itemName: 'Monthly Reporting'
                        }
                      ]
                  }
              }, {
                  selected: false,
                  label: "I'm looking for Enterprise Level SEO",
                  content: {
                      title: 'SEO Gold Package',
                      subtitle: '1599',
                      description: 'Recommended SEO package for companies and businesses that wants to get competitive against bigger players.',
                      item: [
                        {
                          itemName: 'Site Audit'
                        },{
                          itemName: 'Keyword Research'
                        },{
                          itemName: '60 Target Keywords'
                        },{
                          itemName: '50 Optimized Pages'
                        },{
                          itemName: 'Google Properties'
                        },{
                          itemName: '4 Blogs Written per Month'
                        },{
                          itemName: '4 Content Marketing Cycle'
                        },{
                          itemName: '3 Local Listings'
                        },{
                          itemName: 'Monthly Reporting'
                        }
                      ]
                  }
              }
          ],
      },

      secondAS: {
          type: 'withchildren',
          option: [
              {
                  label: 'Adwords Search Campaign',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
                  children: [
                    {
                      label: '$50 to $100 Monthly',
                      content: {
                        title: 'Startup',
                        subtitle: '$50 - $100 / month',
                        range1: '50',
                        range2: '100',
                        price: '200',
                        item: [
                          {
                            itemName: 'Campaign Setup'
                          },{
                            itemName: '15 Keywords'
                          },{
                            itemName: '1 AdGroup'
                          },{
                            itemName: 'AdCopy'
                          },{
                            itemName: 'Campaign Monitoring'
                          },{
                            itemName: 'Bidding Adjustment'
                          },{
                            itemName: 'Ad Extensions'
                          },{
                            itemName: 'Keyword Management'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Monthly Report'
                          },{
                            itemName: 'Report Analysis'
                          },{
                            itemName: 'Monthly Manager Consultation'
                          },
                        ]
                      }
                    },{
                      label: '$100 to $500 Monthly',
                      content: {
                        title: 'Bronze',
                        subtitle: '$100 - $500 / month',
                        range1: '100',
                        range2: '500',
                        price: '300',
                        item: [
                          {
                            itemName: 'Campaign Setup'
                          },{
                            itemName: '35 Keywords'
                          },{
                            itemName: '3 AdGroups'
                          },{
                            itemName: 'AdCopy'
                          },{
                            itemName: 'Campaign Monitoring'
                          },{
                            itemName: 'Bidding Adjustment'
                          },{
                            itemName: 'Ad Extensions'
                          },{
                            itemName: 'Keyword Management'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Keyword Expansion'
                          },{
                            itemName: 'Monthly Report'
                          },{
                            itemName: 'Report Analysis'
                          },{
                            itemName: 'Monthly Manager Consultation'
                          },
                        ]
                      }
                    },{
                      label: '$500 to $1000 Monthly',
                      content: {
                        title: 'Silver',
                        subtitle: '$500 - $1000 / month',
                        range1: '500',
                        range2: '1000',
                        price: '699',
                        item: [
                          {
                            itemName: 'Campaign Setup'
                          },{
                            itemName: '100 Keywords'
                          },{
                            itemName: '10 AdGroups'
                          },{
                            itemName: 'AdCopy'
                          },{
                            itemName: 'Campaign Monitoring'
                          },{
                            itemName: 'Bidding Adjustment'
                          },{
                            itemName: 'Ad Extensions'
                          },{
                            itemName: 'Keyword Management'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Keyword Expansion'
                          },{
                            itemName: 'Monthly Report'
                          },{
                            itemName: 'Report Analysis'
                          },{
                            itemName: 'Monthly Manager Consultation'
                          },
                        ]
                      }
                    },{
                      label: '$1000 to $3000 Monthly',
                      content: {
                        title: 'Gold',
                        subtitle: '$1000 - $3000 / month',
                        range1: '1000',
                        range2: '3000',
                        price: '999',
                        item: [
                          {
                            itemName: 'Campaign Setup'
                          },{
                            itemName: '200 Keywords'
                          },{
                            itemName: '20 AdGroups'
                          },{
                            itemName: 'AdCopy'
                          },{
                            itemName: 'Campaign Monitoring'
                          },{
                            itemName: 'Bidding Adjustment'
                          },{
                            itemName: 'Ad Extensions'
                          },{
                            itemName: 'Keyword Management'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Keyword Expansion'
                          },{
                            itemName: 'Monthly Report'
                          },{
                            itemName: 'Report Analysis'
                          },{
                            itemName: 'Monthly Manager Consultation'
                          },
                        ]
                      }
                    },{
                      label: '$3000 to $5000 Monthly',
                      content: {
                        title: 'Platinum',
                        subtitle: '$3000 - $5000 / month',
                        range1: '3000',
                        range2: '5000',
                        price: '1299',
                        item: [
                          {
                            itemName: 'Campaign Setup'
                          },{
                            itemName: '300 Keywords'
                          },{
                            itemName: '25 AdGroups'
                          },{
                            itemName: 'AdCopy'
                          },{
                            itemName: 'Campaign Monitoring'
                          },{
                            itemName: 'Bidding Adjustment'
                          },{
                            itemName: 'Ad Extensions'
                          },{
                            itemName: 'Keyword Management'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Keyword Expansion'
                          },{
                            itemName: 'Monthly Report'
                          },{
                            itemName: 'Report Analysis'
                          },{
                            itemName: 'Monthly Manager Consultation'
                          },
                        ]
                      }
                    },{
                      label: '$5000 to $10,000 Monthly',
                      content: {
                        title: 'Diamond',
                        subtitle: '$5000 - $10,000 / month',
                        range1: '5000',
                        range2: '10000',
                        price: '1599',
                        item: [
                          {
                            itemName: 'Campaign Setup'
                          },{
                            itemName: '500 Keywords'
                          },{
                            itemName: '50 AdGroups'
                          },{
                            itemName: 'AdCopy'
                          },{
                            itemName: 'Campaign Monitoring'
                          },{
                            itemName: 'Bidding Adjustment'
                          },{
                            itemName: 'Ad Extensions'
                          },{
                            itemName: 'Keyword Management'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Keyword Expansion'
                          },{
                            itemName: 'Monthly Report'
                          },{
                            itemName: 'Report Analysis'
                          },{
                            itemName: 'Monthly Manager Consultation'
                          },
                        ]
                      }
                    }
                  ],
              }, {
                  label: 'Adwords Display Campaign + Marketing',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
                  children: [
                    {
                      label: '$100 to $200 Monthly',
                      content: {
                        title: 'Local Marketing',
                        subtitle: '$100 - $200 / month',
                        range1: '100',
                        range2: '200',
                        price: '489',
                        item: [
                          {
                            itemName: 'Creative AdCopy'
                          },{
                            itemName: 'Creative Adset Design'
                          },{
                            itemName: '1 Creative Adset Monthly'
                          },{
                            itemName: 'Keyword Targeting'
                          },{
                            itemName: 'Topic Placements'
                          },{
                            itemName: 'Demographics Targeting'
                          },{
                            itemName: 'Geograpic Targeting'
                          },{
                            itemName: 'X - Remarketing'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Bi-Monthly Reporting'
                          }
                        ]
                      }
                    },{
                      label: '$300 to $500 Monthly',
                      content: {
                        title: 'Influencer',
                        subtitle: '$300 - $500 / month',
                        range1: '300',
                        range2: '500',
                        price: '899',
                        item: [
                          {
                            itemName: 'Creative AdCopy'
                          },{
                            itemName: 'Creative Adset Design'
                          },{
                            itemName: '2 Creative Adset Monthly'
                          },{
                            itemName: 'Keyword Targeting'
                          },{
                            itemName: 'Topic Placements'
                          },{
                            itemName: 'Demographics Targeting'
                          },{
                            itemName: 'Geograpic Targeting'
                          },{
                            itemName: 'Remarketing'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Bi-Monthly Reporting'
                          }
                        ]
                      }
                    },{
                      label: '$500 to $2000 Monthly',
                      content: {
                        title: 'Silver',
                        subtitle: '$500 - $2000 / month',
                        range1: '500',
                        range2: '2000',
                        price: '2445',
                        item: [
                          {
                            itemName: 'Creative AdCopy'
                          },{
                            itemName: 'Creative Adset Design'
                          },{
                            itemName: '5 Creative Adset Monthly'
                          },{
                            itemName: 'Keyword Targeting'
                          },{
                            itemName: 'Topic Placements'
                          },{
                            itemName: 'Demographics Targeting'
                          },{
                            itemName: 'Geograpic Targeting'
                          },{
                            itemName: 'Remarketing'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Bi-Monthly Reporting'
                          }
                        ]
                      }
                    },{
                      label: '$2000 to $5000+ Monthly',
                      content: {
                        title: 'Gold',
                        subtitle: '$2000 - $5000+ / month',
                        range1: '2000',
                        range2: '5000',
                        price: '4890',
                        item: [
                          {
                            itemName: 'Creative AdCopy'
                          },{
                            itemName: 'Creative Adset Design'
                          },{
                            itemName: '10 Creative Adset Monthly'
                          },{
                            itemName: 'Keyword Targeting'
                          },{
                            itemName: 'Topic Placements'
                          },{
                            itemName: 'Demographics Targeting'
                          },{
                            itemName: 'Geograpic Targeting'
                          },{
                            itemName: 'Remarketing'
                          },{
                            itemName: 'Negative Keywords'
                          },{
                            itemName: 'Bi-Monthly Reporting'
                          }
                        ]
                      }
                    }
                  ],
              },
          ],
      },

      thirdAS: {
          type: 'multiple-select',
          option: [
              {
                  id: 1,
                  label: 'Facebook',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
              }, {
                  id: 2,
                  label: 'Twitter',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
              }, {
                  id: 3,
                  label: 'LinkedIn',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
              }, {
                  id: 4,
                  label: 'Pinterest',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
              }, {
                  id: 5,
                  label: 'Google+',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
              }, {
                  id: 6,
                  label: 'Instagram',
                  selected: false,
                  content: {
                    title: '',
                    subtitle: '',
                    description: '',
                    item: []
                  },
              },
          ],
      },

      dmbanner: [
       {
          eletmentSytle:{'background-image': 'url( ../static/img/digitalmarketing/banner_digital_marketing.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Experience Integrated Digital Marketing',
        }
      ]
    }
  },
  methods: {
    convertCurrency() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode === 'PH') {
          $.each(_this.firstAS.option, function(i, val){
            val.content.subtitle = parseFloat(val.content.subtitle) * 41
          })
          $.each(_this.secondAS.option, function(i, val){
            $.each(val.children, function(j, innerVal){
              innerVal.content.range1 = parseFloat(innerVal.content.range1) * 41
              innerVal.content.range2 = parseFloat(innerVal.content.range2) * 41
              innerVal.content.price = parseFloat(innerVal.content.price) * 41
            })
          })
        }
      })
      .catch(function (e){
        console.log(e)
      })
    }
  },
  created() {
    this.convertCurrency()
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
     .yellowbg1 {
        width: 100%;
    color: #a21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
   font-weight:bold;
    z-index: 107;
    padding: 24px;
    text-align: center;
  }
    .yellowbg2 {
        width: 100%;
    color: #577a57 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
       font-weight:bold;
    z-index: 107;
    padding: 24px;
    text-align: center;
  }
    .yellowbg3 {
        width: 100%;
    color: #1e92ff !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
      font-weight:bold;
    z-index: 107;
    padding: 24px;
    text-align: center;
  }
</style>
