<template>
  <div id="home">
    <slider-gwf :data="data"></slider-gwf>
    <secone :data='firstpanelcontent'></secone>
    <projslider :data="datatwo"></projslider>
    <clnts2 :data="gwfclients2" class="try2"></clnts2>
    <msgcli></msgcli>
    <conmap></conmap>
    <gwffooter></gwffooter>
    <refPopup :refPopupData="refPopupDataDisplay" :refPopupGwfnumber="gwfNumber" v-show="showPopup"></refPopup>
  </div>
</template>
<script>
import Vue from 'vue'
import Slider from '../common/Slider.vue'
import footer from '../common/footer.vue'
import projectslider from '../common/projectslider.vue'
import firstpanel from '../homepage/firstpanel.vue'
import $ from 'jquery'
import clients from '../homepage/clients.vue'
import clients2 from '../homepage/clients2.vue'
import swal from 'sweetalert2'
import axios from 'axios'
import refPopup from '../homepage/refpopup.vue'
Vue.component('slider-gwf', Slider)
Vue.component('secone', firstpanel)
Vue.component('clnts2', clients2)
Vue.component('clnts', clients)
Vue.component('projslider', projectslider)
Vue.component('refPopup', refPopup)
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      countryCode: '',
      gwfNumber: '+63-917-568-0402',
      wref: '',
      showPopup: false,
      datatwo: [
        {
         eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_rainehorne.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Raine and Horne Business Brokers Victoria',
          laptopimg: '../static/img/homepage/img_raineandhorne.png',
          contents: [
              {
                content:'Real Estate',
              },{
                content:'Responsive Website Design, Property Listings'
              }
            ],
          url: 'http://www.raineandhornebusinessbrokersvictoria.com.au/'
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_ibs.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'IBS Travel & Tours',
          laptopimg: '../static/img/homepage/img_batanesibs.png',
          contents: [
              {
                content:"Travel Agency",
              },{
                content:"Modern Website, Easy Online Booking",
              }
            ],
          url: 'http://www.batanesibstravels.com/'
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_rperez.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Rafael Perez Architecture',
          laptopimg: '../static/img/homepage/img_perezarch.png',
          contents: [
              {
                content:'Architecture Firm',
              },{
                content:'Project portfolio',
              }
            ],
          url: 'http://perezarch.com/ '
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_greenware.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Greenware Computers',
          laptopimg: '../static/img/homepage/img_greenware.png',
          contents: [
              {
                content:'Computer Retail',
              },{
                content:'Responsive Website Design'
              }
            ],
          url: 'http://greenwarecomputers.com/'
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_neris.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Neri’s Kitchen and Bakery',
          laptopimg: '../static/img/homepage/img_neriskitchenandbakery.png',
          contents: [
              {
                content:'Filipino Specialty Restaurant',
              },{
                content:'Online Ordering & Event Booking'
              }
            ],
          url: 'http://neriskitchenandbakery.com.au/'
        }
      ],
      data: [
        // {
        //   geo: true,
        //   bgimg: '',
        //   class: 'yearFive',
        //   eletmentSytle: {'background-image': 'url(../static/img/LP/5years/img/banner_gwf-ph.jpg)','height':'auto','background-size':'cover','background-repeat':'no-repeat','align-items':'center','justify-content':'center','background-position':'left','background-color': '#46e7fd'},
        //   title: '<span style="font-weight:100;font-size:2vw">GLOBAL WEBFORCE</span><br>CELEBERATES 5 YEARS!<br><span style="font-weight:100;font-size:2vw">Website Bundle + Freebies</span>',
        //   btn: {
        //     text: 'Click to Get Deal',
        //     link: '/five-years'
        //   }
        // },
        
        {

          eletmentSytle:{'background-image': 'url( ../static/img/banner04.png)','height':'auto','background-size':'contain','background-repeat':'no-repeat','align-items':'center','justify-content':'center', 'background-color': '#7994af'},
          title: 'The Trusted<br>Website Design Company<br>by Businesses for 6 Years',
          // url:'/six-years',
          // btn: {
          //   text: 'CLICK NOW',
          //   link: '/six-years'
          // }

            // contents: [
            //   {
            //     content:'The Trusted Website Design Company by Businesses for 6 Years',
            //   }
            // ]
        },
        {
          eletmentSytle:{'background-image': 'url( ../static/img/banner01.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat','align-items':'center','justify-content':'center', 'background-color': '#46e7fd'},
          title: 'GLOBAL WEBFORCE',
          contents: [
            {
              content:'We are a digital agency that combines web technology and creativity to do wonders.',
            }
          ]
        },{

          eletmentSytle:{'background-image': 'url( ../static/img/banner02.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat','align-items':'center','justify-content':'center', 'background-color': '#de5d8b'},
          title: 'Integrated Digital Marketing',
          url:'/digital-marketing',
                contents: [
              {
                content:'Integrated SEO',
              },{
                content:'Integrated PPC',
              },{
                content:'Integrated Social Media Marketing'
              }]
        },{

          eletmentSytle:{'background-image': 'url( ../static/img/banner03.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat','align-items':'center','justify-content':'center', 'background-color': '#7994af'},
          title: 'Website Design Services',
          url:'/website-design',

            contents: [
              {
                content:'Business Website',
              },{
                content:'Corporate Websites',
              },{
                content:'Creative Branding'
              }
            ]
        },
      ],
      firstpanelcontent: [
        {
          headone: 'We Take You On a Journey To Success in the Digital Age',
          contents: [
              {
                content:'Modern websites for modern businesses',
              },{
                content:'Business driven Digital Marketing',
              },{
                content:'Brand Enhancing Creative and Design Services'
              }
            ],
          content: '#GoDigital'

        }
      ],
      thirdpanelcontent: [


        {
          content: 'PORTSIDE',

        },{
          content: 'GREENWARE',

        },{
          content: 'DISDENTAL',

        },{
          content: 'PHILTOURS',

        }
      ],
      gwfclients: [
        {
         img:'../static/img/homepage/site-logo/logo_a1loanhub.png'
        },{
          img:'../static/img/homepage/site-logo/logo_activ8me.png'
        },{
          img:'../static/img/homepage/site-logo/logo_aussie.png'
        },{
          img:'../static/img/homepage/site-logo/logo_basepave.png'
        },{
          img:'../static/img/homepage/site-logo/logo_batterydirect.png'
        },{
          img:'../static/img/homepage/site-logo/logo_bellauto.png'
        },{
          img:'../static/img/homepage/site-logo/logo_ckupholstery.png'
        },{
          img:'../static/img/homepage/site-logo/logo_ddaccounting.png'
        } ,{
          img:'../static/img/homepage/site-logo/logo_ezy.png'
        },{
          img:'../static/img/homepage/site-logo/logo_fantasycakes.png'
        },{
          img:'../static/img/homepage/site-logo/logo_greenware.png'
        },{
          img:'../static/img/homepage/site-logo/logo_happyhut.png'
        },{
          img:'../static/img/homepage/site-logo/logo_highway54.png'
        },{
          img:'../static/img/homepage/site-logo/logo_iwfi.png'
        },{
          img:'../static/img/homepage/site-logo/logo_kreativetravels.png'
        },{
          img:'../static/img/homepage/site-logo/logo_mensgear.png'
        },{
          img:'../static/img/homepage/site-logo/logo_neriskitchen.png'
        },{
          img:'../static/img/homepage/site-logo/logo_oldtech.png'
        },{
          img:'../static/img/homepage/site-logo/logo_philtours.png'
        },{
          img:'../static/img/homepage/site-logo/logo_portside.png'
        },{
          img:'../static/img/homepage/site-logo/logo_printsmart.png'
        },{
          img:'../static/img/homepage/site-logo/logo_pymblez.png'
        },{
          img:'../static/img/homepage/site-logo/logo_rainehorne.png'
        },{
          img:'../static/img/homepage/site-logo/logo_reowex.png'
        },{
          img:'../static/img/homepage/site-logo/logo_rperez.png'
        },{
          img:'../static/img/homepage/site-logo/logo_rps.png'
        },{
          img:'../static/img/homepage/site-logo/logo_trendingpod.png'
        },{
          img:'../static/img/homepage/site-logo/logo_vicwide.png'
        },{
          img:'../static/img/homepage/site-logo/logo_visatec.png'
        },{
          img:'../static/img/homepage/site-logo/logo_westst.png'
        }
      ],
      gwfclients2: [
        {
         img:'../static/img/homepage/site-logoop/logo_a1loanhub.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_activ8me.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_aussie.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_basepave.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_batterydirect.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_bellauto.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_ckupholstery.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_ddaccounting.png'
        } ,{
          img:'../static/img/homepage/site-logoop/logo_ezy.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_fantasycakes.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_greenware.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_happyhut.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_highway54.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_iwfi.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_kreativetravels.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_mensgear.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_neriskitchen.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_oldtech.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_philtours.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_portside.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_printsmart.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_pymblez.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_rainehorne.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_reowex.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_rperez.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_rps.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_trendingpod.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_vicwide.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_visatec.png'
        },{
          img:'../static/img/homepage/site-logoop/logo_westst.png'
        }
      ],
      refPopupData: [
        {
          ref: 'ibs',
          refTitle: 'Batanes IBS Travel & Tours',
          url: 'http://batanesibstravels.com/'
        },
        {
          ref: 'rnh',
          refTitle: 'Raine & Horne Business Brokers Victoria',
          url: 'http://raineandhornebusinessbrokersvictoria.com.au/'
        },
        {
          ref: 'basepavenq',
          refTitle: 'Base Pave NQ',
          url: 'http://basepavenq.com.au/'
        },
        {
          ref: 'fantasycakes',
          refTitle: 'Fantasy Cakes',
          url: 'https://fantasycakes.com.au/'
        },
        {
          ref: 'greenware',
          refTitle: 'Greenware Computers',
          url: 'http://greenwarecomputers.com'
        },
        {
          ref: 'westcafe',
          refTitle: 'West St. Cafe & Bakery ',
          url: 'http://weststcafeandbakery.com.au/'
        },
        {
          ref: 'disdental',
          refTitle: 'Disdental',
          url: 'http://disdental.com.au/'
        },
        {
          ref: 'phtours',
          refTitle: 'Philippine Tours',
          url: 'https://philippinetours.com.au/'
        },
        {
          ref: 'portside',
          refTitle: 'Portside Marine',
          url: 'http://www.portsidemarinecentre.com.au/'
        },
        {
          ref: 'ck',
          refTitle: 'CK Upholstery',
          url: 'http://ckupholstery.com.au'
        },
        {
          ref: 'bell',
          refTitle: 'Bell Auto Electrical',
          url: 'http://www.bellautoelectrical.com.au/'
        },
        {
          ref: 'oldtech',
          refTitle: 'Old Technology',
          url: 'http://oldtechnology.com.au/'
        },
        {
          ref: 'kreative',
          refTitle: 'Kreative Travels',
          url: 'http://kreativetravels.com.au'
        },
        {
          ref: 'shawarmaph',
          refTitle: 'Shawarma House PH',
          url: 'http://shawarmahouseph.com/'
        },
        {
          ref: 'rafaelperez',
          refTitle: 'Rafael Perez Architecture',
          url: 'http://perezarch.com/'
        },
        {
          ref: 'rrm',
          refTitle: 'A1 Loan Hub',
          url: 'http://a1loanhub.com.au/'
        },
        {
          ref: 'dqtsi',
          refTitle: 'DynaQuest',
          url: 'http://www.dqtsi.com/'
        },
        {
          ref: 'westernlands',
          refTitle: 'Western Lands',
          url: 'http://westernlands.com.au/'
        },
        {
          ref: 'irec',
          refTitle: 'iREC Corporation',
          url: 'http://irec.ph/'
        },
        {
          ref: 'travellounge',
          refTitle: 'Travel Lounge',
          url: 'http://austravellounge.com.au/'
        },
        {
          ref: 'greencrosssaga',
          refTitle: 'The Green Cross Saga',
          url: 'https://www.thegreencrosssaga.com/'
        }
        ,
        {
          ref: 'kite',
          refTitle: 'Kite Bookkeeping',
          url: 'https://www.kitebookkeeping.com/'
        }
        ,
        {
          ref: 'comark',
          refTitle: 'Comark International Corporation',
          url: 'https://comark.com.ph/'
        }
        ,
        {
          ref: 'dcflights',
          refTitle: 'Discount Flights',
          url: 'https://discountflights.com.au/'
        }
        ,
        {
          ref: 'noac',
          refTitle: 'NOAC Consultants',
          url: 'http://noac.net.au/'
        }
        ,
        {
          ref: 'majestic',
          refTitle: 'Majestic Ventures',
          url: 'https://majesticventures.group'
        }
      ],
      refPopupDataDisplay: {},
    }
  },
  methods: {
    refPopup() {
      var _this = this
      if(this.$route.query.hasOwnProperty('ref')) {
        _this.wref = this.$route.query.ref
        $.each(this.refPopupData, function(i) {
          if(_this.refPopupData[i].ref === _this.wref) {
            _this.refPopupDataDisplay = _this.refPopupData[i]
            _this.showPopup = true
          }
        })
      }
    },
    getCountrySetBG() {
      var _this = this
      var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
      axios.get(baseURL)
      .then(function(response){
        _this.countryCode = response.data.iso_code
        if(_this.countryCode === 'AU') {
          $.each(_this.data, function(i) {
            if(_this.data[i].hasOwnProperty('geo')) {
              _this.data[i].eletmentSytle['background-image'] = 'url(../static/img/LP/5years/img/banner_gwf-au-v2.jpg)'
            }
          })
          _this.gwfNumber = '0419 200 663'
        }
      })
      .catch(function (e){
        console.log(e)
      })
    }
  },
  created() {
    var _this = this
    _this.refPopup()
    _this.getCountrySetBG()

  }
}
</script>
<style lang="scss" scoped>
  @import'./src/assets/styles/main.scss';
  .flickity-page-dots {
    bottom: 13px;
  }
  .try2 {
    @media screen and(max-width:1920px) {
      display: block;
    }
  }
</style>
