<template>
  <div id="port">

<gwfbanner :data="contactbanner"></gwfbanner>
<works :bestworks="bestworksdata" ref="bwRef"></works>
<tiles :selectedFromPortfolio="selectedFromPortfolio" :tiled="tiled" v-on:changeBestWorks="onClickChild" ref="tilesRef"></tiles>
<conmap></conmap>
<gwffooter></gwffooter>

<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Slider from '../common/Slider.vue'
import portfoliosecondsec from '../portfolio/portfoliosecondsec.vue'
import BestWorks from '../portfolio/BestWorks.vue'
import $ from 'jquery'

Vue.component('slider-gwf', Slider)
Vue.component('tiles', portfoliosecondsec)
Vue.component('works', BestWorks)

export default {
  name: 'Portfolio',
  data () {
    return {
      selectedFromPortfolio: '',
      data: [
        {
          head: 'Get in Touch with Us to Get the Ball Running. ',

        }
      ],
      bestworksdata: [
        {
          bwUnique: 'comark',
          isActive: true,
          imgSrc: '../../../static/img/portfolio/laptop images/img_comark.png',
          heading: {
            websiteName: 'Comark International',
            websiteBusiness: 'E-Commerce',
            websiteType: 'Complete product inventory. Easy to use e-commerce design',
            websiteUrl: 'https://comark.com.ph/'
          },
          content: `<p>Comark International Corporation, a company that provides house care, baby care, and trading products, wants to provide information about the company, products and services. Global WebForce redesigned its website to make it easier to navigate on every mobile device, helping customers find a product they're looking for with ease. On the other hand, the website is also manageable for in-house staff to update. We also incorporated their branding colours to clearly emanate Comark International Corporations and its products — a clear display of their identity towards a wider set of audience.</p>`
        },
        {
          bwUnique: 'willybee',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_willybee.png',
          heading: {
            websiteName: 'Willy Bee',
            websiteBusiness: 'Informative Website',
            websiteType: 'Modern and responsive website',
            websiteUrl: 'https://willybeeph.com/'
          },
          content: `<p>The very first winner of Global WebForce’s website raffle during one of our #GoingDigital seminars in the country, WillyBee is a small business under VFC Condiments International Corp, and sells sweetened extracts from the Dalandan and Kalamansi fruits. As for the prize, the built website focused on navigation to help customers easily view and read about the products on any device they want to use. We then integrated the business' branding in a modern-looking website to generate more traffic and introduce its identity to customers.</p>`
        },
        {
          bwUnique: 'tyd',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_tydauto.png',
          heading: {
            websiteName: 'TYD',
            websiteBusiness: 'E-Commerce',
            websiteType: 'Easy online shopping. Responsive design',
            websiteUrl: 'http://tydautomotive.com.au/'
          },
          content: `<p>TYD Automotive wanted to spread the word about their fast and friendly service for anything mechanical. To help the business reach more people in the community and beyond, Global WebForce created a website that clearly showcases the business' branding, information, and how it scouts local talents within the community. We also added an online payment gateway, allowing TYD to accept payment when customers need/want to order equipment and parts online.</p>`
        },
        {
          bwUnique: 'bettors',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_bettors.png',
          heading: {
            websiteName: 'FS Bet',
            websiteBusiness: 'Online Betting',
            websiteType: 'Easy to use and responsive website',
            websiteUrl: 'https://bettors.bet/'
          },
          content: `<p>Since betting always comes with uncertainties, Bettors provides advice for gamblers to make smarter bets through their articles. With this, Global WebForce built a website with a clean, straightforward design to make it easier for website visitors to find betting advice on the sport of their choice.
</p>`
        },
        {
          bwUnique: 'discountflights',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_discountflights.png',
          heading: {
            websiteName: 'Discount Flights',
            websiteBusiness: 'Travel Agency',
            websiteType: 'Modern and responsive website, with integrated platforms for easy booking',
            websiteUrl: 'https://discountflights.com.au/'
          },
          content: `<p>Providing cheap airfare rates and travel deals for people looking for an adventure or see the beautiful world, Discount Flights wanted a website that can announce travel deals and equipped with a hassle-free booking platform. To enable a wonderful booking experience for users, Global WebForce integrated a booking system that's easy to use and will book within minutes — the website already includes a booking system for hotels, car rentals, and things to do in the chosen area. When it comes to design, the website has a responsive design, making it viewable in every device you want to use. We also added hero images and comprehensive descriptions for destinations to provide a sneak peek on what's in store for them in these destinations and to travel right away and see these breathtaking sites with their own eyes.</p>`
        },
        {
          bwUnique: 'rnh',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_raineandhorne.png',
          heading: {
            websiteName: 'Raine and Horne Business Brokers Victoria',
            websiteBusiness: 'Real Estate',
            websiteType: 'Responsive Website Design, Property Listings',
            websiteUrl: 'http://www.raineandhornebusinessbrokersvictoria.com.au/'
          },
          content: `<p>Global WebForce helped Raine & Horne Business Brokers Victoria by building a website that can be managed easily by their in-house staff, agents and brokers. The website provides a modern and appealing interface – it is simple to navigate so customers can quickly and easily search for the listings they are looking for. It is also built with a user-friendly content management system (CMS) for easy uploading and listing of businesses for sale, as well as residential and commercial properties for sale and lease.</p>`
        },
        {
          bwUnique: 'phtours',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_phtours.png',
          heading: {
            websiteName: 'Philippine Tours',
            websiteBusiness: 'Travel Agency',
            websiteType: 'Website Re-Design, Online Flight Booking',
            websiteUrl: 'https://www.philipinetours.com.au/'
          },
          content: `<p>Philippine Tours has been in the travel industry since 1983. The agency is currently based in Brunswick West, Victoria, Australia and specializes in Philippine travels. Our web team re-structured the current website to make it more user-friendly. We placed the flight booking panel on the home page for easy access. We also made the website look modern using hero images, full-width grid layout, hover effects and subtle animations. The client wanted to showcase the top tourist destinations in the Philippines, so we dedicated a few pages and panels to feature several beautiful Philippine scenic spots, which also include some informative content, photos and videos, so website visitors will be taken on journey while browsing the site  and stirring the enthusiasm to explore the country. Call to action buttons are also strategically positioned across the website.</p>`
        },
        {
          bwUnique: 'neris',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_neriskitchenandbakery.png',
          heading: {
            websiteName: 'Neri’s Kitchen and Bakery',
            websiteBusiness: 'Filipino Specialty Restaurant',
            websiteType: 'Online Ordering & Event Booking',
            websiteUrl: 'http://neriskitchenandbakery.com.au/'
          },
          content: `<p>Neri's Kitchen and Bakery is a Filipino Specialty restaurant in the heart of Perth, serving traditional Filipino cuisine and freshly-baked Filipino bread. The newly-built website provides an online menu of all the dishes and bread available throughout the week. By showcasing pixel-perfect images, the food looks so yummy and tempting!  The website also lets customers order online, book an event, or simply inquire.</p>`
        },
        {
          bwUnique: 'shawarmahouse',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_shawarmahouse.png',
          heading: {
            websiteName: 'Shawarma House',
            websiteBusiness: 'Eat Fresh',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://www.shawarmahouseph.com/'
          },
          content: `Shawarma House is a food cart business that helps interested Filipino entrepreneurs start their own franchised business. Global WebForce have worked with Shawarma House and provided it with a website that lets interested franchisees learn about the company, and more importantly, the steps they need to start their very own franchise. Global WebForce provided simple, modern and user-friendly website. `
        },
        {
          bwUnique: 'bellae',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_bellautoelectrical.png',
          heading: {
            websiteName: 'Bell Auto Electrical',
            websiteBusiness: 'Auto Electrical Shop',
            websiteType: 'Responsive Design, eCommerce',
            websiteUrl: 'http://www.bellautoelectrical.com.au/'
          },
          content: `<p>Manned only by the best electronics specialists, Bell Auto Electrical can perform a number service to your car including all types of repair, maintenance and even the whole installation of a car's electrical system. To help them reach new heights in their line of business, Global WebForce facilitated the redesign and relaunch of Bell's e-commerce website, which provides customers seamless transaction and hassle-free online experience.</p>`
        },
        {
          bwUnique: 'a1',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_a1LoanHub.png',
          heading: {
            websiteName: 'A1 Loan Hub',
            websiteBusiness: 'Loan Solutions',
            websiteType: 'Business Website',
            websiteUrl: 'http://a1loanhub.com.au/'
          },
          content: `<p>A1 Loan Hub provides various loan choices that suit their clients’ financial status or current situation. They will identify the best loan provider that matches their clients’ needs, as well as give sound advice in loan decision making.  The website provides information-rich content, yet strategically cut into bite-size information to make it easy to read and mobile-friendly. The website provides easy-to-navigate menu, a clean layout and crisp images.</p>`
        },
        {
          bwUnique: 'perez',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_perezarch.png',
          heading: {
            websiteName: 'Rafael Perez Architecture',
            websiteBusiness: 'Architecture Firm, Project portfolio',
            websiteType: '',
            websiteUrl: 'http://perezarch.com/ '
          },
          content: `<p>With over 23 years of experience in architecture, Rafael Perez Architecture goes beyond designing beautiful residential, commercial and institutional buildings and spaces – they pay attention to sustainability and eco-friendly design principles. The new website created for them met our five key objectives: 1) highlight an architect’s role in sustainability planning, 2) showcase the firm’s accomplished projects, 3) a clear call-to-action to increase online inquiries 4) Boost the firm’s online visibility through SEO 5) establish the firm’s branding.  </p>`
        },
        {
          bwUnique: 'trendingp',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_trendingpod.png',
          heading: {
            websiteName: 'TRENDINGPOD',
            websiteBusiness: 'Always Trending, Always Up To Date',
            websiteType: '',
            websiteUrl: 'http://www.trendingpod.com/'
          },
          content: `<p>
            Trendingpod is an online magazine and trending news site that keeps making a steady climb to success amidst stiff competition in the online media arena. It gives readers a daily dose of the freshest and viral trending content, as well as giving up-and-coming writers the platform to write what they love.
            Global WebForce helped Trendingpod achieve where it is today, by creating a unique, engaging and easy-to- navigate website. It also manages Trendingpod’s day-to-day content management as more and more  creative writers and contributors from around the globe send trending news articles, trending stories and videos to the in-house content team.
          </p>
          <p>In July 2015, Global WebForce started managing Trendingpod’s digital marketing campaigns and social media, which jump-started its brand recognition and content marketing. Today, Trendingpod has published over 1,000 posts and counting. Its growing reader base and social media followers extended to different parts of the globe, including the United States, Australia, New Zealand, Canada, Russia, France, Switzerland, Netherlands, Poland, UK,  Mexico, Italy, Spain, Japan, UAE, India, Thailand, Singapore, Philippines and more. We're also in the midst of developing a Trendingpod App, which will be available on iOS and Android smartphones.</p>
          `
        },
        {
          bwUnique: 'ezy',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_ezyoutsourcinghub.png',
          heading: {
            websiteName: 'Ezy Outsourcing Hub',
            websiteBusiness: 'Outsourcing and Offshoring Services Business Website',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://www.ezyoutsourcinghub.com/'
          },
          content: `<p>
            Ezy Outsourcing Hub provides outsourcing, offshoring, remote staffing and seat leasing services to small, medium and large scale companies in the Philippines and abroad. Since it is important for this business website to build credibility while they give information about who they are and what they do, we used easily recognizable design elements like animated icons, clear and crisp images and well-positioned calls to action. We also geared away from displaying large chunks of content and used bite-size information instead, which is also useful when pages are viewed in smaller screen sizes like tablets and smartphones. Contact information is easy to find, along with a clean layout and well-structured site navigation.
          </p></p>
          `
        },
        {
          bwUnique: 'cakes',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_fantasycakes.png',
          heading: {
            websiteName: 'Fantasy Cakes',
            websiteBusiness: 'Responsive Design',
            websiteType: 'Cake Artists',
            websiteUrl: 'https://www.fantasycakes.com.au'
          },
          content: `<p>
            Fantasy Cakes is one of, if not the, most known custom design cake business in Melbourne. With a myriad of loyal clientele that increases by the year, their mission of creating tasty, yet uniquely-designed cakes make them the number one choice.
          </p>
          `
        },
        {
          bwUnique: 'ibs',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_batanesibs.png',
          heading: {
            websiteName: 'IBS Travel & Tours',
            websiteBusiness: 'Travel Agency',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://www.batanesibstravels.com/'
          },
          content: `<p>
            Providing comprehensive and convenient travel packages in the island of Batanes, IBS Travel & Tours aims to bring people who wants to see the beautiful northern island paradise. With various tour packages, as well as wedding coordination services, if you want to see Batanes in its entirety, IBS Travel & Tours is the one you call.</p>
          `
        },
        {
          bwUnique: 'greenw',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_greenware.png',
          heading: {
            websiteName: 'Greenware Computers',
            websiteBusiness: 'Computer Retail',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://greenwarecomputers.com/'
          },
          content: `<p>
            Be it hardware or software, Greenware Computers is your one-stop show for any computer needs, especially in the Visayan and Mindanao region of the Philippines.<br>With custom-built PC setups, which caters to different computing needs, Greenware is more than just your usual computer store. Quality and Integrity as the core company values, they prove that access to high quality computers are for everyone.
          </p>
          `
        },
        {
          bwUnique: 'rps',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_rpsmigration.png',
          heading: {
            websiteName: 'RPS Migration Services',
            websiteBusiness: 'Visa Services',
            websiteType: 'Business Website',
            websiteUrl: 'https://www.rpsmigration.com.au/'
          },
          content: `<p>
            RPS Migration is a migration firm committed to providing results for its clientele whether it is an individual or a business.  Its professional services are grounded on Australia’s Migration Laws and Regulations and the Department of Immigration and Border Protection Policies. RPS Migration Services’ new website focuses on a clean, easy-to-navigate pages so their clientele can easily find the information they are looking for. It also highlights website elements that build trust and credibility, such as a strong About Us page, testimonials, logos of their partners and recent visa approvals.
          </p>
          `
        },
        {
          bwUnique: 'h54',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_highway54.png',
          heading: {
            websiteName: `Highway 54' Cafe & Bar Grill`,
            websiteBusiness: 'Restaurant & Food Industry',
            websiteType: 'Responsive Design, Online booking',
            websiteUrl: 'http://highway54cafe.com/'
          },
          content: `<p>
            From Tagaytay to Australia, Highway 54' Cafe & Bar Grill's food journey has been quite astounding. They amazingly keep a strong passion to serve best-tasting food and friendly service through the years - wherever they are.  Highway 54's beautiful success story only deserves an equally-beautiful website that can make their food services shine. A modern and sophisticated look and easy-to-navigate site is just some of what the website is. Customers can also reserve a table at their restaurant hassle-free with an online reservation form.
          </p>
          `
        },
        {
          bwUnique: 'balikb',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_aussiebalikbayanboxes.png',
          heading: {
            websiteName: `Aussie Balikbayan Boxes`,
            websiteBusiness: 'Parcel Delivery Services',
            websiteType: 'Responsive Design',
            websiteUrl: 'https://aussiebalikbayanboxes.com.au'
          },
          content: `<p>
            Aussie Balikbayan Boxes or ABB, is a Filipino-owned parcel delivery service, specializing in balikbayan boxes.
            Delivering anywhere and everywhere in the Philippines from Australia, ABB, helps Filipinos send their love from abroad. Global WebForce helped them by providing them a modern and responsive website, which makes it easier for customers to book and ship their balikbayan boxes.
          </p>
          `
        },
        {
          bwUnique: 'basepave',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_basepavenq.png',
          heading: {
            websiteName: `Base Pave NQ`,
            websiteBusiness: 'Pavement Construction',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://basepavenq.com.au/'
          },
          content: `<p>
            Base Pave NQ is a pavement construction company, specializing in Road Base, Asphalt Paving and other road works. Having worked with major highways and airports in Australia, Base Pave NQ is one of the most trusted road construction service provider in Australia. Seeking the aid to further expand their reach, Global WebForce helped Base Pave to realize that goal by creating a website that showcases their service and past works.
          </p>
          `
        },
        {
          bwUnique: 'disdental',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_disdental.png',
          heading: {
            websiteName: `Dis Dental`,
            websiteBusiness: 'Dental Clinic',
            websiteType: 'Responsive Design, Online Booking',
            websiteUrl: 'http://www.disdental.com.au/'
          },
          content: `<p>
            A family owned dental clinic that sought to provide services to the Meblourne community. Specializing in a wide array of dental practices, Global WebForce helped Dis Dental with a clean and modern website, which makes it easy for patients to book a dentist appointment.
          </p>
          `
        },
        {
          bwUnique: 'mens',
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_mensgearandbeer.png',
          heading: {
            websiteName: `Mens Gear & Beer`,
            websiteBusiness: 'Home Brew Supplies and Menswear',
            websiteType: 'Responsive Design, eCommerce',
            websiteUrl: 'http://mensgearandbeer.com/'
          },
          content: `<p>
            One of Australia's first when it comes to combining craft beer supplies and men's clothing. After going through many change of ownership, Mens Gear & Beer has become ready for its new start with its new website, courtesy of Global WebForce.  Featuring a convenient online shop to sell its products, Mens Gear & Beer's website makes it easy for customers to start their home brew beers.
          </p>
          `
        }
      ],
      tiled: [
          {
            bwUnique: 'comark',
            imgSrc: '/static/img/portfolio/640x350/comark.jpg',
            isShown: false
          },
          {
            bwUnique: 'willybee',
            imgSrc: '/static/img/portfolio/640x350/willybee.jpg',
            isShown: false
          },
          {
            bwUnique: 'tyd',
            imgSrc: '/static/img/portfolio/640x350/tydauto.jpg',
            isShown: false
          },
          {
            bwUnique: 'bettors',
            imgSrc: '/static/img/portfolio/640x350/bettors.jpg',
            isShown: false
          },
          {
            bwUnique: 'discountflights',
            imgSrc: '/static/img/portfolio/640x350/discountflights.jpg',
            isShown: false
          },
          {
            bwUnique: 'ibs',
            imgSrc: '/static/img/portfolio/640x350/batanesibs.jpg',
            isShown: false
          },
          {
            bwUnique: 'ezy',
            imgSrc: '/static/img/portfolio/640x350/ezyoutsourcinghub.jpg',
            isShown: false
          },
          {
            bwUnique: 'neris',
            imgSrc: '/static/img/portfolio/640x350/neriskitchenandbakery.jpg',
            isShown: false
          },
          {
            bwUnique: 'phtours',
            imgSrc: '/static/img/portfolio/640x350/phtours.jpg',
            isShown: false
          },
          {
            bwUnique: 'perez',
            imgSrc: '/static/img/portfolio/640x350/perezarch.jpg',
            isShown: false
          },
          {
            bwUnique: 'greenw',
            imgSrc: '/static/img/portfolio/640x350/greenware.jpg',
            isShown: false
          },
          {
            bwUnique: 'rnh',
            imgSrc: '/static/img/portfolio/640x350/raineandhorne.jpg',
            isShown: false
          },
          {
            bwUnique: 'bellae',
            imgSrc: '/static/img/portfolio/640x350/bellautoelectrical.jpg',
            isShown: false
          },
          {
            bwUnique: 'a1',
            imgSrc: '/static/img/portfolio/640x350/a1loanhub.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/trendingpod.jpg',
            isShown: false
          },
          {
            bwUnique: 'visatec',
            imgSrc: '/static/img/portfolio/640x350/visatec.jpg',
            isShown: false
          },
          {
            bwUnique: 'cakes',
            imgSrc: '/static/img/portfolio/640x350/fantasycakes.jpg',
            isShown: false
          },
          {
            bwUnique: 'rps',
            imgSrc: '/static/img/portfolio/640x350/rpsmigration.jpg',
            isShown: false
          },
          {
            bwUnique: 'h54',
            imgSrc: '/static/img/portfolio/640x350/highway54.jpg',
            isShown: false
          },
          {
            bwUnique: 'balikb',
            imgSrc: '/static/img/portfolio/640x350/aussiebalikbayanboxes.jpg',
            isShown: false
          },
          {
            bwUnique: 'basepave',
            imgSrc: '/static/img/portfolio/640x350/basepavenq.jpg',
            isShown: false
          },
          {
            bwUnique: 'disdental',
            imgSrc: '/static/img/portfolio/640x350/disdental.jpg',
            isShown: false
          },
          {
            bwUnique: 'mens',
            imgSrc: '/static/img/portfolio/640x350/mensgearandbeer.jpg',
            isShown: false
          },
          {
            bwUnique: 'iwfi',
            imgSrc: '/static/img/portfolio/640x350/iwantfastinternet.jpg',
            isShown: false
          },
          {
            bwUnique: 'kreative',
            imgSrc: '/static/img/portfolio/640x350/kreativetravels.jpg',
            isShown: false
          },
          {
            bwUnique: 'oldtech',
            imgSrc: '/static/img/portfolio/640x350/oldtechnology.jpg',
            isShown: false
          },
          {
            bwUnique: 'portside',
            imgSrc: '/static/img/portfolio/640x350/portsidemarine.jpg',
            isShown: false
          },
          {
            bwUnique: 'printsmartph',
            imgSrc: '/static/img/portfolio/640x350/printsmartph.jpg',
            isShown: false
          },
          {
            bwUnique: 'reowex',
            imgSrc: '/static/img/portfolio/640x350/reowex.jpg',
            isShown: false
          },
          {
            bwUnique: 'vicwide',
            imgSrc: '/static/img/portfolio/640x350/vicwideelectricmotors.jpg',
            isShown: false
          },
          {
            bwUnique: 'westcafe',
            imgSrc: '/static/img/portfolio/640x350/weststcafeandbakery.jpg',
            isShown: false
          },
          {
            bwUnique: 'bda',
            imgSrc: '/static/img/portfolio/640x350/batteriesdirectaustralia.jpg',
            isShown: false
          },
          {
            bwUnique: 'ck',
            imgSrc: '/static/img/portfolio/640x350/ckupholstery.jpg',
            isShown: false
          },
          {
            bwUnique: 'devia',
            imgSrc: '/static/img/portfolio/640x350/deviaddaccounting.jpg',
            isShown: false
          },
          {
            bwUnique: 'happyhut',
            imgSrc: '/static/img/portfolio/640x350/happyhut.jpg',
            isShown: false
          },
          {
            bwUnique: 'shawarmahouse',
            imgSrc: '/static/img/portfolio/640x350/shawarmahouse.jpg',
            isShown: false
          }
        ],
      contactbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/portfolio/banner_portfolio2.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Portfolio',
          contents: [
              {
                content:'Let Our Works Do The Talking',
              }
            ]
        }
      ]
    }
  },
  methods: {
    onClickChild() {
      var thissfp = this.selectedFromPortfolio
      thissfp = this.$refs.tilesRef.selectedFromPortfolio
      console.log(thissfp)
      var bwData = this.bestworksdata
      $.each(bwData, function(i, val){
        if(thissfp ===  bwData[i].bwUnique && bwData[i].hasOwnProperty('bwUnique')) {
          $.each(bwData, function(j, vv) {
            bwData[j].isActive = false
          })
          bwData[i].isActive = true
          $('html, body').animate({scrollTop: $("#mainPackPrev").offset().top}, 200);
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
