<template>
  <div id="terms-and-conditions">

<gwfbanner :data="termsAndConditionsBanner"></gwfbanner>
<terms-and-conditions :data="termsAndConditions"></terms-and-conditions>

<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Header from '../common/Header.vue'
import Slider from '../common/Slider.vue'
import termsandconditions from '../termsandconditions/termsandconditions.vue'

// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'

Vue.component('slider-gwf', Slider)
Vue.component('terms-and-conditions', termsandconditions)


// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: '',
      termsAndConditions: [
        {
        head: 'Privacy Policy',
          contents: [
            {
              header: 'Data Collection',
              content: `
                Global WebForce("GWF", "we", "our" or "us") attaches importance in protecting a
                 person's personal data and is committed to complying with the Personal Data (Privacy) Ordinance and observing the
                 codes of practice which may be issued by the Privacy Commissioner from time to time. <br/><br/> 

                 We collect personal data (such as name, company name, postal address, telephone number and email address) 
                 from you when you wish to contact us, whether for the purpose of enquiry about our company products and services or
                for giving any feedback to us. The personal data collected will be used for contacting you when we reply to you. We require this information to understand 
                 your needs and provide you with a better service, and in particular for the following reasons: <br/>
                <br/>
                 <ul>
                    <li>Internal record keeping</li>
                    <li>We may use the information to improve our products and services</li>
                    <li>We may periodically send promotional emails about new products, services or other information which we think you may find interesting using the email address which you have provided</li>
                    <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the products, services and other marketing materials according to your interests.</li>
                 </ul>
              
                <br/>
                We will keep any personal data held by us confidentially. Such personal data can only be accessed by our authorised personnel and strictly on a "need-to-know" basis. No personal data will be disclosed to any unauthorised personnel unless they are required to be disclosed under the laws of Hong Kong.
                    You may contact us and request access to or corrections of any of your personal data we have collected from you. We will handle your request as soon as possible. Under normal circumstances, you are not required to pay any fees.

              `,
              html: true
            },
            {
                header: 'Log Files',
                content: `Like many other Web sites, www.globalwebforce.com makes use of log files.
                 These files merely logs visitors to the site – usually a standard procedure for hosting companies
                and a part of hosting services’s analytics. The information inside the log files includes internet 
                protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit
                 pages, and possibly the number of clicks. This information is used to analyse trends, administer the 
                 site, track user’s movement around the site, and gather demographic information. IP addresses, 
                and other such information, do not link to any information that is personally identifiable.`,
                html: true
            },
            {
                header: 'Cookies and Web Beacons',
                content: `
                    www.globalwebforce.com  uses cookies to store information about visitors’ preferences, 
                    to record user-specific information on which pages the site visitor accesses or visits, 
                    and to personalise or customise our web page content based upon visitors’
                     browser type or other information that the visitor sends via their browser.
                `,
                html: true
            },
            {
                header: 'DoubleClick DART Cookie',
                content: `
                    <ul>
                        <li>Google, as a third party vendor, uses cookies to serve ads on <a href="www.globalwebforce.com.">www.globalwebforce.com.</a></li>
                        <li>Google’s use of the DART cookie enables it to serve ads to our site’s visitors based upon their visit to <a href="www.globalwebforce.com.">www.globalwebforce.com.</a> and other sites on the Internet.</li>
                        <li>Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL – <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a></li>
                   </ul>
                `,
                html: true
            },
            {
                header: 'Our Advertising Partners',
                content: `Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include …
                    <br/><br/>
                    <ul>
                        <li>Google Adsense</li>
                    </ul>

                    <br/>
                    <br/>
                    While each of these advertising partners has their own Privacy Policy for their site, an updated and hyperlinked resource is maintained here: Privacy Policies.
                    You may consult this listing to find the privacy policy for each of the advertising partners of <a href="www.globalwebforce.com.">www.globalwebforce.com</a>
                    <br/><br/>
                    These third-party ad servers or ad networks use technology in their respective advertisements and links that appear on <a href="www.globalwebforce.com.">www.globalwebforce.com</a>edxe which are sent directly to your browser. They automatically receive your IP address when this occurs. Other technologies (such as cookies, JavaScript, or Web Beacons) may also be used by our site’s third-party ad networks to measure the effectiveness of their advertising campaigns and/or to personalise the advertising content that you see on the site.
                    www.globalwebforce.com has no access to or control over these cookies that are used by third-party advertisers.

                `,
                html: true
            },
            {
                header: 'This website uses Google AdWords',
                content: `This website uses the Google AdWords remarketing service to advertise on third party websites 
                (including Google) to previous visitors to our site. It could mean that we advertise to previous 
                visitors who haven’t completed a task on our site, for example, using the contact form to make an enquiry.
                 This could be in the form of an advertisement on the Google search results page, or a site in the Google 
                 Display Network. Third-party vendors, including Google, use cookies to serve ads based on someone’s past
                  visits to the Global WebForce or its affiliate websites. Of course,any data collected will be used 
                 in accordance with our own privacy policy and Google’s privacy policy.You can set preferences for how
                  Google advertises to you using the <a href="http://www.google.com/settings/ads/onweb/">Google Ad Preferences page</a>, and if you want to you canopt out of
                   interest-based advertising entirely by cookie settings or permanently using a browser plugin.`,
                html: true
            },
            {
                header: 'Third Party Privacy Policies',
                content: `You should consult the respective privacy policies of these third-party ad servers for 
                more detailed information on their practices as well as for instructions about how to opt-out of 
                certain practices. <a href="www.globalwebforce.com>www.globalwebforce.com ‘s </a> 
                privacy policy does not apply to, and we cannot control the activities of, 
                such other advertisers or web sites. You may find a comprehensive listing of 
                these privacy policies and their links here: <a href="http://www.privacypolicyonline.com/privacy-policies/"> Privacy Policy Links</a>.
                <br/>
                
                
                If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers’ respective websites. <a href="http://www.privacypolicyonline.com/what-are-cookies/">What Are Cookies?</a>

                `,
                html: true
            },
            {
                header: 'Children’s Information',
                content: `
                    We believe it is important to provide added protection for children online.
                    We encourage parents and guardians to spend time online with their children to observe, 
                    participate in and/or monitor and guide their online activity. <a href="www.globalwebforce.com">www.globalwebforce.com </a>
                    does not knowingly collect any personally identifiable information from children under 
                    the age of 13. If a parent or guardian believes that <a href="www.globalwebforce.com">www.globalwebforce.com </a> has in its 
                    database the personally-identifiable information of a child under the age of 13, please 
                    contact us immediately (using the contact in the first paragraph) and we will use our 
                    best efforts to promptly remove such information from our records.
                `,
                html: true
            },
            {
                header: 'Online Privacy Policy Only',
                content: `
                    This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this website.
                `,
                html: true
            },
            {
                header: 'Consent',
                content: `By using our website, you hereby consent to our privacy policy and agree to its terms.`,
                html: true
            },
            {
                header: 'Update',
                content: `This Privacy Policy was last updated on: Tuesday, 01 August 2015. Should we update, amend or make any changes to our privacy policy, 
                those changes will be posted here.
                <br/><br/>
                If you require any more information or have any questions about our privacy policy, please feel free to contact us by <a href="mailto:contact@globalwebforce.com">email</a>.
                `,
                html: true
            },
          ]
        }
      ],
      termsAndConditionsBanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/about/banner_about.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Privacy Policy',
          contents: [
              {
                content:'',
              }
            ]
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
