<template>
  <div id="terms-and-conditions">

<gwfbanner :data="termsAndConditionsBanner"></gwfbanner>
<terms-and-conditions :data="termsAndConditions"></terms-and-conditions>

<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Header from '../common/Header.vue'
import Slider from '../common/Slider.vue'
import termsandconditions from '../termsandconditions/termsandconditions.vue'

// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'

Vue.component('slider-gwf', Slider)
Vue.component('terms-and-conditions', termsandconditions)


// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: '',
      termsAndConditions: [
        {
        head: 'Terms & Conditions',
          contents: [
            {
              header: 'Terms of Use',
              content: 'Welcome to the Global WebForce website (herein referred to as "Site"). By accessing this Site, you hereby agree to the terms and conditions indicated below (herein referred to as "Terms"). If you do not agree to the Terms, please do not use this Site. Global WebForce may modify or make revisions to the Terms from time to time by updating this Web page. Your use of the Site following any such change/s constitutes your agreement to follow and to be bound by the Terms as modified. Should any change be unacceptable to you, your only recourse is to terminate your use of the Site.',
            },{
              header: 'Copyright and Trademark Notice',
              content: 'This Site and its contents, including but not limited to, domain name, text, graphics, photographs, illustrations, sound video, and other material (all such content herein collectively referred to as "Content") are protected under Australian and international copyright laws and are the property of Global WebForce or its third-party licensors. All rights reserved. All logos, custom graphics, splash screens, page headers, and button icons displayed on this Site are service marks, trademarks, and/or trade dress (herein collectively referred to as "Marks") of Global WebForce or its third-party licensors. Except as specifically permitted herein, copying, displaying, distributing, modifying, selling, transmitting, or participating in the sale of, or otherwise exploiting or using any Content or any Marks in any form or by any means without the express written consent of Global WebForce is prohibited and may violate the copyright or trademark laws of Australia and other countries.'
            },{
              content: 'The Site along with its Contents are intended solely for your personal, noncommercial use. Downloading or copying the Contents displayed on the Site for the sole purpose of using the Site as a personal resource is allowed, provided you maintain any notices contained in the Content, i.e. all copyright notices, trademark legends, or other proprietary rights notices. No right, title, or interest in any downloaded materials is transferred to you as a result of any such downloading or copying.',
            },{
              header: 'Your Comments',
              content: 'Your comments, suggestions, remarks, feedback, ideas, and other submissions you disclose or transmit to us (collectively, "Comments") are highly appreciated. By agreeing to these terms and conditions, you grant Global WebForce and its affiliates a perpetual, irrevocable, worldwide, royalty-free right and license to use, distribute, reproduce, modify, adapt, publish, translate, create derivative works of, publicly perform, and publicly display (in whole or in part) your Comments, your name, and any related copyrights, moral rights, or other intellectual property rights.'
            },{
              header: 'Privacy',
              content: 'It is our policy to respect the privacy of individuals who visit or use the Site. Our privacy policy (herein referred to as the "Privacy Policy"), may be viewed at <a href="https://www.globalwebforce.com/privacy-policy" title="Privacy Policy">https://www.globalwebforce.com/privacy-policy</a>, is incorporated herein by reference. By accepting these Terms, you expressly consent to the use and disclosure of your personally identifiable information and others as described in our Privacy Policy.',
              html: true
            },{
              header: 'Linked Sites',
              content: 'The Site may contain links to other websites (herein referred to as "Linked Sites"). Global WebForce does not operate or control any information, products, or services on the Linked Sites and does not endorse or approve any products or information offered at Linked Sites. You hereby acknowledge and agree that your access or use of any Linked Site is done at your own risk.'
            },{
              header: 'Disclaimer',
              content: 'This site, its contents, and all information, products, and services contained in or offered through this site are provided on an "as is" and "as available" basis without representations or warranties of any kind. Global WebForce expressly disclaims all such representations and warranties, either express or implied, including, without limitation, warranties of title, merchantability, fitness for a particular purpose, or non-infringement and any implied warranties arising from course of dealing or course of performance. Global WebForce does not warrant that this site or its contents will be complete, accurate, uninterrupted, secure, or error free or that the site or the server that makes it available are free of viruses or other harmful components. All information on the site is subject to change without prior notice.'
            },{
              header: 'Indemnification',
              content: 'You agree to defend, indemnify, and hold Global WebForce free from and against any and all claims, damages, expenses, losses, liabilities, costs, including attorneys\' fees, arising from or related to your (i) use of the Site or (ii) violation of any of these Terms, resulting from any third-party claim, action or demand arising under or relating to:',
              orderedList: {
                  type: 'a',
                  lists: [
                    {
                      content: 'This Agreement or the breach of Customer warranties, representations and obligations under this Agreement or any other Global WebForce term, rule, policy or agreement;'
                    },
                    {
                      content: 'Customer\'s failure to perform in accordance with this Agreement;'
                    },
                    {
                      content: 'Customer’s use of the Services;'
                    },
                    {
                      content: 'The Website, Content and/or URLs;'
                    },
                    {
                      content: 'Customer\'s violation of any third-party rights; or'
                    },
                    {
                      content: 'Customer\'s application for and registration of, renewal of, or failure to renew a particular domain name.'
                    }
                  ]
              }
            },{
              content: 'You agree that this indemnification obligation survives this Agreement’s termination or expiration. You agree to give prompt, written notice to Global WebForce upon the receipt of notice of any claim by a third party against you which might give rise to a claim against Global WebForce, stating the nature and basis of such claim and, if ascertainable, the amount thereof.'
            },{
              content: 'When Global WebForce is threatened with a lawsuit or issued by a third party, Global WebForce may seek written assurances from you concerning your promise to indemnify Global WebForce. Such assurances may, without limitation, be in the form of a deposit of money by you to Global WebForce or its representatives to cover Global WebForce ’s fees and expenses, including, but not limited to, reasonable attorneys’ fees, in any such lawsuit or threat of suit. Your failure to provide such assurances shall be considered by Global WebForce to be a material breach of this Agreement. Global WebForce shall have the right to participate in any defense by you of a third-party claim related to your use of any of Global WebForce’s Services, with counsel of Global WebForce’s choice. Global WebForce shall reasonably cooperate in the defense at your request and expense. You shall have sole and absolute responsibility to defend Global WebForce against any claim, but you must receive Global WebForce’s prior written consent regarding any related settlement.'
            },{
              content: 'The use of Global WebForce’s Services to transmit certain kinds of information (including, but not limited to, computer software and other technical data) may violate export control laws and regulations of the Australia, whether that information is received abroad or by foreign nationals within the Australia. Since Global WebForce exercises no control whatsoever over the information that is received abroad or by foreign nationals within the Australia, you agree to comply with all export and import requirements as referenced herein. Since Global WebForce exercises no control whatsoever over the content of information passing through its Service, the entire burden of complying with all applicable laws and regulations is your obligation. You agree to comply with such applicable laws and regulations and to indemnify and hold Global WebForce harmless from any damages it may suffer resulting from any violation of the export control laws of the Australia.'
            },{
              header: 'Limitation of Liability',
              content: 'In no event shall Global WebForce be liable for any direct, indirect, consequential, special, or incidental damages arising out of or related to your use of or inability to use this Site or goods or services purchased or obtained through this Site, whether in an action under contract, negligence, or any other theory, even if Global WebForce has been advised of the possibility of such damages. Global WebForce\'s total liability for any claim arising from or related to your use of this Site shall not exceed one hundred dollars (AUD$100).'
            },{
              header: 'Miscellaneous',
              content: 'These Terms are governed by and shall be construed in accordance with Australian Laws without giving effect to any principles of conflicts of law. If any provision of these Terms shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions. These Terms are effective unless and until terminated by Global WebForce.'
            },{
              header: 'Authorisation',
              content: 'Hereafter, the customer or company will be known as the "Client" and Global WebForce Limited or Global WebForce will be known as the "Developer." The Client is engaging Developer as an independent contractor for the specific purpose of developing a website, web application or software, which will be referred to as "Project."If the Developer shall establish a Web server account for hosting. The Client hereby authorises the Developer to access its account, and authorises the Developer with "write permission" for the Client\'s Web page directories.'
            },{
              header: 'Domain Registration',
              content: 'The Developer can either register the Client\'s Domain for a fee or use the Client\'s existing domain. If the domain name shall be purchased by the Developer, an invoice will be sent to the Client and it must be settled prior to registering the domain name. The Client is responsible for the domain name renewal, which will be invoiced and must be settled before the domain\'s expiry date.'
            },{
              content: 'If the domain name registration is included in the web development package, the Developer will only pay for one (1) regular domain name valid for one (1) year. During this period, the domain name registered by the Developer is owned by the Developer. Premium domain names and additional domain name(s) must be paid by the Client prior to purchase. A domain name renewal fee will also be invoiced to the Client and must be paid before the free domain name expires.'
            },{
              content: 'If the Client fails to pay the domain name renewal fee on the day the domain name expires, the domain name will be immediately set to parking. The Developer is not responsible for any domain or website issues, unavailability of the domain name and additional costs, such as a redemption fee or a higher domain price. The domain name remains to be owned by the Developer unless all outstanding balances payable to the Developer have been settled.'
            },{
              header: 'Training and Consultation',
              content: 'The Developer will provide email and telephone assistance to the Client\'s designated representatives regarding the management of the new web site. The number of hours allotted for training and consultation is 4 hours, which will take effect after notifying the Client that the new website has been completed and is ready for final checking. One (1) hour of website admin site hands-on tutorial will be included in the 4 hours of consultation. Additional meetings, consultations, design and development work on top of 4 hours may be billed at an hourly rate (The standard cost of consultation, content writing and design is $35.00/hour; Standard cost for additional development work is $55.00/hour, unless otherwise stipulated). Additional training fees for groups on-site or off-site can be done through a conference call, but may be subject to additional fee.'
            },{
              header: 'Packages',
              content: 'Web Development package inclusions vary. To see the list of inclusions for your selected web development package, please refer to Website Brief. Global WebForce packages and prices published on the website or any marketing materials exclude GST.'
            },{
              header: 'E-commerce',
              content: 'E-commerce includes a product list with pictures and description, product selection and insertion into a shopping cart, customer registration and account creation, automatic merchant transactions, optional pass-through to Google Checkout or PayPayl, and report generation. The Client may select third party e-commerce software. Any desired e-commerce features are listed in Website Brief.'
            },{
              header: 'Text',
              content: 'The Client shall supply the final text, unless otherwise specified in Website Brief. If content writing services will be provided by the developer, writing fees shall apply. The Client should still provide raw information, style guide and/or content flow to the Developer. Upon submission of the initial draft, the client should provide a document summarising content that requires revisions. The Developer will only accommodate up to two (2) summarised document of content revisions. Additional revision requests may be subject to additional fees.'
            },{
              content: 'Failure to supply Global WebForce with pending information or requirements for all contracted web pages within 90 days of the APPLICATION FORM signing date, the entire amount of the contract becomes due and payable unless a justifiable reason is provided by the client and Global WebForce has acknowledged this delay in writing.'
            },{
              content: 'If the delay in website delivery is due to client not providing information, delay in giving feedback and approval, or non-responsiveness to questions, a surcharge between the 61st – 70th day after signing the Application Form would be 10% of the website package price. If 71 days or more have passed after the Application Form signing date, the client will incur a 20% surcharge of the web package price every month until the project resumes.'
            },{
              header: 'Links',
              content: 'This agreement includes an average of 10 external or relative links per page unless otherwise specified in Website Brief.'
            },{
              header: 'Cross Browser Compatibility.',
              content: 'The Developer agrees to create a web site viewable by the most recent versions of Firefox, Chrome, and Microsoft Internet Explorer. Although presentation may not identical among browsers, critical elements of each page will be displayed. Client acknowledges that some advanced techniques (e.g., HTML5 and video) may require a more recent browser version, different brand, or additional browser plug-in. The Client is also aware that as new browser versions are developed, the new browser versions may not be backward compatible. In the absence of a Maintenance Agreement, time spent to redesign a site for compatibility due to the introduction of a new browser version will be separately negotiated and in addition to the base price of our agreement.'
            },{
              content: 'Should you specifically require compatibility with a future version of browsers, computers and/or devices, including but not limited to, Firefox, Safari, Chrome and Internet Explorer, plugin versions, theme versions or specifically requires compatibility with a future version of WordPress, this may incur additional costs, even with a Global WebForce Website Hosting and Maintenance plan. The Developer will not take responsibility for any website malfunctions whatsoever, including if you make any changes to the website via the editor and/or shop manager WordPress control panel login dashboard, including updating WordPress versions, the versions or WordPress plugins. Updating WordPress versions, theme versions of WordPress plugins without first consulting the Developer can cause website failure and can crash the website.'
            },{
              header: 'Graphic Creation',
              content: 'The Developer will create, capture or receive from the Client all the graphic elements necessary to complete the Client\'s web site. This includes creating ancillary images, animated graphics and banner advertisements. This also includes photography or scanning services. However, if the creation of banner advertisements and images are included in the web development package, specifications are listed separately in Website Brief of this agreement.'
            },{
              header: 'Photos',
              content: 'The Client shall provide raw or enhanced photography required on the website. Photographic retouching of these images is included in this agreement. If more than 10 images need to be edited, an additional fee may be billed after 10-image allowance has been reached.'
            },{
              content: 'The Client shall comply with the Developer\'s media requirements (graphic images, photos and videos) to ensure that the quality of the website will not be compromised due to poor quality or low-resolution images used on the website.  The Developer reserves the right to determine what is and is not acceptable image, photos and videos. Moreover, the Developer reserves the right to replace poor quality website images, graphics, videos uploaded on the website by the Client with appropriate images, graphics and videos, if the Client failed to replace the flawed images, graphics or videos within 10 working days after signing the Application form.'
            },{
              content: 'The Developer can supply up to 10 stock photo images for website use. In excess of 10 stock photo images provided by the Developer, images, graphics or video replacement by the Developer may be subject to additional fees.'
            },{
              content: 'In the event that the website is ready to launch except for images that need to be replaced by the Client, the final invoice shall be due and payable and the Client will be responsible for uploading production-ready images.'
            },{
              header: 'Photograpy',
              content: 'Photography services is NOT included in the website package or customised pricing. The Client is accountable for any photography requirements, staging, professional fees and other expenses related to the photography services.'
            },{
              header: 'Scanning',
              content: 'Up to 10 scanned images are included in the base contract price. If more than 10 images need to be scanned, an additional fee may be billed after the 10-image allowance has been reached.'
            },{
              header: 'JavaScript',
              content: 'JavaScript programming necessary to complete the Client\'s site is included in the base price of this contract. JavaScript programming also includes page redirection based on the presence or absence of a viewer\'s browser, plug-in, screen resolution and platform. However, if additional pages are necessary to accommodate browser type, plug-in technology, multiple screen resolution, or other platform issue, additional charges will apply if the agreed page count is exceeded. If advanced JavaScript functions are desired by the Client, the rate to program each page will be specified in Website Brief.'
            },{
              header: 'Java Applets',
              content: 'JavaScript and Java are separate programming languages. This agreement does not include the use of Java Applets. Clients are encouraged to not use Java Applets, as viewers may see an error when trying to view the page. Java Applets may also crash computers on download and download times for some viewers can be excessive.'
            },{
              header: 'CGI / Perl / PHP',
              content: 'This contract does not include the use of Common GateWay Interface (CGI), Perl, or PHP scripting technologies. If the Client requests a specific script which must be programmed by the Developer, the charge for the script will be listed in Website Brief of this agreement.'
            },{
              header: 'Adobe Flash',
              content: 'Adobe Flash is an option for the Client. If selected, the details will be in  Website Brief. Although Flash work is charged by the hour, the Developer warrants to protect the client by specifying a maximum charge in advance which will be listed in Website Brief. The Developer warrants t work earnestly to come in under the maximum charge.'
            },{
              header: 'AJAX',
              content: 'The base contract agreement does not include AJAX page optimisation technology. If AJAX technology is desired by the Client, the rate to program each AJAX page will be specified in Website Brief.'
            },{
              header: 'HTML5 Canvas / SVG',
              content: 'The base contract agreement does not include HTML5 multimedia or Scalable Vector Graphics (SVG) page optimisation technology. If advanced HTML5 or SVG technology is desired by the Client, the rate to program each page will be specified in Website Brief.'
            },{
              header: 'Audio/Video',
              content: 'The base contract does not contemplate using audio or video players on the Client\'s site. If sound and video required, charges will be listed separately in Website Brief.'
            },{
              header: 'Secure Certificate',
              content: 'If the Client selected an eCommerce enabled site, the Developer can assist in acquiring a secure certificate for the website, provided that the domain name was purchased by the Developer. If the domain was purchased by the Client, the Client is encouraged to obtain a secure certificate for online transactions. The Client understands that if they do not obtain their own secure certificate, design capabilities and website security on the shopping cart itself may be limited.'
            },{
              header: 'Merchant Account',
              content: 'If the Client\'s web site requires the ability to accept credit cards, the Client will need a Merchant Account. The Client understands that any charges necessary to secure the Merchant Account are not covered by this agreement.'
            },{
              header: 'CyberCash / Authorize.net',
              content: 'If the Client has a high volume or high sales website, real-time credit card processing will be desired. In this instance, the Developer will assist the Client in obtaining this service. Any related to this service are payable to the Developer and will be billable to the Client as an addition to the base price of this agreement.'
            },{
              header: 'Cold Fusion, ASP',
              content: 'Sites requiring database design may require Microsoft ASP or Macromedia Cold Fusion technology. Any charges applicable to ASP or Cold Fusion are in addition to the base price of our agreement and will be listed in Website Brief.'
            },{
              content: 'Database and Virtual Machines. This agreement does not include a provision for the creation of a database and virtual machines unless specifically listed in Website Brief.'
            },{
              header: 'Payment Terms and Work Flow',
              content: 'The Client can pay for Global WebForce services on a yearly, monthly, or fortnightly basis via credit card (preferred) and direct credit. To check the approved payment term specific to your services, see Website Brief. The Developer may charge the MSF rate if the purchase is done via a credit card facility.'
            },{
              content: 'Monthly payment terms must be paid three (3) months in advance before starting any web-based tasks or projects. The payment for month 1 to month 3 will be included in the first invoice. Provided that the first invoice was settled on time, regular monthly rates will be billed in the second invoice from then on. Hourly rates are sometimes encouraged for some task-based and irregularly scheduled tasks. Unless otherwise stipulated, hourly rates must be consolidated in the monthly billing.'
            },{
              content: 'Global WebForce allows two (2) payment options for every web design and development project.'
            },{
              header: 'Standard Payment',
              content: 'A minimum deposit of 40% of the contract price is required to commence work unless specifically stipulated in the Payment Agreement. Once the first deposit is received by the Developer, basic website design concepts will be put on-line for the Client\'s viewing and approval. Alternatively, the Developer may show the Client the designs in person. Communication between the Developer and the Client is crucial during this phase to ensure that the ultimate publication will match the Client\'s taste and needs.'
            },{
              content: 'Upon completion of this stage, the Client will be asked to confirm acceptance for the basic website design via email or by signing the Application Form. Once this acceptance is received from the Client, the work necessary to complete the project will begin, and the second Installment or the specific percentage of the total amount as stipulated in the invoice must be paid. Clients should continue, however, to repeatedly view updates to the website and express their preferences or dislikes to the Developer.'
            },{
              content: 'If the seven (7) day minimum is not met, an additional charge of 10% is due. If the payment is not made within fifteen (15) days of notification, simple interest will accrue on the balance owed at a rate of 18% from the date the 10% penalty was levied. Developer reserves the right to stop all remaining tasks and remove all web content from the internet if payment is not made within fifteen (15) days after delivery of our completion notification.'
            },{
              header: 'Flexipay Option',
              content: 'The Client can opt for a Flexipay Monthly Installment payment plan, where the total cost can be divided monthly over a period of 6, 12, or 24 months. The Developer will provide a payment schedule and monthly invoice, which must be settled on or before the specified due date.'
            },{
              content: 'FlexiPay Option requires an upfront payment of three (3) months before starting any web-based tasks or projects. The payment for month 1 to month 3 will be included in the first invoice. No website will be sent live unless payment of the first invoice is collected. Provided that the first invoice was settled on time, regular monthly rates will be billed in the second invoice from then on.'
            },{
              content: 'Once the Client confirms acceptance for the basic website design via email or by signing the Application Form, the work necessary to complete the project will begin, and the second Installment or the specific percentage of the total amount as stipulated in the invoice must be paid.'
            },{
              content: 'Additional tasks or services on top of the FlexiPay monthly payment will be consolidated and added to the current monthly invoice.'
            },{
              content: 'If the client fails to make timely payments, there will be 1.5% interest charged on overdue payments every month plus miscellaneous fees like attorney\'s fees. In case of delayed payment or non-payment of the invoice, the developer has the right to stop all pending work and take down the website if it\'s already live. The developer owns the intellectual property, which will only be turned over to the Client once the final invoice has been settled.'
            },{
              content: 'Any disputed invoices for the services provided by Global WebForce that are declared unresolved by both parties be dealt with in accordance with mediation and arbitration. Failure to pay invoices and/or due payments, may lead to services provided to you by Global WbForce, to become offline until the payment(s) are made in full or services may be suspended permanently.'
            },{
              content: 'Most frequently, problems with timely payment are the result of poor communication. If a payment delay is anticipated, please contact the Developer to discuss potential problems in advance. If problems are anticipated, we may be able to accommodate an alternate arrangement.'
            },{
              content: 'The Client should notify the developer two (2) months before the credit card expires. If there is a change in credit card or bank information related to the account billing, the Client should notify the Developer immediately or not later than fifteen (15) business days from the date of the change. If the Client fails to comply, the Developer may charge the Client a dishonour fee of $30.00.'
            },{
              header: 'Maintenance Agreements',
              content: 'Maintenance Agreements are negotiated on an individual basis, as each client has different needs. The developer offers a maintenance agreement in which the customer pays on an "as needed" hourly basis or a monthly basis. Web Hosting and Maintenance services provide the best possible protection from being compromised by viruses, malicious attacks, installations and hacking.'
            },{
              header: 'Third Party or Client Page Modification',
              content: 'Clients may elect to independently edit or update their web pages after completion. The developer will update the website at an hourly rate. There is one-hour minimum. In this regard, Clients are encouraged to obtain a Maintenance Agreement.'
            },{
              header: 'Web Site Backup',
              content: 'The Developer will backup the Client\'s web site onto portable storage at the Client\'s request upon completion of the site, provided that there is no unsettled payments.'
            },{
              header: 'Search Engine Registration',
              content: 'The Developer can optimise the Client\'s web site with appropriate titles, keywords, descriptions and text and can thereafter submit the Client\'s web site to some of the major search engines and directories, provided that this is specified in the Web Development Package.'
            },{
              header: 'Regarding Fees and Additional Expenses',
              content: '<span >As consideration for the Services you purchase, order or otherwise utilise, you agree to pay Global WebForce all applicable prices and fees as designated in the related order process, with such prices and fees subject to change as provided in this Agreement. All prices and fees are due immediately or upon ordering and are non-refundable, except as otherwise expressly provided in this Agreement, as required by applicable law, or as such prices and fees are billed by Global WebForce under an invoice or order confirmation for Services issued to a Customer that expressly permits payment within <strong><span style="text-decoration: underline;">thirty (30) days</span></strong> after Global WebForce has sent the Customer such invoice or order confirmation. Global WebForce may require a Customer to successfully complete a credit application prior to such Customer qualifying to be eligible for the <strong><span style="text-decoration: underline;">30-day payment window</span></strong>.</span>',
              html: true
            },{
              content: '<span>If you fail to make payments when due, the Services will be suspended and/or cancelled. Global WebForce may apply a late fee, interest and other charges (including but not limited to, collection fees) up to the maximum amount permitted by law. Returned cheques, payment by phone, paper bills, and other fees due to your choice of payment method or billing receipt may also be subject to fees. You agree to pay costs and fees, including, but not limited to, attorney fees we incur to collect an unpaid balance from you.</span>',
              html: true
            },{
              content: '<span>The domain name, if purchased by Global WebForce, is solely owned by Global WebForce. The domain name  is only valid for one year if it is "Included" in the package, except as specifically permitted by Global WebForce to transfer the domain name’s ownership to the client or to a third party.</span>',
              html: true
            },{
              content: 'If you require Additional Services, then additional prices and fees will apply pursuant to the current rates, which are also subject to change in accordance with this Agreement.  All quoted prices and fees exclude all applicable sales tax, use tax, value added tax ("VAT"), and other taxes and government charges, whether federal, state or foreign. You are responsible for payment of all such taxes (other than based on Global WebForce’s income), fees, duties and charges on your payment for the purchase of Services arising from any and all fees under this Agreement.  Accordingly, you agree to pay all VAT, sales and other taxes (other than taxes based on Global WebForce’s income) related to Global WebForce services or payments made by you hereunder. All payments of prices and fees for Global WebForce Services shall be made in <strong><span style="text-decoration: underline;">Australian (AUD) dollars</span></strong>.  Although Global WebForce may display pricing in various currencies, transaction processing is supported only in <strong><span style="text-decoration: underline;">Australian (AUD) dollars</span></strong> and the pricing displayed during the checkout process will be an estimated conversion price at the time of purchase.  If the currency of your bank or credit card account is not in Australian (AU) dollars, you may be charged exchange rate conversion fees by your bank or credit card provider.  In addition, due to time differences between (i) the time you complete the checkout process; (ii) the time the transaction is processed; and (iii) the time the transaction posts to your bank or credit card, the conversion rates may fluctuate and Global WebForce makes no representations or warranties that (a) the amount submitted to your bank or credit card for payment will be the same amount that is posted to your bank or credit card statement or (b) the estimated conversion price will be the same as either the amount processed or the amount posted to your bank or credit card statement, and you agree to waive any and all claims against Global WebForce based upon such discrepancies (including any and all claims for a refund based on the foregoing).  You acknowledge and agree that you may be charged VAT based on the country indicated in the account holder’s address information associated with your account.  Set up prices and fees, if any, will become payable on the applicable effective date for the applicable Services.',
              html: true
            },{
              content: 'Unless otherwise stipulated in the related order process, you may terminate this Agreement and the Services by calling Global WebForce Customer Service, whereby this termination request may be recorded, and the Services will terminate as of the end of the applicable, current billing period. You are responsible for all fees incurred up to and including the date of termination and upon termination you may receive a final bill reflecting the balance due for any remaining charges and agrees to pay all such fees incurred by you and/or via your utilisation of the Services. <span>If you order any Services by telephone and agree to be legally bound by these Terms and Conditions at that time, you must notify Global WebForce by <strong><span style="text-decoration: underline">5 p.m. Australian Time</span></strong> on the following business day upon your receipt of a welcome email to your account email address on record that you desire to cancel such Services, whereby the Services will be cancelled, and a refund of any payments or fees already paid to Global WebForce with respect to the order of the Services will be issued, with no further obligation by either Party.</span> Your failure to notify Global WebForce of cancellation of any Services as described above will indicate that you acknowledge and agree that you have read and understood these Terms and Conditions and agree to be legally bound by them.',
              html: true
            },{
              content: '<span>If no length of time is identified on the Service Order, Invoice or Contract, or you were not otherwise required to commit to a term, the term is month-to-month, and you or we may terminate at any time by providing notice at least thirty (30) days prior to the effective date of termination. You remain liable for payment of all outstanding charges for all Services you used and Software, Platform, Application and/or Tools you purchased from us prior to termination. If you terminate Service prior to the last day of your billing cycle, then you will be charged for the full last month of Service with no proration or credit.</span>',
              html: true
            },{
              content: 'The monthly billing cycle may be billed every four (4) weeks. Any renewal of your Services with us is subject to our then current Terms and Conditions, including, but not limited to, successful completion of any applicable authentication procedure, and payment of all applicable service prices and fees at the time of renewal, and in the case of domain name re-registration, the domain name registry\'s acceptance of your domain name registration. Upon prior notice, Global WebForce may also charge an "Account Maintenance Fee" to maintain your active account. The monthly billing cycle may be billed every four (4) weeks. Any renewal of your Services with us is subject to our then current Terms and Conditions, including, but not limited to, successful completion of any applicable authentication procedure, and payment of all applicable service prices and fees at the time of renewal, and in the case of domain name re-registration, the domain name registry\'s acceptance of your domain name registration. Upon prior notice, Global WebForce may also charge an "Account Maintenance Fee" to maintain your active account. <strong><span style="text-decoration: underline;">This Account Maintenance Fee shall be billed to your account each year, thirty (30) days following the annual anniversary date of your account creation. Except with respect to the Services to which you subscribe on a monthly (or similar billing cycle) basis, we will endeavor, but are not obligated, to provide you with notice prior to the renewal of your Services at least fifteen (15) days prior to the renewal date.This Account Maintenance Fee shall be billed to your account each year, thirty (30) days following the annual anniversary date of your account creation. Except with respect to the Services to which you subscribe on a monthly (or similar billing cycle) basis, we will endeavor, but are not obligated, to provide you with notice prior to the renewal of your Services at least fifteen (15) days prior to the renewal date.</span></strong>',
              html: true
            },{
              content: 'Pricing for Services, renewals, and product upgrades and add-ons may vary based upon the date of your purchase. Additional payment terms may apply to the Services you purchase, as set forth in the applicable supplemental service and product agreements to this Agreement, on our website or as otherwise outlined in the applicable order process. Services to which you subscribe to on a monthly or recurring basis automatically renew on a recurring basis until the Agreement is properly terminated in accordance with its terms. We may, at any time, activate the auto-renew service for eligible Services in your account if it is not already activated. Further, we may provide you with an opportunity to opt-in to our automatic renewal process in accordance with the instructions (and subject to your agreement to the terms and conditions pertaining to that process) on our website or in the applicable order process. <strong><span style="text-decoration: underline;">You agree that if you are enrolled in or otherwise utilising our auto-renew service, we will attempt to renew your service at some point less than ninety (90) days prior to its expiration [without notice to you].</span></strong> Such automatic renewal for your Services, if successful, may be for a shorter term than the term for which you originally purchased your Services, but in no event shall such term be longer than the term then currently in place for the Services. Such automatic renewal for your Services, if successful, shall be at the then current price for the Services. You further agree that, to turn off the auto-renew service for any of your Services with Global WebForce, <strong><span style="text-decoration: underline;">you must call our Customer Service, or you may be able to turn off such auto-renew service utilising the online Account Manager associated with your Services.</span></strong> You acknowledge and agree that the renewal price may be higher or lower than the price you paid for the then current term of the Services, and that we are authorised to charge your credit card or other payment method on file for the renewal of the Services. In any event, you are solely and absolutely responsible for the credit card or payment information you provide to Global WebForce and must promptly inform Global WebForce of any changes thereto (e.g., change of expiration date or account number). You acknowledge and agree that Global WebForce may extend the expiration date on your credit card on file with us in order to protect against unwanted expiration of your Services and to allow for the automatic renewal thereof. In addition, you are solely and absolutely responsible for ensuring the Services are renewed. Global WebForce shall have no liability to you or any third party in connection with the renewal as described herein, including, but not limited to, any failure or errors in renewing the Services whether due to you, us or a third party. In order to process a renewal under our auto-renew service, we may use third-party vendors for the purpose of updating the expiration date and account number of your credit card or other payment method on file. Such third-party vendors maintain relationships with various credit card issuers and may be able to provide us with the updated expiration date and account number for your credit card by comparing the information we have on file with the information the third-party vendor has on file. By selecting our auto-renew service, you acknowledge and agree that we may share your credit card or other payment method information with such third-party vendors for the purpose of obtaining any update to your credit card expiration date, account number or payment account.',
              html: true
            },{
              content: 'In the event that you are not enrolled in auto-renew, or have opted out of auto-renew, and want to renew your Services, you acknowledge and agree you are responsible for actively renewing your Services and you further assume all risk and consequences if you wait until the end of the Services term or otherwise to attempt to renew any Services. If any Service is not successfully renewed prior to the expiration of its then current term, all your rights to such Service will terminate, and we will have no obligation to allow you to renew a Service once its expiration date has passed. Additionally, for domain name registration services, even if a registry administrator or third-party service provider provides a grace period to Global WebForce upon expiration or termination of such Service, you acknowledge and agree that any post-expiration renewal or redemption processes implemented on your behalf are at our sole and absolute discretion, and may be subject to a late fee, reinstatement fee, redemption fee and/or other fee.'
            },{
              content: 'Without limiting any of Global WebForce\'s rights hereunder, should any fee payment become delinquent, Global WebForce may suspend or cancel your Services; provided, however, related charges will continue to accrue. You acknowledge and agree that Global WebForce is not responsible whatsoever for any effect the suspension of Services might have. If Global WebForce provides any Service discount to you and you default on payments or obligations as outlined herein, Global WebForce may rescind all discounts and require full payment for the Services. <span>All sums due and payable that remain unpaid after any applicable cure period herein will accrue interest as a late charge of 1.5% per month or the maximum amount allowed by law, whichever is less. Global WebForce further reserves the right to refer any amounts owed hereunder to a third party for collection in the event of default. In the event your account is sent to collection, you agree to pay all costs of collection, including costs, litigation and attorneys’ fees. <strong><span style="text-decoration: underline;">A $20.00AUD (Twenty Australian (AUD) dollars) collection fee may be charged for all dishonored cheques.</strong></span></span> Moreover, an additional fee may also be assessed for the following reasons: (i) late payment; (ii) payment with insufficient funds; (iii) denied or invalid credit card number; or (iv) the re-starting or reinstating of Services terminated for nonpayment. Global WebForce will re-start or reinstate any such Service in our sole and absolute discretion and subject to our receipt of the applicable service fee, renewal fee or other fee.',
              html: true
            },{
              content: 'If Customer pays for the Services by credit card or charge card, Customer permanently and irrevocably waives any and all right to enact a \'chargeback\' (that is, a disputed, reversed or contested charge with the applicable bank, credit card, charge card or other payment method) against these payments for any reason whatsoever against Global WebForce. If for any reason Global WebForce is unable to charge your Account or other payment method for the full amount owed for the Services provided, or if Global WebForce receives notification of a chargeback, reversal, payment dispute or is charged a penalty for any fee it previously charged to your Account or other payment method, you agree that we may pursue all available lawful remedies in order to obtain payment, including, but not limited to, immediate cancellation, without notice to you, of any your Services (including domain names). We also reserve the right to charge you reasonable “administrative fees” or “processing fees” for (i) additional tasks we may perform outside the normal scope of the Services; (ii) additional time and/or costs we may incur in providing the Services, and/or (iii) your noncompliance with this Agreement (as determined by us in our sole and absolute discretion). Typical administrative or processing fee scenarios include, but are not limited to: (i) customer service issues that require additional personal time or attention; (ii) <strong><span style="text-decoration: underline;">UDRP actions(s) in connection with your domain name(s) and/or disputes that require accounting or legal services, whether performed by Global WebForce staff or by outside firms retained by us;</span></strong> (iii) recouping any and all costs and fees, including the cost of Services, incurred by Global WebForce as the results of chargebacks or other payment disputes brought by you, your bank or other payment method processor. These administrative fees or processing fees will be billed to the Account or other payment method you have on file with Global WebForce.',
              html: true
            },{
              content: 'CUSTOMER UNDERSTANDS AND AGREES THAT ALL GLOBAL WEBFORCE FEES AND CHARGES ARE NONREFUNDABLE AND THAT GLOBAL WEBFORCE MAY CHANGE ANY PRICE, FEE, RATE OR PLAN AT ANY TIME UPON NOTICE TO CUSTOMER IN ACCORDANCE WITH SECTION 26 (NOTICE) OF THIS AGREEMENT.'
            },{
              content: 'Additions/Reimbursements:'
            },{
              content: 'Client agrees to reimburse the Developer for Client-requested expenses. Examples include:',
              unorderedList: {
                lists: [
                  {
                    content: 'Special font request'
                  },
                  {
                    content: 'Unique photography request'
                  },
                  {
                    content: 'Client-specific software request'
                  },
                  {
                    content: 'Request for additional pages, forms and functionalities'
                  }
                ]
              }
            },{
              header: 'Copyrights and Trademarks',
              content: 'Client represents to the Developer and unconditionally guarantees that any elements of text, graphics, photos, designs, trademarks, or other artworks furnished to the Developer for inclusion in the Client\'s web site are owned by the Client, or that the Client has permission form the rightful owner to use each of these elements, and will hold harmless, protect, and defend (indemnify) the Developer and its subcontractors from any claim or suit arising from the use of such elements furnished by the Client.'
            },{
              header: 'Limited Liability',
              content: 'Client agrees that any material submitted for publication will not contain anything leading to an abusive or unethical use of the Web Hosting Service, the Host Server or the Developer. Abusive and unethical materials and uses include, but are not limited, to pornography, obscenity, nudity, violations of privacy, computer viruses, harassment, any illegal activity, advocacy of an illegal activity, and copyright / patent / trademark infringement. Client hereby agrees to indemnify and hold harmless the Developer from any claim resulting from the Client\'s publication of material or use of those materials.'
            },{
              content: 'It is also understood that the Developer will not publish information, which may be used by another party to harm another. The Developer will also not develop a pornography or otherwise unethical website for the Client. The Developer reserves the right to determine what is and is not unethical content.'
            },{
              header: 'Ownership',
              content: 'Copyright of the finished assembled work of web pages produced by the Developer and graphics shall be vested with the Client upon the final payment for the Project. This ownership includes design, photos, graphics, source code, work-up files, text, and any program(s) specifically designed or purchased on behalf of the Client for completion of this Project.'
            },{
              header: 'Design Credit',
              content: 'Client agrees that the Developer may put a byline on the bottom of their index.html or main.html web page for establishing design and development credit. Client also agrees that the web site created for the Client may be included in the Developer\'s portfolio. After a successful project, the Client also agrees to provide a positive testimonial or feedback to the Developer, which the Developer can publish on their website(s) and marketing materials.'
            },{
              header: 'Non-disclosure',
              content: 'The Developer, its employees and subcontractors agree that, except as directed by the Client, it will not at any time during or after the term of this Agreement disclose any confidential information. Likewise, the Client agrees that it will not convey any confidential information obtained about the Developer to another party.'
            },{
              header: 'Completion of the website',
              content: 'The completion date of the Project is stipulated in Website Brief. The Client must conduct a thorough test of the website interface, navigation, functionality, content and website admin or editor CMS, in all available browsers and devices within 5 business days after the uploading of the website to the Global WebForce servers and live online to ensure that the website performs in accordance with the Client\'s specifications at the time of handover. After five (5) business days, there may be charges to make further changes fixes and amendments.'
            },{
              content: 'The Developer is not responsible for any delay due to the Client\'s delayed responses to queries, clarifications, request for review and approval. The Client has the responsibility to provide all the necessary elements and proper specifications required by the Developer to commence or continue with the project. The work may be suspended or cancelled due the Client\'s non-responsiveness, lack of communication and failure to provide the needed project requirements quickly.'
            },{
              header: 'Cancellation',
              content: 'Cancellation of the project or task may be subject to pre-termination fee and penalties. Any notice under this Agreement shall be in writing and be delivered in person or by public or private courier service or certified mail with return receipt requested or by facsimile. All notices shall be addressed to the Developer at the following address.'
            },{
              content: '<span style="text-decoration: underline;">Generally.</span> Global WebForce may terminate this Agreement immediately for any or no reason and without notice to you. Without limiting the foregoing, Global WebForce reserves the right to suspend or terminate all Services immediately without notice to you if Global WebForce determines, in its sole and absolute discretion, that you have failed to comply with your obligations as set forth in this Agreement. In the event of your chargeback by a credit card, charge card or other payment method, or other non-payment by you in connection with your payments of the applicable billing cycle fee, renewal fee or other applicable fee, you acknowledge and agree that all of your Services may be suspended, canceled or terminated, in our sole and absolute discretion and without notice to you.',
              html: true
            },{
              content: 'Unless otherwise stipulated in the related order process, you may terminate this Agreement and the Services by calling the Global WebForce Customer Service, whereby this termination request may be recorded, and the Services will terminate as of the end of the applicable, current billing period. You are responsible for all fees incurred up to and including the date of termination and upon termination you may receive a final bill reflecting the balance due for any remaining charges and agrees to pay all such fees incurred by you and/or via your utilisation of the Services. <strong><span style="text-decoration: underline;">If you order any Services by telephone and do not agree to be legally bound by these Terms and Conditions at that time, you must notify Global WebForce within seventy-two (72) hours from the time that Global WebForce has sent you a welcome e-mail to your account e-mail address on record, that you desire to cancel such Services, whereby the Services will be cancelled, and a refund of any payments or fees already paid to Global WebForce with respect to the order of the Services will be issued, with no further obligation by either Party.</span></strong> Your failure to notify Global WebForce of cancellation of any Services as described above will indicate that you acknowledge and agree that you have read and understood these Terms and Conditions and agree to be legally bound by them.',
              html: true
            },{
              content: 'Except as otherwise expressly set forth herein or on our website, Global WebForce will cease charging your credit card, if applicable, for any monthly service fees as of the expiration of the billing cycle in which the termination is effective. Unless otherwise specified in writing by Global WebForce, you will not receive any refund for payments already made by you as of the date of termination, regardless of whether any related Services have been performed, and you may also incur additional fees and/or be obligated to pay us for the balance of your term (in the case of a monthly or annual subscription being paid over time, as provided in various supplemental service and product agreements). If termination of this Agreement is due to your default hereunder, you shall bear all costs of such termination, including any reasonable costs Global WebForce incurs in closing your account and you further agree to pay any and all costs incurred by Global WebForce in enforcing your compliance with this Section. Upon termination, you must destroy any copy of the materials licensed to you hereunder and referenced herein. You agree that upon termination or discontinuance for any reason, we may delete all information related to you on the Service, if applicable. In addition to the terms set forth herein, certain Global WebForce Services may have additional terms regarding termination, which are set forth in the applicable supplemental service and/or product agreements. Moreover, should you or we cancel or terminate your Services at any time prior to the completion of the applicable term, such cancellation or termination may result in our application of an early termination fee charged to your account, in our sole and absolute discretion and without notice to you.'
            },{
              content: '<strong><span style="text-decoration: underline;">Termination of Bundled Services</span>. In addition to the Terms and Conditions set forth herein, if you purchase Global WebForce Services which are sold together as a solution or bundled package of Services, any termination relating to any one such solution or bundled package will terminate all Global WebForce Services included in such solution or bundled package. For instance, without limiting the generality of the foregoing, any domain name registered with or maintained by Global WebForce under this Agreement (but not including any domain names you may have registered, either with Global WebForce or a third-party registrar, separately and not as part of a bundled package) may be cancelled and may thereafter be available for registration by another party. You acknowledge and agree that upon any termination or cancellation of your solution or bundled package, the Terms and Conditions regarding transfer of expired domain names as described in this Service Agreement may apply. Upon the effective date of termination, Global WebForce will no longer provide the solution or bundled package to you, any licenses granted to you will immediately terminate, and you must cease using such Services immediately; provided, however, that we may, in our sole and absolute discretion and subject to your agreement to be bound by the applicable agreements and to pay the applicable fees, allow you to convert certain Services included in the bundled Services to stand-alone Services.</strong>',
              html: true
            },{
              content: '<strong><span style="text-decoration: underline;">Free Services</span>. Global WebForce may, from time to time and at our sole and absolute discretion, offer free e-mail, website hosting or other Services to our customers. Customers are required to use these Services regularly to keep the accounts active, and Global WebForce reserves the right to terminate free accounts that remain idle for a period of thirty (30) days or more. Free Services may not be provisioned until such time as the Customer configures the account and logs in for the first time. It is your sole responsibility to keep your free Service in active status by regularly logging into your</strong>',
              html: true
            },{
              content: 'Global WebForce Limited<br/>Authorised Representative: Hitesh Parekh<br/>Position: Managing Director<br/>    Company Address: 425 Bell Street, Pascoe Vale South, Victoria, 3044, Australia<br/> Phone: 1300 77 88 62<br/> Mobile: +614 1920 0663<br/>',
              html: true
            },{
              content: 'Any notice shall be deemed to have been given on the earlier of: (a) actual delivery or refusal to accept delivery, (b) the date of mailing by certified mail, or (c) the day facsimile delivery is verified. Actual notice, however, and from whomever received, shall always be effective.'
            },{
              content: 'A certified letter is required to cancel the contracted Project at the request of the Client. In the event that work is postponed or cancelled at the request of the Client by certified letter, the Developer shall have the right to retain/claim full payment of the current phase of development. In the event this amount is not sufficient to cover Developer time and expenses, additional payment will be due. If additional payment is due, this will be billed to the Client within 10 days of notification via certified letter to stop work. Final Payment will be expected under the same terms as listed above.'
            },{
              header: 'Conflicting Terms',
              content: 'In the event of a conflict between the terms of this Contract (including any and all attachments thereto and amendments thereof) and terms of Website Brief, the terms of Website Brief shall control.'
            },{
              header: 'Entire Agreement',
              content: 'This agreement constitutes the entire agreement between the parties with respect to the Project subject matter. It supersedes all previous agreements and understanding between the parties and each party acknowledges that, in entering into this agreement, it does not do so on the basis of or in reliance upon any representations, promises undertakings, warranties or other statements (whether written or oral) of any nature whatsoever except as expressly provided in this agreement. Thus, this contract and attached exhibits constitute the sole agreement between the Developer and the Client. The contract becomes effective when signed by both parties.'
            },{
              header: 'Governing Law',
              content: 'This contract shall be governed by the laws of the State of Victoria except where the Federal supremacy clause requires otherwise.'
            },{
              header: 'No Arbitration',
              content: 'Disputes involving this contract, including the breach or alleged breach thereof, may not be submitted to binding arbitration (except where statutorily authorised) but must, instead, be heard in a court of cempetent jurisdiction of Melbourne, Victoria.'
            },{
              header: 'Statute of Limitations',
              content: 'The parties agree that any action in relation to an alleged breach of this agreement shall be commenced within one year of the date of the breach, without regard to the date the breach is discovered. Any action not brought within that one year time period shall be barred, without regard to any other limitations period set forth by law or statute.'
            },{
              header: 'Severability',
              content: 'If any provision of this contract is held unenforceable, then such provision will be modified to reflect the parties\' intention. All remaining provisions of this contract shall remain in full force and effect.'
            },{
              header: 'Attorney Fees',
              content: 'In the event of litigation relating to the subject matter of this agreement, the non-prevailing party shall reimburse the prevailing party for all reasonable attorney fees and costs resulting therefrom.'
            },{
              header: 'Non-Waiver',
              content: 'Failure by one party of this agreement to require performance of any provision(s) shall not affect that party\'s right to require subsequent performance at any time thereafter, nor shall a waiver of any breach of default of this agreement constitute a waiver of any subsequent breach or default or a waiver of the provision itself.'
            },{
              header: 'Partnership of Agency',
              content: 'The relationship between parties is not to be construed as a partnership or agency and this contract does not create either form of relationship.'
            },{
              header: 'Consequential Damages',
              content: 'Neither party to this agreement will be held responsible for consequential (indirect) damages (e.g., loss of profit) because of any alleged failures of the other party.'
            },{
              header: 'Compromised website, hacking and virus attacks.',
              content: 'The internet consists of hacking, viruses, cyber-attacks and malicious software that may attempt to access and/or compromise the website, obtain data from the website or website hosting data, including eCommerce credit card transaction data. In the instance, not limited to, hacking, viruses, cyber-attacks and/or malicious software obtaining access the website or website hosting data, obtain data from the website, including eCommerce credit card transaction data, and/or do any damage, damage your or your clients\' reputation, cause lost income, cause lost productivity, user yours or your clients\' personal details, make changes, take the website offline, install malicious software, deploy malicious software or information, or use the website hosting and/or website to send out spam or damage other computers/networks/websites/reputations, the Developer, or its owners, employees or contractors will not be and is not responsible for these instances and cannot warranty against such instances.'
            },{
              content: 'Global WebForce may help to rectify the instance, at its discretion, this will be at the cost of you, or your client and/or affected party. The Developer, or its owners, employees or contractors will not be held responsible for loss of earnings, third party WordPress errors, third party theme errors, third party WooCommerce errors, third party plugins errors third party SSL, Email or Hosting errors or vulnerabilities of any effects of the website being offline or cyber data theft, even with a Global WebForce Website Hosting and Maintenance plan active.'
            },{
              content: 'While we take steps to customise, host and maintain the website, website theme, WordPress, WooCommerce, plugins securely, offer website hosting and maintenance plans, using trusted open source platforms, plugins, website themes and apps. In the instance that the website is effected, as per but not limited to the above, there may be costs of associated with rectifying the damage, not payable by Global WebForce, or its owners, employees or contractors. The Developer of its owners, employees, or contractors will not be held liable if a hacking, viruses, cyber-attacks and malicious software affects the website, service or development in any way whatsoever.'
            },{
              header: 'WordPress, WordPress Themes, WooCommerce, Other Open Source Website Platforms, SSL certificates and Third Party Plugins.',
              content: 'The Developer uses WordPress, WordPress themes, WooCommerce, other open source website platforms, SSL Certificates and third party plugins, as advised to you when we customised the website. The Developer will often implement third party plugins that provide functionality to the website. The Developer does not warrant that WordPress, WordPress themes, WooCommerce, other open source website platforms, SSL certificates and third party plugins will meet your requirements or that the operations of the WordPress, WordPress themes, WooCommerce, or other open source website platforms, SSL certificates and third party plugins will be uninterrupted, secure or error free.'
            },{
              header: 'Search Engine Results, Listings & Rankings',
              content: 'The Developer cannot guarantee the position of the website in any search engine results, listings or rankings. The website may change results, listings or rankings due to many factors not related to Global WebForce. The Developer is not liable for any loss of income or damaged reputation based on any search engine results, listings, rankings or the content displayed on any search engine results or listings.'
            },{
              header: 'Signature Authority',
              content: 'Both parties warrant that they have read and understand the terms set forth in this agreement. By signing the Application Form and Website Brief, if applicable, the Client hereby represents and warrants that s/he is duly authorised to execute the deliver this Agreement and that this Agreement is binding upon Other Party in accordance with its terms.'
            }
          ]
        }
      ],
      termsAndConditionsBanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/about/banner_about.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Terms & Conditions',
          contents: [
              {
                content:'',
              }
            ]
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
