<template>
<div id="web">

<gwfbanner :data="webdesignbanner"></gwfbanner>

<wdfirstsec :data="webdes"></wdfirstsec>
<projslider :data="datatwo"></projslider>
<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Header from '../common/Header.vue'
import Slider from '../common/Slider.vue'
import about from '../aboutus/about.vue'
import webdesignfirstsec from '../webdesign/webdesignfirstsec.vue'
// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'


Vue.component('slider-gwf', Slider)
Vue.component('bout', about)
Vue.component('wdfirstsec', webdesignfirstsec)

// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      datatwo: [
        {
         eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_rainehorne.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Raine and Horne Business Brokers Victoria',
          laptopimg: '../static/img/homepage/img_raineandhorne.png',
          contents: [
              {
                content:'Real Estate',
              },{
                content:'Responsive Website Design, Property Listings'
              }
            ],
          url: 'http://www.raineandhornebusinessbrokersvictoria.com.au/'
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_ibs.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'IBS Travel & Tours',
          laptopimg: '../static/img/homepage/img_batanesibs.png',
          contents: [
              {
                content:"Travel Agency",
              },{
                content:"Modern Website, Easy Online Booking",
              }
            ],
          url: 'http://www.batanesibstravels.com/'
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_rperez.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Rafael Perez Architecture',
          laptopimg: '../static/img/homepage/img_perezarch.png',
          contents: [
              {
                content:'Architecture Firm',
              },{
                content:'Project Portfolio',
              }
            ],
          url: 'http://perezarch.com/ '
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_greenware.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Greenware Computers',
          laptopimg: '../static/img/homepage/img_greenware.png',
          contents: [
              {
                content:'Computer Retail',
              },{
                content:'Responsive Website Design'
              }
            ],
          url: 'http://greenwarecomputers.com/'
        },{
          eletmentSytle:{'background-image': 'url( ../static/img/homepage/background_neris.jpg)','height':'100%','background-size':'cover','background-reat':'no-repeat','display':'flex','align-items':'center','justify-content':'center'},
          title: 'Neri’s Kitchen and Bakery',
          laptopimg: '../static/img/homepage/img_neriskitchenandbakery.png',
          contents: [
              {
                content:'Filipino Specialty Restaurant',
              },{
                content:'Online Ordering & Event Booking'
              }
            ],
          url: 'http://neriskitchenandbakery.com.au/'
        }
      ],
      webdes: [
        {
          head: 'Beautifully Done Websites',
          contents: [
            {
          content: 'Our comprehensive website packages has all the tools you need to grow your business.',
            }
          ]

        }
      ],
      webdesignbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/webdesign/banner_web_design2.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Web Design',
          contents: [
              {
                content:'Modern & Fully Functional Websites',
              }
            ]
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
