<template>
  <section class="header-banner no-padding">
    <img class="ui image fluid" :src="bannerimage.bannerImgSrc" alt="">
  </section>
</template>
<script>
export default {
  props: ['bannerimage'],
  name: 'BannerImage'
}
</script>
<style>
  .no-padding {
    padding:0px;
  }
</style>