<template>
  <div class="packLord">
    <div class="ui stackable five column grid center aligned">
      <div v-for="pack in package" :class="['column', 'tab', {'isSelected': pack.isSelected}]" @click="selectPackage(pack)" :style="{'background': pack.bgColor}">
        <h4>{{pack.name}}</h4>
      </div>
    </div>
    <div class="packPrev" v-for="itemPrev in package" v-if="itemPrev.isSelected">
      <div class="ui stackable column grid">
        <div class="ten wide column">
          <div class="packPrevImg">
            <img data-aos="fade-right" v-if="itemPrev.isSelected" v :src="itemPrev.imgSrc" alt="" class="image fluid ui">
          </div>
          <h4>Delivered in {{itemPrev.deliveryTime}}*</h4>
        </div>
        <div class="six wide column">
          <div class="packPrevInclusionsContainer">
            <h4 data-aos="zoom-in" :style="{'color':itemPrev.bgColor}">{{itemPrev.name}} Website Package</h4>
            <div class="packPrevInclusions">
              <p data-aos="fade-up" data-aos-offset="-900" v-for="itemPrevInclusions in itemPrev.inclusions">{{itemPrevInclusions.inclusionsName}}*</p>
            </div>
          </div>
          <a @click="confirmSend" class="btn btn-danger getPackage">Get this Package</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import swal from 'sweetalert2'
export default {
  data () {
    return {
      package: [
        {
          id: 1,
          isSelected: false,
          imgSrc: '/static/img/webdesign/img_sml_business.png',
          name: 'Self Starter',
          deliveryTime: '15 Days',
          price: '859',
          bgColor:'#34ac38',
          inclusions: [
            {
              inclusionsName: 'Up to 3 Pages'
            },
            {
              inclusionsName: 'Domain Name Included'
            },
            {
              inclusionsName: 'CMS'
            },
            {
              inclusionsName: 'Customised Banner'
            },
            {
              inclusionsName: 'Social Buttons'
            },
            {
              inclusionsName: 'Responsive'
            },
            {
              inclusionsName: 'Contact Form'
            }
          ]
        },
        {
          id: 2,
          isSelected: true,
          imgSrc: '/static/img/webdesign/img_lite.png',
          name: 'Lite',
          deliveryTime: '30 Days',
          price: '3',
          bgColor:'#ffd14e',
          inclusions: [
            {
              inclusionsName: 'Up to 6 Pages'
            },
            {
              inclusionsName: 'CMS'
            },
            {
              inclusionsName: 'Up to 6 Sliders'
            },
            {
              inclusionsName: 'Social Buttons'
            },
            {
              inclusionsName: 'Image Gallery'
            },
            {
              inclusionsName: 'Responsive'
            },
            {
              inclusionsName: 'Contact Form'
            },
            {
              inclusionsName: 'Blog'
            }
          ]
        },
        {
          id: 3,
          isSelected: false,
          imgSrc: '/static/img/webdesign/img_online_store.png',
          name: 'Small Business',
          deliveryTime: '30 Days',
          price: '3',
          bgColor:'#00d0ff',
          inclusions: [
            {
              inclusionsName: 'Up to 6 Pages'
            },
            {
              inclusionsName: 'Domain Name Included'
            },
            {
              inclusionsName: 'CMS'
            },
            {
              inclusionsName: 'Up to 3 Sliders'
            },
            {
              inclusionsName: 'Social Buttons'
            },
            {
              inclusionsName: 'Responsive'
            },
            {
              inclusionsName: 'Contact Form'
            }
          ]
        },
        {
          id: 4,
          isSelected: false,
          imgSrc: '/static/img/webdesign/img_starter.png',
          name: 'Online Store',
          deliveryTime: '60 Days',
          price: '3',
          bgColor:'#ff3c64',
          inclusions: [
            {
              inclusionsName: 'Up to 35 Pages'
            },
            {
              inclusionsName: 'Domain Name Included'
            },
            {
              inclusionsName: 'CMS'
            },
            {
              inclusionsName: 'Up to 6 Sliders'
            },
            {
              inclusionsName: 'Social Buttons'
            },
            {
              inclusionsName: 'Responsive'
            },
            {
              inclusionsName: 'Contact Form'
            },
            {
              inclusionsName: 'Blog'
            },
            {
              inclusionsName: 'Product Listings'
            },
            {
              inclusionsName: 'User Registration'
            },
            {
              inclusionsName: 'Log In'
            },
            {
              inclusionsName: 'Image Gallery'
            },
            {
              inclusionsName: 'Featured Videos'
            },
            {
              inclusionsName: 'Add to Wishlist'
            },
            {
              inclusionsName: 'Order Summary'
            },
            {
              inclusionsName: 'Payment Gateway'
            },
            {
              inclusionsName: 'Chat Support Box'
            }
          ]
        },
        {
          id: 5,
          isSelected: false,
          imgSrc: '/static/img/webdesign/img_online_store.png',
          name: 'Online Booking',
          deliveryTime: '90 Days',
          price: '3',
          bgColor:'rgb(112, 85, 162)',
          inclusions: [
            {
              inclusionsName: 'Up to 45 Pages'
            },
            {
              inclusionsName: 'Domain Name Included'
            },
            {
              inclusionsName: 'CMS'
            },
            {
              inclusionsName: 'Up to 7 Sliders'
            },
            {
              inclusionsName: 'Social Buttons'
            },
            {
              inclusionsName: 'Responsive'
            },
            {
              inclusionsName: 'Contact Form'
            },
            {
              inclusionsName: 'Blog'
            },
            {
              inclusionsName: 'Product Listings'
            },
            {
              inclusionsName: 'User Registration'
            },
            {
              inclusionsName: 'Log In'
            },
            {
              inclusionsName: 'Image Gallery'
            },
            {
              inclusionsName: 'Featured Videos'
            },
            {
              inclusionsName: 'Booking Summary'
            },
            {
              inclusionsName: 'Payment Gateway'
            },
            {
              inclusionsName: 'Chat Support Box'
            },
            {
              inclusionsName: 'Hotel rates, Hot deals and availability Management'
            }
          ]
        },
      ]
    }
  },
  methods: {
    selectPackage(item) {
      var packageArr = this.package
      var thisPackage = this.package.indexOf(item)
      $.each(packageArr, function(i){
        packageArr[i].isSelected = false
      })
      packageArr[thisPackage].isSelected = true
      $('.column.tab').removeClass('isSelected')
      $(this).addClass('isSelected')
    },
    confirmSend(item) {
        swal.setDefaults({
          confirmButtonText: 'Proceed',
          customClass: 'swal-wide',
          width: '70%',
          progressSteps: ['1', '2']
        })
        var packageArr = this.package
        var list = ''
        var chosenPackage =  ''
          $.each(packageArr, function (i, value) {
            if(packageArr[i].isSelected) {
              chosenPackage =  value.name
              $.each(packageArr[i].inclusions, function(j, item){
                list += `<p>`+item.inclusionsName+`</p>`
              })
            }
          })
          var steps = [
          {
            title: 'Your Digital Project Summary',
            html:
              '<p class="swal-subtitle">Thank You for Choosing Global WebForce with your digital project.</p><div class="ui two column stackable grid">'+
              '<div class="column">'+
              '' +
              '</div>'+
              '<div class="column packageContainer"><h3>'+
              chosenPackage+' Website Package</h3><div class="inclusionsContainer">' +
              list +
              '</div></div></div></div>',
            focusConfirm: false,
            preConfirm: () => {
              return [
                chosenPackage,
                list
              ]
            }
          },
          {
            title: 'You have chosen: '+chosenPackage+' Website Package',
            html:
              '<p class="swal-subtitle">Please input your information below so we can contact you right away.</p><div class="clientInfo">'+
              '<label>Name: <input id="swal-input1s" class="swal2-input" required></label>' +
              '<label>Contact Number: <input id="swal-input2" class="swal2-input" required></label>'+
              '<label>Email: <input id="swal-input2" type="email" class="swal2-input" required></label>'+
              '<label>Website: <input id="swal-input2" class="swal2-input" required></label>'+
              '</div>',
            focusConfirm: false,
            preConfirm: () => {
              return [
                $('#swal-input1').val(),
                $('#swal-input2').val()
              ]
            }
          },
        ]
        swal.queue(steps).then((result) => {
          swal.resetDefaults()

          // if (result.value) {
          //   swal({
          //     title: 'Thank You',
          //     html:
          //       'Your answers: <pre>' +
          //         JSON.stringify(result.value) +
          //       '</pre>',
          //     confirmButtonText: 'Lovely!'
          //   })
          // }
        })
      }
    },
  }
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
   .packLord {
    margin-left:-15px;
    margin-right:-15px;
    .ui.grid{
      position: relative;
      margin:auto;
      .tab {
        padding:25px 0px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        @media(max-width:767px) {
          padding:20px!important;
          margin:0px!important;
        }
        &:hover,&.isSelected{
          box-shadow: 0 0 20px rgba(33,33,33,.5);
          z-index: 10;
          -webkit-transform: scale(1.03);
          -moz-transform: scale(1.03);
          transform: scale(1.03);
        }
        cursor: pointer;
        h4 {
          color: #fff;
          transition: all 0.3s;
          @media(max-width:767px) {
            padding:0px;
            margin:0px;
          }
        }
      }
    }
    .packPrev {
      margin: 50px 0px;
      padding: 0px 7%;
      .packPrevImg {
        padding-right: 2em;
        margin-bottom: 20px;
        & ~ h4 {
          font-size: 2em;
          font-weight:700;
          color:#a21ee8;
          @media(max-width:767px) {
            text-align: center;
          }
        }
      }
      .packPrevInclusionsContainer {
        h4 {
          text-align: center;
          margin-bottom: 35px;
          font-size: 2em;
          font-weight:700;
        }
        .packPrevInclusions {
          height: 375px;
          border: 2px solid #686868;
          padding: 15px;
          overflow-x: auto;
          p {
            font-size: 1.5em;
            text-decoration: underline;
          }
        }

        & ~ a.btn {
          float: right;
          margin-top: 20px;
          color:#fff;
        }
      }
    }
  }
</style>
