<template>
  <div class="panel"  v-touch:swipe.left="next" v-touch:swipe.right="previous">
    <h1 id="yellowbg">Check Out Our Best Works</h1>
    <div v-if="item.isActive" v-for="(item, i) in bestworks">
      <div class="best-works-block">
        <div class="ui two column stackable centered grid">
          <div class="column" style="border-right: 2px solid #bebebe;">
            <div class="best-works-img">
              <img data-aos="fade-right" class="image ui fluid" v-bind:src="item.imgSrc" alt="">
            </div>
          </div>
          <div class="column">
            <div class="best-works-content">
              <div data-aos="fade-down" class="heading">
                <h4>{{item.heading.websiteName}}</h4>
                <span class="textstyle">{{item.heading.websiteBusiness}}</span><br>
                <span class="textstyle">{{item.heading.websiteType}}</span><br>
                <a :href="item.heading.websiteUrl">{{item.heading.websiteUrl}}</a>
              </div>
              <div class="content" >
                <p data-aos="fade-up" v-html="item.content"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="navi">
          <button @click="previous()"><span><< Back</span></button> <span>|</span> <button @click="next"><span>Next >></span></button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    // import
    import $ from 'jquery'
    import Vue from 'vue'
    import Vue2TouchEvents from 'vue2-touch-events'
    // use
    Vue.use(Vue2TouchEvents)

    export default {
    name: 'BestWorks',
    props: ['bestworks'],
    data () {
      return {
      }
    },
    mounted() {
      this.selectedFromPortfolio = 'test'
    },
    methods: {
      next() {
        var index = ''
        var _this = this
        $.each(this.bestworks, function(i){
          if(_this.bestworks[i].isActive) {
            index = _this.bestworks.indexOf(_this.bestworks[i])
          }
        })
        this.bestworks[index].isActive = false
        if(index <= this.bestworks.length - 2) {
          this.bestworks[index+1].isActive = true
        }else {
          this.bestworks[index].isActive = true
        }
      },

      previous() {
        var index = ''
        var _this = this
        $.each(this.bestworks, function(i){
          if(_this.bestworks[i].isActive) {
            index = _this.bestworks.indexOf(_this.bestworks[i])
          }
        })
        this.bestworks[index].isActive = false
          if(index > 0) {
            this.bestworks[index-1].isActive = true
          }else {
            this.bestworks[index].isActive = true
          }
      }
    }
};

</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
 .best-works-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px 1.5%;
  .ui-grid {
    margin: 0px!important;
    .column {
      @media(max-width:767px) {
        border: none!important;
      }
    }
  }
  .best-works-content, .best-works-img {
    text-align: center;
    padding: 15px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    min-height: 503px;
  }
  .best-works-img {
    img {
      margin:auto;
    }
    @media (max-width:991px) {
      max-height: 300px;
      min-height: 300px;
    }
  }
  .best-works-content {
    .heading {
      margin-bottom: 3%;
      a {
        @media(max-width:767px){
          font-size:11px;
        }
      }
    }
    .content {
      text-align:justify;
    }
    @media (max-width:991px) {
      max-height: auto;
      min-height: auto;
    }
  }
  .navi {
    margin: 1.5% 0;
    button{
      background: none;
      border: none;
      cursor: pointer;
      margin: 10px 15px;
    }
  }
 }
 .textstyle {
  font-style:italic;
 }
</style>
