<template>
  <div id="portfoliotiles">
    <div class="ui three column grid phototiles">
      <div data-aos="zoom-out" v-for="item in tiled" v-if="item.isShown" class="column pictures">
        <img class="ui image fluid" :src="item.imgSrc" alt="">
      </div>
      <div class="text-center">
        <button class="text-center displayAll btn btn-danger" @click="displayAll">Show All</button>
      </div>
    </div>
  </div>
</template>
<script>
  import $ from 'jquery'
  export default {
    props:['tiled', 'selectedFromPortfolio'],
    Name: 'PortfolioTiles',
    data () {
      return {
        
      }
    },
    created() {
      this.displayLess()
      var height = $('#portfoliotiles').height()
      $('#portfoliotiles').css('max-height', 'height')
          console.log(height)
          this.SelectedFromPortfolio = 'kamote'
    },
    mounted() {
      
    },
    methods: {
      displayLess() {
        var imgArr = this.tiled
        $.each(imgArr, function(i){
          if(i > 5){
            imgArr[i].isShown = false
          }else {
            imgArr[i].isShown = true
          }
        })
      },
      displayAll() {
        if(!$('#portfoliotiles').hasClass('showAll')) {
          var imgArr = this.tiled
          $.each(imgArr, function(i){
            imgArr[i].isShown = true
          })
          $('#portfoliotiles').addClass('showAll')
          $('.displayAll').text('Show Less')
          $('#portfoliotiles').css('max-height', '9999px')
       } else {
          $('#portfoliotiles').removeClass('showAll')
          $('#portfoliotiles').css('max-height', 'initial')
          this.displayLess()
          $('.displayAll').text('Show All')
       }
      },
      displayFromPortfolio(event) {
        // var bwRef = this.SelectedFromPortfolio = itemRef
        this.$emit('load', 'awts')
      }
    }
  }
</script>
<style lang="scss" scoped>
.phototiles {
  .pictures {
    width: 100%;
    background-image: url(/static/img/portfolio/640x350/activ8me.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
  }
}
#portfoliotiles {
  padding: 20px 0;
  transition: all 0.5s ease-in-out;
  @media (max-width: 767px) {
    display: none;
  }
  .ui.grid {
    margin: 0px;
  }
  button.displayAll {
    margin: 1.5%;
  }
}

</style>
