<template>
    <div id="webdesign" >
    <div class="container-fluid " style="">
      <div v-for="data in data">
        <div class="row" style="margin: 0;">
          <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 data-aos="fade-left" id="yellowbg">{{data.head}}</h1>
          <p data-aos="fade-right"  v-for="content in data.contents" style="text-align:center;">{{content.content}}<br></p>
        </div>
         <div class="col-md-3"></div>
      </div>
      </div>
    </div>
    <div class="container-fluid">
      <packagec></packagec>
    </div>
    <section>
      <div class="container-fluid">
        <div class="freebiesBoxBlock">
          <div>
            <h1 data-aos="fade-down" id="yel">Freebies</h1>
            <p data-aos="fade-up" style="text-align:center;padding:10px 0;">Our website packages also include the following additions:</p>
          </div>
          <div class="ui stackable grid four column">
            <div data-aos="fade-up" class="column">
              <div class="freebiesBox1 freebiesBox">
                <div class="box text-center">
                  <h3>Free 1 year.com<br>domain<br>registration</h3>
                </div>
              </div>
            </div>
            <div data-aos="fade-down" class="column">
              <div class="freebiesBox2 freebiesBox">
                <div class="box text-center">
                  <h3>Free 1 year.com<br>domain<br>registration</h3>
                </div>
              </div>
            </div>
            <div data-aos="fade-up" class="column">
              <div class="freebiesBox3 freebiesBox">
                <div class="box text-center">
                  <h3>Free 1 year.com<br>domain<br>registration</h3>
                </div>
              </div>
            </div>
            <div data-aos="fade-down" class="column">
              <div class="freebiesBox4 freebiesBox">
                <div class="box text-center">
                  <h3>Free 1 year.com<br>domain<br>registration</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>
<script>

  import Vue from 'vue'
  import PackageC from '../webdesign/PackageComponent.vue'
  Vue.component('packagec', PackageC)
  export default {
    name:'about',
    props: ['data']
  }
</script>
<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
  .freebiesBoxBlock {
    margin: 0px -15px;
    background: rgb(238, 238, 238);
    .column {
      margin: 0px;
      padding: 0px;
    }
    .freebiesBox {
      &:before {
        background-size: cover;
      }
    }
    .freebiesBox1 {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-cotent: center;
      align-items: center;
      padding: 20%;
      background-size:cover;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &:hover:before {
        transform: scale(1.1);
      }
      &:nth-child(1):before {
        background-image: url('/static/img/webdesign/imgF_domain.jpg');
      }
      &:nth-child(2):before {
        background-image: url(/static/img/webdesign/imgf_hosting.jpg);
      }
      &:nth-child(3):before {
        background-image: url(/static/img/webdesign/imgf_seo.jpg);
      }
      &:nth-child(4):before {
        background-image: url(/static/img/webdesign/imgF-contnent.jpg);
      }
      .box {
        height: 250px;
        width: 250px;
        border: 5px solid #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-cotent: center;
        align-items: center;
        h3 {
          color:#fff;
        }
      }
    }
    .freebiesBox2 {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-cotent: center;
      align-items: center;
      padding: 20%;
      background-size:cover;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &:hover:before {
        transform: scale(1.1);
      }

      &:nth-child(1):before {
        background-image: url(/static/img/webdesign/imgF_hosting.jpg);
      }

      .box {
        height: 250px;
        width: 250px;
        border: 5px solid #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-cotent: center;
        align-items: center;
        h3 {
          color:#fff;
        }
      }
    }
    .freebiesBox3 {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-cotent: center;
      align-items: center;
      padding: 20%;
      background-size:cover;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &:hover:before {
        transform: scale(1.1);
      }

      &:nth-child(1):before {
        background-image: url(/static/img/webdesign/imgF_seo.jpg);
      }

      .box {
        height: 250px;
        width: 250px;
        border: 5px solid #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-cotent: center;
        align-items: center;
        h3 {
          color:#fff;
        }
      }
    }
    .freebiesBox4 {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-cotent: center;
      align-items: center;
      padding: 20%;
      background-size:cover;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &:hover:before {
        transform: scale(1.1);
      }

      &:nth-child(1):before {
        background-image: url(/static/img/webdesign/imgF-contnent.jpg);
      }
      .box {
        height: 250px;
        width: 250px;
        border: 5px solid #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-cotent: center;
        align-items: center;
        h3 {
          color:#fff;
        }
      }
    }
  }

  #yel {
      text-align: center;
    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
  font-weight:bold;
    z-index: 107;
    padding: 24px;
  }
</style>
