<template>
  <section class="header-banner" :style="data.eletmentSytle">
    <div class="container">
      <div style="margin-left:1.5%; margin-right:1.5%;">
        <div class="ui stackable grid">
          <div class="ten wide computer sixteen wide tablet column">
            <div class="gwftitle">
              <div class="bannertitle">
                <h1 v-html="data.bannerTitle"></h1>
                <p v-html="data.subTitle"></p>
              </div>
            </div>
            <a class="banner-btn" href="http://protect.webforceconceptwebsite.com.au/" target="_blank">Click to see Demo</a>
          </div>
          <div class="six wide computer only column"></div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    name: 'Slider',
    props: ['data'],

  data () {
    return {
    }
  },
};

</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
.header-banner {
  height:80vh;
  background-position: top center;
  margin-top:1%;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow:column wrap;
  justify-content:center;
  @media(max-width:991px) {
    background-position: right;
  }
  @media(max-width:767px) {
    height:90vh;
  }

 .gwftitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-bottom: 50px;
    @media(max-width:767px) {
      margin-top: 6%;
      text-align: center;
    }
    h1{
      font-size: 3vw;
      font-weight: 200;
      @media screen and (max-width: 767px) {
        font-size: 4vw;
      }
      @media screen and (max-width: 414px) {
        font-size: 2rem;
      }
    }
    p {
      font-size:18px;
    }
  }
}
.banner-btn {
  color: #fff000;
  border: 1px solid #fff000;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 1.5vw;
  transition: all 0.3s ease-in-out;
  @media(max-width:991px) {
    font-size:20px;
  }
  @media(max-width:767px) {
    display: block;
    text-align: center;
  }
}
.banner-btn:hover {
  color: #051726;
  background-color: #fff000;
  border-color: #fff000;
  text-decoration:none;
}
</style>
