<template>
  <section class="timer">
    <div class="container">
      <div class="ui center aligned grid">
          <div class="sixteen wide column ">
              <h2 class="script offer-date">Hurry! Offer is Good Until <span>March 23, 2018</span></h2>
              <div id="protect-offer-timer"></div>
              <div class="cta-ps">
                <p>Call this number now to get this offer!</p>
                <a href="${tel:gwfnumber}" class="btn"><i class="fa fa-phone"></i> {{gwfnumber}}</a>
              </div>
            </div>
        </div>
    </div>
</section>
</template>
<script>
  import $ from 'jquery'
  export default {
    name: 'Timer',

  data () {
    return {
      gwfnumber: '+63-917-568-0402',
      countryCode: ''
    }
  }
}
</script>

<style lang="scss">
section {
  padding: 60px 0px;
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
$color-primary: #051726;
$color-yellow:#fff000;
$circle-equal: 180px;
#protect-offer-timer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  @media screen and (max-width: 767px) {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .timer-circle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: $circle-equal;
    height: $circle-equal;
    padding: 35px 35px;
    margin: 5px 12px;
    background-color: $color-primary;
    border-radius: 50%;
    color:$color-yellow;
    position:relative;
    @media screen and (max-width: 767px) {
      width:180px;
      height:180px;
    }
    &::before {
      content: '';
      position: absolute;
      width: (100% - 6);
      height: (100% - 6);
      margin: 5px;
      border: 5px solid #fff;
      border-radius: 50%;
      top: 0;
      left: 0;
    }
    p {
      font-size: 15px;
      font-weight: 700;
      margin-bottom:-6.5px;
      span {
        font-size: 3.5rem;
      }
    }
  }
}
.cta-ps {
  font-family: "Archivo Narrow", sans-serif;
  p {
    font-size: 25px;
    font-weight:400;
  }
  a {
    color:$color-yellow;
    background:$color-primary;
    font-size: 30px;
    padding: 10px 25px;
  }
}
.script {
  font-family: 'Kaushan Script', cursive;
  span {
    color:red;
  }
}
</style>
