<template>
  <div id="clients" style="background:#eee;" >
    <div class="container one" style="padding: 10px 0px 38px;">
         <div data-aos="fade-up" class="col-md-12" id="yellowbg" style="margin:0!important;">
     <h1 >Clients that Trust Us</h1>
      </div>
      <div class="row" style="margin:0!important;">

           <div class="col-md-2 cli" v-for="data in data">
            <img data-aos="fade-up" :src="data.img" alt="">
        </div>
      </div>
    </div>
    <div class="two">
       <div data-aos="fade-up" class="col-md-12" id="yellowbg" style="margin:0!important;">
     <h1 >Clients that Trust Us</h1>
      </div>
          <flickity class="main-carousel" ref="flickity" :options="flickityOptions">
         <div class="carousel-cell" v-for="data in data" style="height:120px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 cli" >
            <img data-aos="fade-up" :src="data.img" alt="">
        </div>
          </div>
         </div>
         </div>
    </flickity>
    </div>

  </div>
</template>
<script>
import Flickity from 'vue-flickity';
    export default {
      name: 'clients',
      props: ['data'],



      components: {
        Flickity
    },

    data () {
        return {
                flickityOptions: {
                initialIndex: 0,
                prevNextButtons: true,
                pageDots: false,
                wrapAround: true,
                autoPlay:true

                // any options from Flickity can be used
            }
        }
    },

    methods: {
        next() {
            this.$refs.flickity.next();
        },

        previous() {
            this.$refs.flickity.previous();
        }
    }
};


</script>

<style lang="scss" scoped>
 @import'./src/assets/styles/main.scss';
.cli {
text-align:center;

}
.one {
    @media screen and (max-width: 667px) {
              display: none;
          }
    @media screen and (max-width: 414px) {
          display: none;
          }
    @media screen and (max-width: 375px) {
            display: none;
          }
    @media screen and (max-width: 320px) {
            display: none;
          }


}
.two {
  display:none;
   @media screen and (max-width: 667px) {
              display: block;
          }
    @media screen and (max-width: 414px) {
          display: block;
          }
    @media screen and (max-width: 375px) {
            display: block;
          }
    @media screen and (max-width: 320px) {
            display: block;
          }
}


</style>
