<template>
  <div id="client">
    <div class="container-fluid" style="    padding-bottom: 37px;">
      <div  class="col-md-12" id="yellowbg">
      <div v-for="data in clienthead" ><h1 data-aos="fade-down">{{data.head}}</h1></div>
      </div>
        <div class="main-carousel">
         <div class="carousel-cell"  style="height: auto;" v-for="data in data" >
        <div class="container-fluid">
          <div class="row">
           <div  class="col-md-4 climsggwf" v-for="data in data.content">
          <img  data-aos="fade-down" :src="data.img" alt="">
          <p  data-aos="fade-down">{{data.message}}</p>
          <div>
            <div >
               <h3 data-aos="fade-up">{{data.name}}</h3>
            <h3 data-aos="fade-up"> {{data.position}}</h3>
            <p data-aos="fade-up">{{data.company}}</p>
            <p data-aos="fade-up"> <a :href="data.link"> {{data.website}}</a></p>
            </div>
          </div>
        </div>
        </div>
          </div>
          </div>
         </div>
    <flickity class="main-carousel two" ref="flickity" :options="flickityOptions">
         <div class="carousel-cell"  style="height: auto" v-for="data in data2" >
        <div class="container-fluid">
          <div class="row">
           <div  class="col-md-12 climsggwf">
          <img  data-aos="fade-down" :src="data.img" alt="">
          <p  data-aos="fade-down">{{data.message}}</p>
            <h3 data-aos="fade-up">{{data.name}}</h3>
            <h3 data-aos="fade-up"> {{data.position}}</h3>
            <p data-aos="fade-up">{{data.company}}</p>
            <p data-aos="fade-up"> <a :href="data.link"> {{data.website}}</a></p>
        </div>
          </div>
          </div>
         </div>
    </flickity>
    </div>
  </div>
</template>
<script>
import Flickity from 'vue-flickity';
  export default {
      name: 'climsg',

      components: {
        Flickity
    },
        data () {
          return {
            msg: 'Welcome to Your Vue.js App',
             flickityOptions: {
                initialIndex: 0,
                prevNextButtons: false,
                pageDots: false,
                wrapAround: true,
                autoPlay:true
                // any options from Flickity can be used
            },

              data: [
                {
                  content: [
                   {
                    img:'../../static/img/homepage/image_renante.png',
                    message:"Global WebForce is totally a force to reckon in the field of web development. RPS Migration's new look has definitely attracted more clients to inquire about our services. The staff are very accommodating observing the highest standard of customer service. I am glad that i have chosen Global Webforce. Well done team!",
                    name:'Renante P. Sulit,',
                    position:'Owner/Founder',
                    company:'RPS Migration Services',
                    website:'www.rpsmigration.com.au',
                    link:'http://www.rpsmigration.com.au',
                   },{
                    img:'../../static/img/homepage/image_ian.png',
                    message:'"Having worked with Global WebForce, I can say that SEO is their expertise as they have dedicated personnel that can scale up to the very competitive climate of Australia’s telecommunications industry."',
                    name:'Ian Roberts,',
                    position:'General Manager of Marketing',
                    company:'Activ8me',
                    website:'www.activ8me.net.au/',
                    link:'https://www.activ8me.net.au/',
                   },{
                    img:'../../static/img/homepage/image_anthony.png',
                    message:'Having spent time researching various companies who were capable of completing our project, Global WebForce were at the top of the shortlist for every requirement. The staff are thorough, hardworking, honest, and highly skilled.',
                    name:'Anthony Gardiner,',
                    position:'Founder/CEO',
                    company:'The Playlist Network',
                    website:'www.theplaylistnetwork.com/',
                    link:'http://theplaylistnetwork.com/',
                   },
                  ],
                }
              ],
              data2: [
                {
                  img:'../../static/img/homepage/image_renante.png',
                  message:"Global workforce is totally a force to reckon in the field of web development. RPS Migration's new look has definitely attracted more clients to inquire about our services. The staff are very accommodating observing the highest standard of customer service. I am glad that i have chosen Global Webforce. Well done team!",
                  name:'Renante P. Sulit,',
                  position:'Owner/Founder',
                  company:'RPS Migration Services',
                  website:'www.rspmigration.com.au',
                  link:'http://www.rspmigration.com.au',
                 },{
                  img:'../../static/img/homepage/image_stephanie.png',
                  message:'"Thank you for going to all the trouble of a website assessment for my business Flirtatious Lingerie. Global WebForce have noted the same points as online marketing consultants have and explained to me what needs to be done. Once again thank you for the time you have put in doing an analysis."',
                  name:'Stephanie Rosenhain,',
                  position:'Managing Director',
                  company:'Flirtatious Lingerie',
                  website:'www.flirtatiouslingerie.com.au/',
                  link:'http://www.flirtatiouslingerie.com.au/',
                 },{
                  img:'../../static/img/homepage/image_anthony.png',
                  message:'Having spent time researching various companies who were capable of completing our project, Global WebForce were at the top of the shortlist for every requirement. The staff are thorough, hardworking, honest, and highly skilled.',
                  name:'Anthony Gardiner,',
                  position:'Founder/CEO',
                  company:'The Playlist Network',
                  website:'www.theplaylistnetwork.com/',
                  link:'http://theplaylistnetwork.com/',
                 },   {
                  img:'../../static/img/homepage/image_ian.png',
                  message:'"Having worked with Global WebForce, I can say that SEO is their expertise as they have dedicated personnel that can scale up to the very competitive climate of Australia’s telecommunications industry."',
                  name:'Ian Roberts,',
                  position:'General Manager of Marketing',
                  company:'Activ8me',
                  website:'www.activ8me.net.au/',
                  link:'https://www.activ8me.net.au/',
                 }
              ],
              clienthead: [
                {
                  head:'Message From Our Clients'
                }
              ]
            }
          },

    methods: {
        next() {
            this.$refs.flickity.next();
        },
        previous() {
            this.$refs.flickity.previous();
        }

    }
  }
</script>
<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
.row {
  margin:0;
}
.climsggwf {
   text-align:center;
    height: 350px;
    position: relative;
    div {
      position: absolute;
      width: 100%;
      bottom: -8%;
      @media(max-width:1161px) {
        position: relative;
        bottom: unset;
      }
    }
    h3 {
    margin: 0;
    font-size:20px!important;
    color:black!important;
   }
   p{
    color:#8f8b8b;
   }
    p:nth-child(4) {
      margin: 0;
   }
   a {
    color:#A21ee8!important;
   }
   a:hover {
    text-decoration: none;
   }
}
h1 {
       width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
    text-align: center;

    z-index: 107;
    padding: 24px;
}
.main-carousel {
  margin-bottom: 30px;
  @media (max-width: 1150px) {
    display: none;
  }
  &.two {
    display:none;
    @media (max-width: 1150px) {
      display: block;
    }
  }
}
h3 {
  font-size:25px!important;
}
#yellowbg {
   @media screen and (max-width: 667px) {
      padding-top: 0!important;
    }
    @media screen and (max-width: 414px) {
      padding-top: 0!important;
    }
    @media screen and (max-width: 375px) {
      padding-top: 0!important;
    }
    @media screen and (max-width: 320px) {
      padding-top: 0!important;
    }
}
</style>
