    <template>
      <div id="first">
        <div class="container-fluid firstsec" style="padding:0;">
          <div class="row" style="margin: 0;">
              <div data-aos="fade-right" class="col-md-7" style="display:table;">
                  <div v-for="data in data"  style="display:table-cell;vertical-align:middle;height:615px;">
                    <div class="row" style="margin:0!important;">
                      <div class="col-md-2"></div>
                      <div class="col-md-8" >
                      <h1 id="yellowbgBig" style="padding-bottom:10px!important;">{{ data.headone }}</h1>
                      </div>
                      <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                      <div class="col-md-8">
                       <ul style="padding: 0vh 2vh 2vh 2vh;">
                        <li v-for="content in data.contents" style="font-size: 21px;font-weight: bold;list-style:none;"><i data-v-0753b522="" aria-hidden="true" class="fa fa-caret-right"  style="color:#A21EE8;"></i> {{ content.content }}</li>
                    </ul>
                      </div>
                      <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                      <div   class="col-md-10" style="padding: 0 3.5vh;">
                        <h2  data-aos="zoom-in-up" id="yellowbgBig" style="font-size: 30px!important;font-weight:bold;">In 5 Years We've Helped Businesses <span style="color:#ff3c64;">{{ data.content }}</span> </h2>

                      </div>
                      <div class="col-md-2"></div>

                        <div  data-aos="zoom-in-up" data-aos-easing="ease-in-back" data-aos-delay="100"data-aos-offset="0" class="col-md-4" style="    padding-top: 50px;">

                      <div class="bgyeloow" style="margin: auto;">
                        <h4 >85</h4>
                      </div>
                              <h2 style="text-align:center;font-size:25px;color:#fe3b63;">Business Websites</h2>
                  </div>
                  <div  data-aos="zoom-in-up" data-aos-easing="ease-in-back" data-aos-delay="100"data-aos-offset="0" class="col-md-4" style="    padding-top: 50px;">

                     <div class="bgyeloow" style="margin: auto;">
                      <h4 >215</h4>
                    </div>
                     <h2 style="text-align:center;font-size:25px;color:#fe3b63;">Digital Marketing</h2>
                  </div>
                  </div>
                  </div>

             </div>
              <div class="col-md-5" style="background-color:#7055a2;">
                <div class="row"  style="margin:0!important;">
                  <div class="col-md-12">
                      <contact-us head="Let's Start Your Digital Journey Today"></contact-us>
                  </div>

                </div>

              </div>
        </div>
        </div>
        <div class="container-fluid" style="background:#eeeeee;">
          <div class="row" style="margin:0!important;">
            <div class="col-md-12">
              <secondpanelHome></secondpanelHome>
            </div>
          </div>
        </div>
      </div>

    </template>

    <script>
    import AOS from 'aos';
        export default {
          name: 'firstpanel',
          props: ['data'],

        }
        AOS.init({
            duration: 700,
          })

    </script>
    <style lang="scss" scoped>
     @import'./src/assets/styles/main.scss';
    .col-md-5 {
      padding: 50px 0px 50px 0px;
    }
    #first {

    }
    h4 {
    color:white;
    }
    p {

        color: #ff3c64;
        font-weight: bold;

    }
    .bgyeloow {
      background-image: url(/static/img/homepage/icon_holder.jpg);
    height: 14vh;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    display: table;
    background-position: top;
        h4 {
             color: white;
    vertical-align: middle;
    font-size: 9vh;
        display: table-cell;
        }

    }
    .firstsec {
      @media(max-width: 767px) {
        margin-top:15%;
      }
      @media screen and (max-width: 414px) {
              height: auto;
          }

    }
  h1 {

    width: 100%;
    color: #A21ee8!important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
      font-weight:bold!important;
    z-index: 107;
    padding: 24px;
  }
  h1#yellowbgBig {
    @media(max-width:767px) {
      font-size: 8vw!important;
    }
  }

    </style>


