<!-- <template>
   <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": true }'>

</div>
</template>
<script>
    export default {
      name: 'ourwokrds',
      props: ['data']
    }
</script>

<style lang="scss">
 @import'./src/assets/styles/main.scss';
 .h1 {

}
.flickity-page-dots {
   bottom: 17px !important;

    .dot {
      width: 15px;
      height: 15px;
      background: white;
    }
  }

.h1 {
  text-align:center;
}
</style>
 -->
