<template>
  <div id="refPopup">
    <div class="refPopupContainer animated pulse">
      <div class="refPopupHeader">
        <h3>Hey There!</h3>
        <p>Looks like you've visited one of our valued clients.</p>
        <span class="close" @click="closeModal()"><i class="fa fa-times"></i></span>
      </div>
      <div class="refPopupBody">
        <div class="ui container">
          <p style="font-size:20px;">If you're interested in having a new website, or planning to redesign your current one, we can do the job and make it modern, responsive and SEO-friendly.</p>
          <div class="refPopupSite">
            <h2 v-html="refPopupData.refTitle"></h2>
            <a :href="'mailto:' + refPopupData.url" target="_blank">{{refPopupData.url}}</a>
          </div>
          <p class="call-us">Call Us at <a :href="`tel:${refPopupGwfnumber}`">{{refPopupGwfnumber}}</a> for a<br><span>SPECIAL OFFER!</span></p>
          <br>
          <p style="font-size:20px;">You may also send us an email and click the button below.</p>
          <a href="mailto:inquiry@globalwebforce.com" class="btn">Send Us an Email</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import $ from 'jquery'
  export default {
    name: 'secondpanel',
    props: ['refPopupData', 'refPopupGwfnumber'],
    methods: {
      closeModal() {
        $('.refPopupContainer').removeClass('tada')
        $('.refPopupContainer').addClass('zoomOut')
        setTimeout(function(){
          $('#refPopup').css('display', 'none')
        }, 300)
      }
    }
}

</script>
<style lang="scss" scoped>
@import'./src/assets/styles/main.scss';
#refPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1060;
  background-color: rgba(0, 0, 0, 0.4);
  .refPopupContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 45%;
    max-width: 100%;
    @media(max-width: 1200px) {
      width: 80%;
    }
    @media(max-width: 767px) {
      width: 95%;
    }
    .refPopupHeader {
      padding-top: 70px;
      padding-bottom: 70px;
      background-image: url('/static/img/homepage/popup/as_01.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      @media(max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      h3 {
        font-size: 2vw;
        font-weight: 700;
        color: #fff;
        @media(max-width:1200px) {
          font-size: 30px;
        }
        @media(max-width:767px) {
          font-size: 20px;
        }
      }
      p {
        font-size: 1.3vw;
        color: #fff;
        @media(max-width:1200px) {
          font-size: 20px;
        }
        @media(max-width:767px) {
          font-size: 16px;
        }
      }
      .close {
        color: #fff;
      }
    }
    .refPopupBody {
      padding: 30px 20px;
      border-bottom: 7px solid #a21ee8;
      p {
        color: #212529;
        @media(max-width: 767px) {
          font-size: 15px!important;
        }
        @media(max-width: 320px) {
          font-size: 10px!important;
        }
      }
      .refPopupSite {
        margin-top: 30px;
        margin-bottom: 30px;
        @media(max-width: 320px) {
          margin-top: 15px;
          margin-bottom: 15px
        }
        h2 {
          font-style: italic;
          font-weight: 700;
          @media(max-width:767px) {
            font-size: 20px;
          }
        }
        a {
          color: #a21ee8;
          font-weight: 700;
          font-size: 18px;
          @media(max-width: 599px) {
            font-size: 3vw;
            word-break: break-all;
          }
        }
      }
      a {
        &.btn {
          background-color: #ed344d;
          color:#fff;
          font-size: 25px;
          padding: 10px 15px;
          @media(max-width: 767px) {
            font-size: 20px;
          }
          @media(max-width: 320px) {
            font-size: 15px;
          }
        }
        &:not(.btn) {
          color: #a21ee8;
          font-weight: 700;
        }
      }
      span {
        color: #a21ee8;
        font-weight: 700;
      }
    }
    .call-us {
      font-size: 35px;
      @media(max-width: 767px) {
        font-size: 25px;
      }
      @media(max-width: 320px) {
        margin-bottom: 0px;
      }
    }
  }
}
</style>

