<template>
  <div id="second">
    <div class="container" style="padding:0;    margin-top: 5%;
    margin-bottom: 5%;padding-top: 10px;">
      <div class="row" style="margin:0!Important;">
          <div class="col-md-3" v-for="data in data" style="padding:1vh;padding-bottom:0;">
            <a :href="data.url" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
              <div class="iconBoxContainer">
                <div class="iconbox">
              <div data-aos="zoom-in" class="icon">
                <img :src="data.img" alt="" >
              </div>
              <div data-aos="zoom-out" class="title">
                <h3>{{ data.content }}</h3>
              </div>
              </div>
            </div>
            </a>

          </div>
      </div>
      <br>
    </div>
   </div>
</template>

<script>
    export default {
      name: 'secondpanel',
      data () {
          return {
      data: [
        {
          content: 'Web Design',
          img:'../static/img//icon_webdesign.svg',
          url:"/website-design"
        },{
          content: 'Integrated Digital Marketing',
          img:'../static/img/icon_digitalmarketing.svg',
          url:"/digital-marketing"
        },{
          content: 'Creative & Content',
          img:'../static/img/icon_creativecontent.svg',
          url:"/design-and-content"
        },{
          content: 'Special Offers',
          img:'../static/img/icon_specialoffers.svg',
          url:"/five-years"
        }
        ]
    }}
}

</script>
<style lang="scss" scoped>
 @import'./src/assets/styles/main.scss';
.container {
  text-align:center;
}
.iconBoxContainer{
  border: 2px solid rgb(112, 85, 162);
  box-sizing: content-box;
  width: 186px;
  height: 214px;
  padding: 30px;
  display: block;
  margin: auto;
  @media(max-width:1199px) {
    width:auto
  }
  @media(max-width:991px) {
    height:150px;
  }@media(max-width:767px) {
    width: 186px;
    height: 214px;
  }
  .iconbox {
    text-align:center;
    padding: 10px;
    .title {
      margin:auto;
    }
  }
}
h3 {
  color:#ff3c64;
  font-size:18px;
}
img {
  transition:all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.3);
}
}
a:hover {
  text-decoration:none;
}
</style>

