
  .clientInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align:left!important;
  }
  .clientInfo input {
  	border: none!important;
  	border-bottom: 2px solid #cacaca!important;
  	box-shadow: unset!important;
  }
  .swal-wide .ui.grid {
    background: url('/static/img/popup images/popup_girl.png')!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: 16% 2px!important;
    min-height:45vh;
    padding:10px;
  }
  @media(max-width:767px) {
    .swal-wide .ui.grid {
      background: none!important;
    }
  }
  .swal-wide {
  	padding-left: 50px;
  	padding-right: 50px;
  }
  @media(max-width:767px) {
    .swal-wide {
      padding:0px;
      width:90%!important;
    }
  }
  .swal-wide .swal2-title, .swal-wide #swal-title~.swal-subtitle {
  	text-align:left!important;
    color:#A21ee8!important;
  }
  .swal-wide .swal-subtitle {
    text-align:left;
  }
  .swal-wide .packageContainer {
    background:#f4f4f4;
    padding:30px 20px!important;
    text-align: left;
  }
  @media(max-width:767px) {
    .swal-wide .packageContainer h3, .inclusionsContainer, .swal-wide .packageContainer h3 ~ p {
      padding: 5px 10px!important;
    }
    .swal-wide .packageContainer h3 {
      font-size:25px;
    }
  }
  .swal-wide .packageContainer h3,.swal-wide .packageContainer p{
  	color:#1e92ff;
  	margin-bottom: 10px!important;
  }
  .swal-wide .packageContainer h3 ~ p {
    font-style:italic;
  }
  .swal-wide .packageContainer .inclusionsContainer p{
    font-weight:500!important;
    color:#545454!important;
    margin-bottom: 1rem!important;
  }
  @media(max-width:767px) {
   .swal-wide .packageContainer .inclusionsContainer p{
      width:100%;
      float:unset;
    }
  }
  .ui.segment {
    border: none;
  }

  button,a {
    cursor: pointer!important;
  }
  @media(max-width:767px) {
  .flickity-page-dots {
    display: none!important;
  }
}

*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
  background-color: #F90;
  background-image: -webkit-linear-gradient(90deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent)
}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #f17226;
}

::selection {
    color: #fff;
    background: #f17226;
}
/*Modal*/
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 45%;
    border-bottom: 5px solid #A21ee8;
    text-align:center;
  }
  @media(max-width: 414px) {
    .modal-content {
      padding:3px;
    }
  }
  .modal-content p {
    font-size:20px;
  }
  .show {
    display: flex!important;
  }
 .hide {
    display: none!important;
  }

  @media(max-width: 414px) {
     .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #888;
      width: 100%;
      border-bottom: 5px solid #f87b05;
      text-align: center;

    }

    .modal-content p {
      width: 80%;
      text-align: center;
      margin: 0px auto;
    }
  }

  .modal-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700 !important;
    color:#A21ee8;
  }

  .modal-content .action-item {
    margin: 0px auto;
    padding: 20px;
    font-size: 16px;
  }

  .modal-content .action-item a {
    color: white;
    background: #ff3c64; 
    min-width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;     
  }
  .close {
    color: #a21ee8;
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity:1;
  }

  .close:hover,
  .close:focus {
      text-decoration: none;
      cursor: pointer;
  }
  .g-listContainer .column, .member-container .column{
    display: flex!important;
    flex-flow: row;
    justify-content: center;
  }
</style>