<template>
  <div class="panel questionaire">
    <div class="container">
      <div class="as-questionaire" >
        <div class="ui stackable grid">
          <div data-aos="fade-right" class="ten wide column">
            <div class="ui segment col-left">
              <div class="mainQuestionairesContainer" v-for="(mainQ, i1) in question.content.content.questions">
                <div data-aos="fade-right" v-show="mainQ.isBeingAnswered">
                  <h2>{{mainQ.qTitle}}</h2>
                  <ul>
                    <li v-for="item in mainQ.answers">
                      <label>
                        <input type="radio" :id="mainQ.aName" :name="mainQ.aName" @click="isSelected(item, i1)">
                          {{item.answerLabel}}
                        <span class="checkmark"></span>

                      <div  v-show="item.withInput">
                        <input v-show="item.withInput && item.inputType!=='textarea'" :type="item.inputType" v-model="item.value">
                        <textarea v-show="item.withInput && item.inputType==='textarea'" name="" id="" cols="30" rows="10" v-model="item.value"></textarea>
                      </div>
                      </label>
                    </li>
                  </ul>
                  <div class="buttons-center" v-show="question.content.label==='Content'">
                    <button class="btn btn-danger" @click="previous(mainQ)">Back</button>
                    <button class="btn btn-danger" @click="next(mainQ,i1)">Next</button>
                  </div>
                  <div class="buttons-center" v-show="question.content.label==='Design'">
                    <button class="btn btn-danger" @click="previousDesign(mainQ)">Back</button>
                    <button class="btn btn-danger" @click="nextDesign(mainQ,i1)">Next</button>
                  </div>
                </div>
                <div v-show="question.content.label === 'Design'" v-for="(nestedQ, i2) in mainQ.answers">
                  <div v-for="(mainNestedQ, i3) in nestedQ.nestedQ">
                    <div v-show="mainNestedQ.isBeingAnswered">
                      <h2>{{mainNestedQ.qTitle}}</h2>
                      <div  v-show="mainNestedQ.withInput">
                        <input v-show="mainNestedQ.withInput && mainNestedQ.inputType!=='textarea'" :type="mainNestedQ.inputType" v-model="mainNestedQ.value">
                        <textarea v-show="mainNestedQ.withInput && mainNestedQ.inputType==='textarea'" name="" id="" cols="30" rows="10" v-model="mainNestedQ.value"></textarea>
                      </div>
                      <ul>
                        <li v-for="(item, i4) in mainNestedQ.answers">
                          <label>
                            <input type="radio" :id="mainNestedQ.aName" :name="mainNestedQ.aName" @click="enableInput(item, i1, i2, i3, i4)">
                              {{item.answerLabel}}
                            <span class="checkmark"></span><br>
                            <div class="answerWithInput">
                              <label v-show="item.withInput" class="innerLabel"> {{item.inputLabel}}

                                <input :disabled="item.isSelected==='disabled'" v-show="item.withInput && item.inputType!=='textarea'" :type="item.inputType">
                                <textarea :disabled="item.isSelected==='disabled'" v-show="item.withInput && item.inputType==='textarea'" name="" id="" cols="30" rows="10" ></textarea>
                              </label>
                            </div>
                            <div v-show="item.hasOwnProperty('innerImgSamples')" class="answerWithImgContainer">
                              <p  v-show="item.hasOwnProperty('imgSamplesLabel')"class="label">{{item.imgSamplesLabel}}:</p>
                              <div class="answerWithImg">
                                <img v-for="imgSrc in item.innerImgSamples" :src="imgSrc.url" alt="">
                              </div>
                            </div>
                          </label>
                        </li>
                      </ul>
                      <div v-show="mainNestedQ.hasOwnProperty('imgSamples')" class="answerWithImgContainer">
                        <p v-show="mainNestedQ.hasOwnProperty('imgSamplesLabel')" class="label">{{mainNestedQ.imgSamplesLabel}}:</p>
                        <div class="answerWithImg">
                          <img v-for="imgSrc in mainNestedQ.imgSamples" :src="imgSrc.url" alt="">
                        </div>
                      </div>
                      <div class="buttons-center" v-show="question.content.label==='Design'">
                        <button class="btn btn-danger" @click="previousNestedDesign(mainNestedQ,i1, i2)">Back</button>
                        <button class="btn btn-danger" @click="nextNestedDesign(mainNestedQ, i1, i2)">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AdvanceSelect from './selectComponent';
import $ from 'jquery'
import swal from 'sweetalert2'
import axios from 'axios'
import qs from 'qs'
  export default {
    name: 'Questionaire',
    props: ['question'],
    data () {
      return {
        countryCode: ''
      }
    },
    methods: {
      next(item, index1) {
        var currentQ = this.question.content.content.questions
        var qIndex = ''
        var arr = []
        $.each(currentQ[index1].answers, function(i) {
          if(!currentQ[index1].answers[i].isSelected) {
            arr.push(currentQ[index1].answers[i])
          } else {
            qIndex = currentQ[index1].answers.indexOf(currentQ[index1].answers[i])
          }
        })
        if(arr.length !== currentQ[index1].answers.length) {
          if(currentQ[index1].answers[qIndex].hasOwnProperty('withInput')) {
            if(currentQ[index1].answers[qIndex].value !== '') {
              currentQ[index1].isBeingAnswered = false
              if(index1+1 < currentQ.length) {
                currentQ[index1+1].isBeingAnswered = true
              }else {
                currentQ[index1].isBeingAnswered = true
                this.confirmSend(item)
              }
            } else {
              swal("", "Please specify the type of content you need.", "warning")
            }
          }else {
            currentQ[index1].isBeingAnswered = false
              if(index1+1 < currentQ.length) {
                currentQ[index1+1].isBeingAnswered = true
              }else {
                currentQ[index1].isBeingAnswered = true
                this.confirmSend(item)
              }
          }
        }else {
          swal("", "Please choose an option to proceed.", "error")
        }
      },
      previous(item) {
        var currentQ = this.question.content.content.questions
        var qIndex = currentQ.indexOf(item)
        var nestedCurrentQD = currentQ[qIndex].answers
        currentQ[qIndex].isBeingAnswered = false
        if(qIndex > 0) {
          currentQ[qIndex-1].isBeingAnswered = true
        }else {
          currentQ[qIndex].isBeingAnswered = true
        }
      },
      nextDesign(item, index1, index2) {
        var mainQ = this.question.content.content.questions
        var mainIndex = mainQ.indexOf(item)
        var qIndex, qItem
        var currentQ = this.question.content.content.questions[index1].answers
        var arr = []
        $.each(mainQ[mainIndex].answers, function(i) {
          if(!mainQ[mainIndex].answers[i].isSelected) {
            arr.push(mainQ[mainIndex].answers[i])
          }
        })
        if(arr.length !== mainQ[mainIndex].answers.length) {
          $.each(currentQ, function (i) {
            if(currentQ[i].isSelected) {
              qItem = currentQ[i]
              qIndex = currentQ.indexOf(qItem)
              // console.log(qIndex)
            }
          })
          mainQ[mainIndex].isBeingAnswered = false
          currentQ[qIndex].nestedQ[0].isBeingAnswered = true
        }else {
          swal("", "Please select an option before proceeding.", "error");
        }
      },
      previousDesign(item) {
        var currentQ = this.question.content.content.questions
        var qIndex = currentQ.indexOf(item);
        currentQ[qIndex].isBeingAnswered = false
        if(qIndex > 0) {
          currentQ[qIndex-1].isBeingAnswered = true
        }else {
          currentQ[qIndex].isBeingAnswered = true
        }
      },
      nextNestedDesign(item, index1, index2, index3) {
        var currentQ = this.question.content.content.questions[index1].answers[index2].nestedQ
        var qIndex = currentQ.indexOf(item)
        currentQ[qIndex].isBeingAnswered = false
        if(qIndex+1 < currentQ.length) {
          currentQ[qIndex+1].isBeingAnswered = true
        }else {
          currentQ[qIndex].isBeingAnswered = true
          this.confirmSend(currentQ)
        }
        // console.log(qIndex)
      },
      previousNestedDesign(item, index1, index2, index3) {
        var currentQ = this.question.content.content.questions[index1].answers[index2].nestedQ
        var qIndex = currentQ.indexOf(item)
        var nestedCurrentQD = currentQ[qIndex].answers
        var qNestedIndex = nestedCurrentQD.indexOf(item)
        currentQ[qIndex].isBeingAnswered = false
        if(qIndex > 0) {
          currentQ[qIndex-1].isBeingAnswered = true
        }else {
          this.question.content.content.questions[qIndex].isBeingAnswered = true
        }
        // console.log(currentQ)
      },
      isSelected(item, index1) {
        var currentQ = this.question.content.content.questions[index1].answers
        var qIndex = currentQ.indexOf(item)
        $.each(currentQ, function (i) {
          currentQ[i].isSelected = false
        })
        currentQ[qIndex].isSelected = true
        $.each(this.question.content.content.questions[index1].answers, function (i) {
          if(currentQ[i].isSelected){
            // console.log(currentQ[i])
          }
        })
      },
      enableInput(item, index1, index2, index3, index4) {
        var mainQ = this.question.content.content.questions
        var currentQ
        mainQ[index1].answers[index2].nestedQ[index3].answers[index4].isSelected = true
      },
      numbersOnly:function(e){
        -1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||(/65|67|86|88/.test(e.keyCode)&&(e.ctrlKey===true||e.metaKey===true))&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()
      },
      getCountry() {
        var _this = this
        var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
        axios.get(baseURL)
        .then(function(response){
          _this.countryCode = response.data.iso_code
        })
        .catch(function (e){
          console.log(e)
        })
      },
      confirmSend(item) {
        this.getCountry();
        swal.setDefaults({
          showCancelButton: true,
          confirmButtonText: 'Proceed',
          customClass: 'swal-wide',
          closeOnConfirm: false,
          width: '70%',
          progressSteps: ['1', '2'],
          reverseButtons: true
        })
        var currentQ = this.question.content.content.questions
        var list =  ''
        var listQ = new Array(1)
        var listA = new Array(1)
          $.each(currentQ, function (i) {
            $.each(currentQ[i].answers, function(j,value){
              if(currentQ[i].answers[j].isSelected) {
                list += `<p><span style="font-weight:bold">`+currentQ[i].qTitle+`:</span> `+value.answerLabel+`</p>`
                listQ.push(currentQ[i].qTitle)
                listA.push(value.answerLabel)
              }
            })
          })
          var listfordesign = ''
          if (typeof(item) !== 'undefined') {
            $.each(item, function (i, val) {
              if(item[i].answers!==0) {
                $.each(item[i].answers, function(j, value){
                  if(item[i].answers[j].isSelected) {
                    listfordesign += `<p><span style="font-weight:bold">`+val.qTitle+`:</span> `+ value.answerLabel +`</p>`
                    listQ.push(val.qTitle)
                    listA.push(value.answerLabel)
                  }
                })
              }
              if(typeof(val.value) !== 'undefined'){
                listfordesign += `<p><span style="font-weight:bold">`+val.qTitle+`:</span> `+ val.value +`</p>`
                listQ.push(val.qTitle)
                listA.push(val.value)
              }
            })
          }
          if(this.question.content.label === 'Content') {
            var steps = [
            {
              title: 'Your Digital Project Summary',
              html:
                '<p class="swal-subtitle">Thank You for Choosing Global WebForce with your digital project.</p><div class="ui two column stackable grid">'+
                '<div class="column">'+
                '' +
                '</div>'+
                '<div class="column packageContainer"><h3>'+
                this.question.content.label+'</h3>' +
                '<p style="color:#545454;">'+this.question.content.content.description+'</p><div class="inclusionsContainer">'+
                list  +
                '</div></div></div>',
              focusConfirm: false,
              preConfirm: () => {
                return [
                  this.question.content.label,
                  list,
                  listQ,
                  listA
                ]
              }
            },
            {
              title: 'Your Digital Project Summary',
              html:
                '<p class="swal-subtitle">Please input your information below so we can contact you right away.</p><div class="clientInfo">'+
                '<label>Name: <input id="cliName" class="swal2-input" required></label>' +
                `<label>Contact Number: <input id="cliContact" class="swal2-input" required></label>`+
                '<label>Email: <input id="cliEmail" type="email" class="swal2-input" required></label>'+
                '<label>Website: <input id="cliWebsite" class="swal2-input" required></label>'+
                '</div>',
              focusConfirm: false,
              preConfirm: () => {
                return [
                  $('#cliName').val(),
                  $('#cliEmail').val(),
                  $('#cliContact').val(),
                  $('#cliWebsite').val(),
                ]
              }
            }
          ]
        } else if (this.question.content.label === 'Design') {
          var steps = [
            {
              title: 'Your Digital Project Summary',
              html:
                '<p class="swal-subtitle">Thank You for Choosing Global WebForce with your digital project.</p><div class="ui two column stackable grid">'+
                '<div class="column">'+
                '' +
                '</div>'+
                '<div class="column packageContainer"><h3>'+
                this.question.content.label+'</h3>' +
                '<p style="color:#545454;">'+this.question.content.content.description+'</p><div class="inclusionsContainer">'+
                 listfordesign +
                '</div></div></div>',
              focusConfirm: false,
              preConfirm: () => {
                return [
                  this.question.content.label,
                  listfordesign,
                  listQ,
                  listA
                ]
              }
            },
            {
              title: 'Your Digital Project Summary',
              html:
                '<p class="swal-subtitle">Please input your information below so we can contact you right away.</p><div class="clientInfo">'+
                '<label>Name: <input id="swal-input1s" class="swal2-input" required></label>' +
                '<label>Contact Number: <input id="swal-input2" class="swal2-input" required></label>'+
                '<label>Email: <input id="swal-input2" type="email" class="swal2-input" required></label>'+
                '<label>Website: <input id="swal-input2" class="swal2-input" required></label>'+
                '</div>',
              focusConfirm: false,
              preConfirm: () => {
                return [
                  $('#cliName').val(),
                  $('#cliEmail').val(),
                  $('#cliContact').val(),
                  $('#cliWebsite').val(),
                ]
              }
            }
          ]
        }
        var _this = this
        swal.queue(steps).then((result) => {
          swal.resetDefaults()
          //send
          if (result.value) {
            let data = {
              cliName: result.value[1][0],
              cliEmail: result.value[1][1],
              cliContact: result.value[1][2],
              cliWebsite: result.value[1][3],
              package: result.value[0][0],
              inclusionsQ: result.value[0][2],
              inclusionsA: result.value[0][3],
              countryCode: _this.countryCode
            }
            axios.post(`https://www.globalwebforce.com/static/mail-sender/design-and-content-sender.php`, qs.stringify(data))
            .then(function(response){
              swal("Thank You!", "Someone from our team will get back to you in no less than 24 hours.", "success");
            })
            .catch(e => {
              console.log(e)
              swal("Oops!", "Something went wrong", "error")
            })
          }
        })
      }
    },
    mounted () {
      this.show.content = this.content.option[0]
      if(this.content.type=="standard"){
        this.content.option[0].selected = true
        this.show.selected = true
      }
    }
  }
</script>
<style lang="scss" scoped>
  .questionaire {
    h2 {
      font-size: 1.7rem;
    }
    .as-questionaire {
      .ui.grid {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
      .column {
        padding-left: 0px;
        padding-right: 0px;
        .ui.segment {
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
          &.col-left {
            padding-left: 10%;
            padding-right: 10%;
            min-height: 270px;
            h2 {
              color:#1e92ff;
            }
          }
          &.col-right {
            padding-right: 10%;
            padding-left: 10%;
            min-height: 270px;
            h2 {
              color:#1e92ff;
            }
            .itemContainer {
              margin: 20px 0px;
            }
          }
        }
      }
      ul {
        list-style: none;
        padding-left: 0px;
        li {
          margin-bottom: 15px;
          margin-top: 15px;
          &:first-child {
            margin-top: 30px;
          }
          &:last-child {
            margin-bottom: 30px;
          }
          label {
            padding-left: 30px;
            position: relative;
            input[type='radio'], input[type='checkbox'] {
              visibility: hidden;
              position: absolute;
              left: -9999px;
              &:checked, &.checked {
                & ~ .checkmark {
                  background-color: #1e92ff;
                }
              }
            }
            .checkmark {
              position: absolute;
              top: 5px;
              left: 5px;
              height: 15px;
              width: 15px;
              background-color: transparent;
              border: 2px solid #1e92ff;
              border-radius: 50%;
            }
          }
          ul {
            padding-left: 10px;
            li {
              border: none;
            }
          }
        }
      }
    }
    .innerLabel {
      padding: 0px!important;
    }
    input {
      border: none;
      border-bottom: 1px solid #cacaca;
      width: 100%;
    }
    textarea {
      width: 100%;
    }
    .buttons-center {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      button {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .answerWithImgContainer {
      margin: 10px 0px;
      .label {
        font-weight: bold;
        font-style: italic;
      }
      .answerWithImg {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 45px 0px;
        img {
          width: 50%;
        }
      }
    }
  }
</style>
