<template>
  <div class="panel advanceSelect">
    <div class="container">
      <div class="as-standard" v-show="content.type === 'standard'">
        <div class="ui stackable grid">
          <div data-aos="fade-left" class="eight wide column">
            <div  class="ui segment col-left">
              <h2>Let's Begin</h2>
              <p>{{content.description}}</p>
              <ul data-aos="fade-right">
                <li v-for="item in content.option">
                  <label>
                      <input type="radio" v-bind:class="{'checked' : (item.selected)}" name="as-standard" @click="toggle(item)">
                  {{ item.label }}
                  <span class="checkmark"></span>
                </label>
                </li>
              </ul>
            </div>
          </div>
          <div data-aos="fade-right" v-if="show.selected" class="eight wide column">
            <div  class="ui segment col-right">
              <div v-if="show.selected">
                <h2 data-aos="fade-right" >{{ show.content.content.title }}</h2>
                <div class="itemContainer">
                  <p>{{currency}}{{ show.content.content.subtitle }}  per month</p>
                  <p>{{ show.content.content.description }}</p>
                  <div v-show="show.content.content.hasOwnProperty('item')" class="itemInclusions">
                    <p v-for="items in show.content.content.item">
                      + {{items.itemName}}
                    </p>
                  </div>
                </div>
              </div>
              <button v-show="content.page !== 'cd'" @click="confirmSend(item, content.type)">Proceed</button>
            </div>
          </div>
        </div>
        <div class="ui grid"  v-show="content.page === 'cd'">
          <div class="sixteen wide column">
            <Questionaire :question="show" />
          </div>
        </div>
      </div>
      <div class="as-withchildren" v-show="content.type === 'withchildren'">
        <div class="ui stackable grid">
          <div class="eight wide column">
            <div class="ui segment col-left">
              <h2>Let's Begin</h2>
              <p>Choose the type of Adwords Campaign you would like to start today:</p>
              <ul class="ul-parent" >
                <li v-for="(item, key) in content.option">
                  <label>
                    <input type="radio" id="as-withchildren" name="as-withchildren" @click="withChildtoggle(key, item)">
                  {{ item.label }}
                    <span class="checkmark"></span>
                  </label>
                  <ul v-show="item.selected" :class="'ul-child ul-child' + key">
                    <li v-for="child in item.children">
                      <label>
                        <input type="radio" name="as-child" @click="childToggle(child)">
                      {{currency}}{{ child.content.range1 }} to {{currency}}{{child.content.range2}}
                      <span class="checkmark"></span>
                    </label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div data-aos="fade-right" class="eight wide column">
            <div class="ui segment col-right">
              <div v-if="withChildShow.selected">
                <h2>{{ withChildShow.content.content.title }}</h2>
                <div class="itemContainer">
                  <p>{{currency}}{{withChildShow.content.content.range1}} - {{currency}}{{ withChildShow.content.content.range2 }} / month</p>
                  <p>{{ withChildShow.content.content.description }}</p>
                  <div v-show="withChildShow.content.content.item.length !== 0" class="itemInclusions">
                    <p v-for="items in withChildShow.content.content.item">
                      + {{items.itemName}}
                    </p>
                  </div>
                  <p class="price">{{currency}}{{withChildShow.content.content.price}} Monthly</p>
                </div>
              </div>
              <button @click="confirmSend(item, content.type)">Get this Package</button>
            </div>
          </div>
        </div>
      </div>
      <div class="as-multiple-select" v-show="content.type === 'multiple-select'">
        <div class="ui stackable grid">
          <div data-aos="fade-right" class="eight wide column">
            <div  class="ui segment col-left">
              <h2>Let's Begin</h2>
              <p>Pick and Pack your social media campaign:</p>
              <ul>
                <li v-for="(item, key) in content.option">
                <label>
                  <input type="checkbox" @click="addNew(key, item)">
                {{ item.label }}
                <span class="checkmark"></span>
                </label>
                </li>
              </ul>
            </div>
          </div>
          <div data-aos="fade-right" class="eight wide column">
            <div  class="ui segment col-right">
              <h2>Social Media Package Summary</h2>
              <p style="color:#1e92ff;">Below is the summary of your social campaign inclusions</p>
              <div class="itemContainer" v-if="multipleSelected.length != 0">
                <p v-for="item in multipleSelected.content">
                  + {{item.label}}
                </p>
              </div>
              <button @click="confirmSend(item, content.type)">Start Local Campaign</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
import swal from 'sweetalert2'
import Questionaire from './questionaireComponent'
import axios from 'axios'
import qs from 'qs'
  export default {
    name: 'AdvanceSelect',
    props: ['content'],
    components: {
      Questionaire,
    },
    data () {
      return {
        show: {
          selected: false,
          content: {}
        },
        withChildShow: {
          selected: false,
          content: {}
        },
        multipleSelected: {
          selected: false,
          content: []
        },
        countryCode: '',
        currency: '$',
      }
    },
    methods: {
      toggle (item) {
        this.show.selected = true
        this.show.content = item

        var indexS = this.content.option.indexOf(item)
        if(this.content.type=="standard"){
          var _this = this
          $.each(this.content.option, function(i){
            _this.content.option[i].selected = false
          })
         this.content.option[indexS].selected = true
        }
      },withChildtoggle (index, item, wer) {
        var _this = this
        var childHeight = $('.ul-parent .ul-child'+index).height()
          $.each(this.content.option, function (i) {
            _this.content.option[i].selected = false
          })
          this.content.option[index].selected = true
          if(!$('.ul-parent .ul-child'+index).is(':visible')) {
            $('.ul-parent .ul-child'+index).show()
            $('.ul-parent .ul-child'+index).css('max-height', '1000px')
          } else {
            $('.ul-parent .ul-child'+index).css('max-height', '0px')
            $('.ul-parent .ul-child'+index).delay(900).hide(0)
          }
      },
      childToggle (item) {
        this.withChildShow.selected = true
        this.withChildShow.content = item
      },
      addNew: function (index, item) {
        if(!this.content.option[index].selected) {
          this.content.option[index].selected = true;
          this.multipleSelected.content.push(item)
        }else {
          var _this = this
          var inde = 0
          this.content.option[index].selected = false;
          $.each(_this.multipleSelected.content, function (i) {
            if (_this.multipleSelected.content[i].id === item.id) {
              _this.multipleSelected.content.splice(i, 1)
            }
          })
        }
      },
      confirmSend(item, type) {
        try {
          if(item !== null) {
            swal.setDefaults({
              confirmButtonText: 'Proceed',
              customClass: 'swal-wide',
              width: '55%',
              progressSteps: ['1', '2']
            })
            if(type == 'standard') {
              var list =  ''
              var listOfInclusions = new Array(1)
              $.each(this.show.content.content.item, function (i, value) {
                list += `<p>+ ` +  value.itemName + `</p>`
                listOfInclusions.push(value.itemName)
              })
              var steps = [
                {
                  title: 'Your Digital Project Summary',
                  html:
                    '<p class="swal-subtitle">Thank You for Choosing Global WebForce with your digital project.</p><div class="ui two column stackable grid">'+
                    '<div class="column">'+
                    '' +
                    '</div>'+
                    '<div class="column packageContainer"><h3>'+
                    this.show.content.content.title+'</h3>' +
                    '<p>'+this.show.content.content.subtitle+'</p>'+
                    '<p style="color:#545454;">'+this.show.content.content.description+'</p><div class="inclusionsContainer">'+
                    list +
                    '</div></div></div>',
                  focusConfirm: false,
                  preConfirm: () => {
                    return [
                      this.show.content.label,
                      listOfInclusions
                    ]
                  }
                },
                {
                  title: 'Your Digital Project Summary',
                  html:
                    '<p class="swal-subtitle">Please input your information below so we can contact you right away.</p><div class="clientInfo">'+
                    `<label>Name: <input id="cliName" name="name" class="swal2-input" required></label>` +
                    `<label>Contact Number: <input id="cliContact" name="contact" class="swal2-input" required></label>`+
                    `<label>Email: <input id="cliEmail" type="email" name="email" class="swal2-input" required></label>`+
                    `<label>Website: <input id="cliWebsite" class="swal2-input" name="website" required></label>`+
                    `</div>`,
                  focusConfirm: false,
                  preConfirm: () => {
                    return [
                      $('#cliName').val(),
                      $('#cliEmail').val(),
                      $('#cliContact').val(),
                      $('#cliWebsite').val(),
                    ]
                  }
                },
              ]
            }else if( type == 'withchildren') {
              var list =  ''
              var listOfInclusions = new Array(1)
              $.each(this.withChildShow.content.content.item, function (i, value) {
                list += `<p>+ ` +  value.itemName + `</p>`
                listOfInclusions.push(value.itemName)
              })
              var steps = [
                {
                  title: 'Your Digital Project Summary',
                  html:
                  '<p class="swal-subtitle">Thank You for Choosing Global WebForce with your digital project.</p><div class="ui two column stackable grid">'+
                    '<div class="column">'+
                    '' +
                    '</div>'+
                    '<div class="column packageContainer"><h3>'+
                    this.withChildShow.content.content.title+'</h3>' +
                    '<p>'+this.withChildShow.content.content.subtitle+'</p>'+
                    '<div class="inclusionsContainer">'+
                    list +
                    '</div></div></div>',
                  focusConfirm: false,
                  preConfirm: () => {
                    return [
                      this.withChildShow.content.label,
                      listOfInclusions
                    ]
                  }
                },
                {
                  title: 'Your Digital Project Summary',
                  html:
                    '<p class="swal-subtitle">Please input your information below so we can contact you right away.</p><div class="clientInfo">'+
                    `<label>Name: <input id="cliName" name="name" class="swal2-input" required></label>` +
                    `<label>Contact Number: <input id="cliContact" name="contact" class="swal2-input" required></label>`+
                    `<label>Email: <input id="cliEmail" type="email" name="email" class="swal2-input" required></label>`+
                    `<label>Website: <input id="cliWebsite" class="swal2-input" name="website" required></label>`+
                    `</div>`,
                  focusConfirm: false,
                  preConfirm: () => {
                    return [
                      $('#cliName').val(),
                      $('#cliEmail').val(),
                      $('#cliContact').val(),
                      $('#cliWebsite').val(),
                    ]
                  }
                },
              ]
            }else if( type == 'multiple-select') {
              var list =  ''
              var listOfInclusions = new Array(1)
              $.each(this.multipleSelected.content, function (i, value) {
                list += `<p>+ ` + value.label + `</p>`
                listOfInclusions.push(value.label) 
              })
              var steps = [
                {
                  title: 'Your Digital Project Summary',
                  html:
                    '<p class="swal-subtitle">Thank You for Choosing Global WebForce with your digital project.</p><div class="ui two column stackable grid">'+
                    '<div class="column">'+
                    '' +
                    '</div>'+
                    '<div class="column packageContainer"><h3>Social Media Package</h3>' +
                    '<p style="color:#545454;">Below is the summary of your social campaign inclusions</p>'+
                    '<div class="inclusionsContainer">'+
                    list +
                    '</div></div></div>',
                  focusConfirm: false,
                  preConfirm: () => {
                    return [
                      this.multipleSelected.content.label,
                      listOfInclusions
                    ]
                  }
                },
                {
                  title: 'Your Digital Project Summary',
                  html:
                    '<p class="swal-subtitle">Please input your information below so we can contact you right away.</p><div class="clientInfo">'+
                    `<label>Name: <input id="cliName" name="name" class="swal2-input" required></label>` +
                    `<label>Contact Number: <input id="cliContact" name="contact" class="swal2-input" required></label>`+
                    `<label>Email: <input id="cliEmail" type="email" name="email" class="swal2-input" required></label>`+
                    `<label>Website: <input id="cliWebsite" class="swal2-input" name="website" required></label>`+
                    `</div>`,
                  focusConfirm: false,
                  preConfirm: () => {
                    return [
                      $('#cliName').val(),
                      $('#cliEmail').val(),
                      $('#cliContact').val(),
                      $('#cliWebsite').val(),
                    ]
                  }
                },
              ]
            }
            var _this = this
            swal.queue(steps).then((result) => {
              swal.resetDefaults()
              if (result.value) {
                let data = {
                  cliName: result.value[1][0],
                  cliEmail: result.value[1][1],
                  cliContact: result.value[1][2],
                  cliWebsite: result.value[1][3],
                  package: result.value[0][0],
                  inclusions: result.value[0][1],
                  countryCode: _this.countryCode
                }
                console.log(data.countryCode)
                axios.post(`https://www.globalwebforce.com/static/mail-sender/digital-marketing-sender.php`, qs.stringify(data))
                .then(function(response){
                  swal("Thank You!", "Someone from our team will get back to you in no less than 24 hours.", "success");
                })
                .catch(e => {
                  swal("Oops!", "Something went wrong", "error")
                })
              }
            })
          }
        } catch(e) {
          swal.setDefaults({
            confirmButtonText: 'Proceed',
            customClass: 'swal-error',
            confirmButtonText: 'Ok',
            width: '40%',
            progressSteps: false
          })
          swal("", "Please choose the type of Adwords Campaign you would like to start today.", "warning")
        }
      },
      getCountry() {
        var _this = this
        var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
        axios.get(baseURL)
        .then(function(response){
          _this.countryCode = response.data.iso_code
          if(_this.countryCode === 'PH') {
            _this.currency = '₱'
          }
        })
        .catch(function (e){
          console.log(e)
        })
      }
    },
    mounted () {
      this.show.content = this.content.option[0]
      if(this.content.type=="standard"){
        this.content.option[0].selected = true
        this.show.selected = true
      }
      this.getCountry()
    }
  }
</script>
<style lang="scss" scoped>
  .advanceSelect {
    h2 {
      font-size: 1.7rem;
    }
    .column {
      padding-left: 0px;
      padding-right: 0px;
      .ui.segment {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        &.col-left {
          padding-left: 10%;
          padding-right: 10%;
          border-right: 2px solid #909090;
          min-height: 270px;
          @media(max-width:767px) {
            min-height:unset;
            border:none;
          }
          h2 {
            color:#1e92ff;
          }
        }
        &.col-right {
          padding-right: 10%;
          padding-left: 10%;
          min-height: 270px;
          @media(max-width:767px) {
            min-height:unset;
            margin-top: -25px;
          }
          h2 {
            color:#1e92ff;
          }
          .itemContainer {
            margin: 20px 0px;
            text-align:justify;
            .price {
              margin-top: 10px;
              margin-left: 10px;
              font-size: 30px;
              font-weight: 600;
            }
          }
          .itemInclusions {
            background: #f4f4f4;
            padding: 10px;
            max-height: 340px;
            overflow-y: auto;
            p {
              font-weight: 600;
            }
          }
        }
        button {
          bottom:0;
          margin-left: 10px;
          background: #1e92ff;
          border: none;
          color:#fff;
          font-size: 1.5em;
          padding: 5px 30px;
          @media(max-width:767px) {
            padding: 5px 15px;
          }
        }
      }
    }
    .ul-parent .ul-child {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      overflow: hidden;
      max-height: 0px;
    }
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        border-bottom:1px solid #909090;
        margin-bottom: 33px;
        margin-top: 33px;
        label {
          padding-left: 30px;
          position: relative;
          input[type='radio'], input[type='checkbox'] {
            visibility: hidden;
            position: absolute;
            left: -9999px;
            &:checked, &.checked {
              & ~ .checkmark {
                background-color: #1e92ff;
              }
            }
          }
          .checkmark {
            position: absolute;
            top: 5px;
            left: 5px;
            height: 15px;
            width: 15px;
            background-color: transparent;
            border: 2px solid #1e92ff;
            border-radius: 50%;
          }
        }
        ul {
          padding-left: 10px;
          li {
            border: none;
          }
        }
      }
    }
    .as-standard {
      .cd-btn {
        background-color: #ed344c!important;
        float:right;
        margin-top: 2em;
        font-size: 1.2em!important;
      }
    }
    .as-withchildren {
      .col-right, .col-left {
        h2 {
          color: #647948!important;
        }
      }
      .col-right {
        button {
          background: #647948!important;
        }
      }
      ul {
        li {
          label {
            input[type='radio'], input[type='checkbox'] {
              &:checked, &.checked {
                & ~ .checkmark {
                  background-color: #647948;
                }
              }
            }
            .checkmark {
              border: 2px solid #647948;
            }
          }
        }
      }
    }
    .ui.segment {
      background-color: transparent;
    }
  }

</style>
