<template>
  <div id="entrep">
    <section>
      <div class="container-fluid">
        <div class="row" :style="entrepbanner.elementSytle">
          <div class="col-md-1">
          </div>
          <div class="col-md-7">
            <div style="display:table;">
              <div class="first-list">
                <ul>
                  <li v-for="data in entrepbanner.contents" v-html="data.content"></li>
                </ul>
              </div>
            </div>
            <div >
              <div class="second-list">
                <ul>
                  <li v-for="data in entrepbanner.contentstwo" v-html="data.content"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: ['entrepbanner'],
  name: 'entrepbanner'
}
</script>
<style lang="scss">

.container-fluid {
  padding:0;
}
.first-list {
    display: table-cell;
    vertical-align: middle;
    height: 411px;
    @media screen and (max-width:411px) {
        height: auto!important;
            }
        .first {
               @media(max-width:414px) {
                font-size: 28px!important;
            }@media(max-width:411px) {
                font-size: 28px!important;
            }
        }
        .second {
               @media(max-width:411px) {
                font-size: 28px!important;
            }
        }
        .third {
               @media(max-width:411px) {
                font-size: 28px!important;
            }
        }

    ul {
    list-style: none;

  }

}
.second-list {
    display: table-cell;
    vertical-align: middle;
    height: 411px;
    li {
      padding-bottom:38px;
      @media(max-width:411px) {
        padding-bottom: 25px!important;
      }
    }
    @media screen and (max-width:411px) {
      height: 0!important;
      padding-top: 25px!important;
    }
    .first {
      @media(max-width:415px) {
        font-size: 15px!important;
      }   @media(max-width:411px) {
        font-size: 15px!important;
      }
    }
        .second {
          @media(max-width:411px) {
            font-size: 15px!important;
          }
        }
        .third {
            @media(max-width:411px) {
              font-size: 12px!important;
          }
        }
  ul {
    list-style: none;
  }
}
</style>
