<template>
  <div id="first">
    <section class="inclusions-freebies" style="background-image:url(../static/img/LP/entrp/image_EFE-packages-black.jpg); background-color:#f4f4f4; background-size: cover; background-position: bottom center; background-repeat: no-repeat; padding-bottom:4rem;padding-top:4rem;">
      <div class="container">
          <div class="row">
              <div class="col-md-12"><h1 style="text-align:center;font-weight:bold;">All-in Website Package</h1></div>
          </div>
            <div class="row">
              <div class="col-md-12"><p style="text-align:center;font-size:20px;color:white;">Get awesome package inclusions and freebies to help kick start your<br> digital presence and business.</p></div>
          </div>

          <div class="g-listContainer ui stackable two column grid">
              <div class="column">
                  <div class="ui">
                      <h3>Features</h3>
                      <ul class="g-list">
                          <li>Company Banner</li>
                          <li>Modern Design</li>
                          <li>Responsive Design</li>
                          <li>Business Branding</li>
                          <li>One Click Call Business Function</li>
                          <li>One Click Email Business Function</li>
                          <li>Social Media Buttons</li>
                          <li>Call to Action elements</li>
                          <li>Contact Form</li>
                      </ul>
                  </div>
              </div>
              <div class="column">
                  <div class="ui">
                      <h3>Freebies</h3>
                      <ul class="g-list check">
                          <li>1 Year .com Name Registration</li>
                          <li>3 Months Website Hosting</li>
                          <li>3 Business Emails</li>
                          <li>Online Chat Feature</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="contact" style="padding-bottom:4rem;padding-top:4rem;">
      <div class="container">
          <div class="ui center aligned grid">
              <div class="sixteen wide column">
                  <h1 style="font-weight:bold;color:black">Don't Miss This Offer!</h1>
                  <h1 style="text-align:center;color:black;font-weight:bold;">Contact these numbers to get in touch with us!</h1>
              </div>
          </div>
          <div class="ui stackable three column grid member-container">
            <div class="column">
              <div class="member-block">
                <div class="member-content">
                  <div class="member-img">
                     <img src="/static/img/LP/entrp/icon_EFE-female.png" alt="">
                  </div>
                  <div class="member-info">
                    <h3 class="member-name">Angela Sunga</h3>
                    <h3 class="member-title">Country Manager</h3>
                    <h3 class="member-phone"><i class="fa fa-phone" style="color:#194794!important;"></i>&nbsp;&nbsp;<a href="+639175680402">+639175680402</a></h3>
                    <h3 class="member-email"><i class="fa fa-envelope" style="color:#194794!important;"></i>&nbsp;&nbsp;<a href="angelas@globalwebforce.com">angelas@globalwebforce.com</a></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="member-block">
                <div class="member-content">
                  <div class="member-img">
                    <img src="/static/img/LP/entrp/icon_EFE-male.png" alt="">
                  </div>
                  <div class="member-info">
                    <h3 class="member-name">{{data.secondInfo.infoName}}</h3>
                    <h3 class="member-title">{{data.secondInfo.title}}</h3>
                    <h3 class="member-phone"><i class="fa fa-phone" style="color:#194794!important;"></i>&nbsp;&nbsp;<a :href="`tel:${data.secondInfo.gwfnumber}`">{{data.secondInfo.gwfnumber}}</a></h3>
                    <h3 class="member-email"><i class="fa fa-envelope" style="color:#194794!important;"></i>&nbsp;&nbsp;<a :href="`mailto:${data.secondInfo.gwfemail}`">{{data.secondInfo.gwfemail}}</a></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="member-block">
                <div class="member-content">
                  <div class="member-img">
                    <img src="/static/img/LP/entrp/icon_EFE-gwf.png" alt="">
                  </div>
                  <div class="member-info">
                    <h3 class="member-name">Global WebForce</h3>
                    <h3 class="member-title address change" v-html="data.gwfInfo.title"></h3>
                    <h3 class="member-phone"><i class="fa fa-phone" style="color:#194794!important;"></i>&nbsp;&nbsp;<a :href="`tel:${data.gwfInfo.gwfemail}`">{{data.gwfInfo.gwfnumber}}</a></h3>
                    <h3 class="member-email"><i class="fa fa-envelope" style="color:#194794!important;"></i>&nbsp;&nbsp;<a :href="`mailto:${data.gwfemail}`">{{data.gwfInfo.gwfemail}}</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
</div>
</template>
<script>
  import axios from 'axios'
  export default {
    data() {
      return {
        data:
        {
          gwfInfo: {
            title: 'Unit 3203 Antel Global Corporate Center, Julia Vargas Ave., Ortigas Center, Pasig City, Philippines',
            gwfemail: 'inquiry@globalwebforce.com',
            gwfnumber: '+63-917-568-0402',
          },
          secondInfo: {
            infoName: 'Miguel Dela Rosa',
            title: 'Operation Manager',
            gwfemail: 'miguelr@globalwebforce.com',
            gwfnumber: '+639175166897',
          },
          country: ''
        }
      }
    },
    methods: {
      getCountry() {
        var _this = this
        var baseURL = 'https://v1.api.globalteleforce.com/v1/geo-ips'
        axios.get(baseURL)
        .then(function(response){
          _this.data.country = response.data.iso_code
          if(_this.data.country === 'AU') {
            _this.data.gwfInfo.gwfnumber = '0419 200 663'
            _this.data.gwfInfo.gwfaddress = '425 Bell Street, Pascoe Vale South,<br>(Corner of Springhall Parade),<br>Victoria, 3044, Australia'
            _this.data.secondInfo.gwfnumber = '+61419200663'
            _this.data.secondInfo.infoName = 'Hitesh Parekh'
            _this.data.secondInfo.title = 'Managing Director'
            _this.data.secondInfo.gwfemail = 'hitesh.parekh@globalwebforce.com'
          }
          console.log(_this.data.country)
        })
        .catch(function (e){
          console.log(e)
        })
      }
    },
    mounted() {
      this.getCountry()
    }
  }
</script>
<style lang="scss" scoped>
$color-primary: white;
$color-secondary: #194794;
$color-black: #000;
$circle-equal: 180px;
$font-primary: 'Archivo Narrow', sans-serif;
$font-script: 'Kaushan Script', cursive;
h1,h2,h3,h4,h5,h6 {
  color: $color-primary;
  font-family: $font-primary;
}
.script {
  font-family: $font-script;
}
.offer-date {
  color: $color-black;
  span {
    color: #df242f;
  }
}
.header-banner {
  img {
    width:100%;
  }
}
.g-listContainer {
  margin-top:2.3%;
  .g-list {
    padding-left:0;
    list-style: none;
    margin-left: 25px;
    font-size: 18px;
    li {
      position:relative;
      margin-bottom: 8px;
      color:white;
      &:before {
        content: '\f0da';
        font-family:FontAwesome;
        position:absolute;
        left:-25px;
        color:$color-secondary;
      }
    }
    &.check {
      li {
        &:before {
          content: '\f00c';
        }
      }
    }
  }
}
.contact {
  // .ui.grid.member-container {
  //   justify-content: center;
  //   .column {
  //     width: fit-content;
  //     margin-left: 5%;
  //   }
  // }
  .member-block {
    .member-content {
      .member-img {
        margin-bottom: 20px;
      }
      .member-info {
        h3 {
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 2rem;
          &:first-child {
            margin-top: 0px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
          &.member-name {
            font-size: 2rem;
            color:black;
          }
          &.member-title {
            color: inherit;
            font-size: 1.7rem;
          }
          &.member-phone,&.member-email {
            a {
              color: #464646;
            }
            font-size:1.3rem;
          }
        }
      }
      .change {
        font-size: 1.3rem!important;
      }
    }
  }
}
h2 {
  font-size: 3.5rem;
  & + p {
    font-size: 2rem;
  }
}
h3 {
  font-size:2rem;
  font-weight:bold;
}
/* JUST FIX THIS ADDITIONAL CSS VURAT */
</style>
