<template>
<div id="subicsecondsec">
  <div class="container">
    <div class="row">
      <div class="col-md-12 custom-center">
        <div v-for="data in data">
        <h2>{{data.title}}</h2>
        <h4>{{data.content}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

#subicsecondsec {
background:#2d2d2d;
text-align:center;
}
h2,h4 {
  color:white;
}
.custom-center {
  display:table;
  div {
    display:table-cell;
    vertical-align:middle;
    height: 200px;
  }
}
</style>
