<template>
<div id="subicfirstsec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 head">
          <div>
          <h1>Increasing Reach With Beautifully Designed Websites</h1>
          <h4>Affordable Website Packages, With Everything You Need Starting at P8,999</H4>
          </div>
      </div>
        <div  class="col-md-4 custom-center" v-for="data in data">
          <div>
            <img  data-aos="fade-down" :src="data.img" alt="">
          <h3  data-aos="fade-down">{{data.head}}</h3>
          <h4  data-aos="fade-down">{{data.message}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.custom-center {
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
    height: 354px;
    text-align: center;
    padding: 49px;
    img {
      padding-bottom: 10px;
    }
    h3 {
    padding-bottom: 10px;
    color:#fe3b63;
    }
  }
}
.head {
  text-align:center;

h1 {
  color:#a21ee8;
}
}
#subicfirstsec {
padding-top:60px;
}
</style>
