<template>
  <div id="ccpage" style="padding-top:30px">
    <div class="container-fluid">
      <div class="row" style="margin: 0;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h4 >What design services do you need?</h4>
        </div>
       <div class="col-md-3"></div>
      </div>
    </div>
    <div class="container" style="padding: 0;">
      <div class="row" style="margin: 0;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <ul style="list-style: none; padding:0;">
            <li style="padding:25px 0;"><i class="fa fa-circle" aria-hidden="true" style="color:#1e92ff"></i> Logo Design</li>
            <li style="padding:25px 0"><i class="fa fa-circle-o" aria-hidden="true" style="color:#1e92ff" ></i> Letterhead/business cards</li>
            <li  style="padding:25px 0"><i class="fa fa-circle-o" aria-hidden="true" style="color:#1e92ff" ></i> Marketing materials: brochures,flyers,postcards,posters,banners,catalougues</li>
            <li  style="padding:25px 0"><i class="fa fa-circle-o" aria-hidden="true" style="color:#1e92ff" ></i> Restaurant menu</li>
            <li  style="padding:25px 0"><i class="fa fa-circle-o" aria-hidden="true" style="color:#1e92ff" ></i> Digital Artworks</li>
            <li  style="padding:25px 0"><i class="fa fa-circle-o" aria-hidden="true" style="color:#1e92ff" ></i> Not mentioned above</li>

          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row" style="margin: 0;">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="text-align:center;">  <button type="button" class="btn btn-danger" ><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button></div>
        <div class="col-md-3" style="text-align:center;">  <button type="button" class="btn btn-danger" style="text-align:center;">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row" style="display: flex;margin: 0;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
         <ul class="icons" style="list-style: none;display: flex; ">
            <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
            <li><i class="fa fa-file-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-building-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-user-plus" aria-hidden="true"></i></li>
            <li><i class="fa fa-file-text-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-files-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        </ul></div>
        <div class="col-md-3"></div>

      </div>
    </div>
  </div>
</template>
<script>

</script>
<style lang="scss" scoped>
h4 {
  text-align: center;
    width: 98%;
    color: #1e92ff !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
    background-size: 30%;
    padding: 24px;
    padding-top: 0;
    padding-left: 115px;
    padding-right: 115px;
    font-size: 3.5vh;
       @media screen and (max-width: 414px) {
        padding: 10px 0 !important;
      }
      @media screen and (max-width: 320px) {
        padding: 10px 0 !important;
      }
}
#cccontent {
  text-align:center;
}
.icons li {
      padding: 25px;
        @media screen and (max-width: 414px) {
        padding: 17px !important;
      }
      @media screen and (max-width: 320px) {
        padding: 10px !important;
      }
      i {

        color:#ff3c64;
      }
}
.icons {
  padding:0;
}
</style>
