<template>
  <div id="ccpage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1>Grab People's Attention in a <br> Distracted World</h1>
          <p id="cccontent">Our design team consists of telented, passionate people who love designing thoughtful, innovative and compelling artworks for our clients. With over 15 years of combines experience in graphics and branding, we can provide you with timelesss designs that reflect your brand. We obsess about the finest details, so our clients don't have to. We guarantee your design projects are in safe hands.</p>
        </div>
       <div class="col-md-3"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" style="border-right:0.5px solid #818181">
          <ul style="list-style: none;height: 331px; padding:0;">
            <li>  <h4 style="color:#A21ee8 !important;">Type of Project</h4></li>
            <li style="padding-bottom:30px;"><p>Choose the type of Project you would like to start today:</p></li>
            <li style="padding:25px 0;border-bottom: 1px solid black;"><i class="fa fa-circle-o" aria-hidden="true" style="color:#1e92ff"></i> Content</li>
            <li  style="padding:25px 0;border-bottom: 1px solid black;"><i class="fa fa-circle" aria-hidden="true" style="color:#1e92ff" ></i> Design</li>
          </ul>
        </div>
        <div class="col-md-4" style="border-left: 0.5px solid #818181;display:table;">
          <div style="display:table-cell;vertical-align: middle;height:346px;">
                 <p>Because creative grraphics has a huge scope, we might hit the jackpot first time or we may require some nitty-gritty details to get things right. Let's pin down what artwork you need and what goals would you like to accomplish.<br>Let's start!</p>
                      <div class="col-md-6  pull-right">
                   <button type="button" class="btn btn-danger" style="float:right;">Start</button>
                 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

</script>
<style lang="scss" scoped>
h1 {
  text-align: center;
    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;

    z-index: 107;
    padding: 24px;
    padding-top: 0;

       @media screen and (max-width: 414px) {
        padding: 10px 0 !important;
      }
      @media screen and (max-width: 320px) {
        padding: 10px 0 !important;
      }

}
#cccontent {
  text-align:center;
}

</style>
