<template>
  <div>
    <Slider />
    <div v-html="content">
      {{content}}
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import Slider from './Slider';
Vue.component('Slider', Slider)
export default {
  data() {
    return {
      content: "<section style=\"background-color:blue; height:50vh;\"><h1><span style=\"color: #008000;\"><strong>Toranks</strong></span></h1></section><section style=\"background-color:blue; height:50vh;\"><h1><span style=\"color: #008000;\"><strong>Toranks</strong></span></h1></section>",
    };
  },
  methods: {

  },
};
</script>