<template>
  <div>
    <Header />
    <PageContent />
  </div>
</template>

<script type = "text/javascript" >
import Vue from 'vue'
import Header from './Header';
import PageContent from './PageContent';
Vue.component('Header', Header)
Vue.component('PageContent', PageContent)
export default {

};
</script>
<style>
</style>