<template>
  <div class="panel">
    <div class="ui stackable centered grid ">
      <div class="six wide tablet nine wide computer column padding-3 tabs-padding animated fadeInLeft">
        <div class="six wide tablet twelve wide computer column">
          <tabs class="centered bg-primary">
            <tab name="Inbound">
              <div class="six wide field g-bounce">
                <div class="ui form">
                  <div class="inline fields">
                    <p class="label">Service Type</p>
                    <div class="twelve wide field input ">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">Order Taking</option>
                        <option value="1">Upselling & Cross-Selling</option>
                        <option value="1">Customer Service</option>
                        <option value="1">Technical Support</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">Serviced Country</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">Australia</option>
                        <option value="1">Canada</option>
                        <option value="1">United Kingdom</option>
                        <option value="1">United States of America</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">Shift Requirement</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">24 / 7</option>
                        <option value="1">24 / 5</option>
                        <option value="1">10 / 7</option>
                        <option value="1">10 / 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields ">
                    <label class="label">How Many Inbound Calls Do You Receive Per Day?</label>
                    <div class="twelve wide field input">
                      <div class="sixteen wide field ui fluid zero-padding">
                        <input type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">What is Your Average or ideal Call Completion Time?</label>
                    <div class="twelve wide field input">
                      <div class="sixteen wide field ui fluid zero-padding">
                        <input type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab name="Outbound">
              <div class="six wide field g-bounce">
                <div class="ui form">
                  <div class="inline fields">
                    <label class="label">Service Type</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">Sales Calls</option>
                        <option value="1">Set Appointments</option>
                        <option value="1">Follow Up Call</option>
                        <option value="1">Technical Support</option>
                        <option value="1">Survery</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">Service Country</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">Australia</option>
                        <option value="1">Canada</option>
                        <option value="1">United Kingdom</option>
                        <option value="1">United States of America</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">Shift Requirement</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">24 / 7</option>
                        <option value="1">24 / 5</option>
                        <option value="1">10 / 7</option>
                        <option value="1">10 / 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">How Many Outbound Calls per Day?</label>
                    <div class="twelve wide field input">
                      <div class="sixteen wide field ui fluid zero-padding">
                        <input type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">What is your ideal Sales Leads per Day?</label>
                    <div class="twelve wide field input">
                      <div class="sixteen wide field ui fluid zero-padding">
                        <input type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab name="Accounting">
              <div class="six wide field g-bounce">
                <div class="ui form">
                  <div class="inline fields">
                    <label class="label">Your Preferred Platform</label>
                    <div class="twelve wide field input">
                      <select class="ui search dropdown" name="card[expire-month]">
                        <option value="1asd">Quickbooks</option>
                        <option value="1asd">MYOB</option>
                        <option value="1asd">Zoho Accounting</option>
                        <option value="1">FreshBooks</option>
                        <option value="1">Xero</option>
                        <option value="1">EZIAccounting</option>
                        <option value="1">Sage</option>
                        <option value="1">Wave Accounting</option>
                        <option value="1">Peachtree</option>
                        <option value="1">Quicken</option>
                        <option value="1">None</option>
                      </select>
                    </div>
                  </div>

                  <div class="inline fields">
                    <label class="label">Scope of Work Required</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">Full-Charge Accounting</option>
                        <option value="1">Month-end Bookkeeping</option>
                        <option value="1">Weekly & Bi-weekly Bookkeeping</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">Input Your Industry or Type of Business</label>
                    <div class="twelve wide field input">
                      <div class="sixteen wide field ui fluid zero-padding">
                        <input type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab name="Non-Voice">
              <div class="six wide field g-bounce">
                <div class="ui form">
                  <div class="inline fields">
                    <label class="label">Non-Voice</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" v-model="non" name="card[expire-month]">
                        <option value="1chat" selected>Chat Support</option>
                        <option value="1email">Email Support</option>
                      </select>
                    </div>
                  </div>
                  <div class="inline fields">
                    <label class="label">Availability</label>
                    <div class="twelve wide field input">
                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="1">24 / 7</option>
                        <option value="1">24 / 5</option>
                        <option value="1">10 / 7</option>
                        <option value="1">10 / 5</option>
                      </select>
                    </div>
                  </div>
                  <div v-if="non === 'chat'">
                    <div class="inline fields">
                      <label class="label">How many chat prompts are you getting per day?</label>
                      <div class="twelve wide field input">
                        <div class="sixteen wide field ui fluid zero-padding">
                          <input type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="inline fields">
                      <label class="label">What is Your Average or Ideal Chat Resolution Time?</label>
                      <div class="twelve wide field input">
                        <div class="sixteen wide field ui fluid zero-padding">
                          <input type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="non === 'email'">
                    <div class="inline fields">
                      <label class="label">How many emails you receive each day that requires immediate support.</label>
                      <div class="twelve wide field input">
                        <div class="sixteen wide field ui fluid zero-padding">
                          <input type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="inline fields">
                      <label class="label">What is Your  Average of Email Sent for Resolving the case?</label>
                      <div class="twelve wide field input">
                        <div class="sixteen wide field ui fluid zero-padding">
                          <input type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <!--  <div class="ui submit button">Submit</div>
            <p class="float-left text-color-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="ui divider"></div> -->
            <!-- <tab prefix="<span class='glyphicon glyphicon-star'></span> "
                 name="Prefix and suffix"
                 suffix=" <span class='badge'>4</span>">
                A prefix and a suffix can be added
            </tab> -->
          </tabs>
        </div>
      </div>
       <div class="one column bg-secondary cta animated fadeInLeft">
         <i class="fa fa-phone" aria-hidden="true"></i>
       </div>
      <div class="six wide tablet six wide computer column bg-primary padding-3 animated fadeInRight">
        <contact-us></contact-us>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import Tabs from 'vue-tabs-component'

  Vue.use(Tabs)

  export default {
    name: 'Services',
    data () {
      return {
        non: 'chat',
        section: {
          title: 'Services'
        }
      }
    }
  }
</script>

<style lang="scss" >
@import '../../assets/css/site.scss';
.panel {
  .inline {
    .input {
      z-index: 10;
      position: absolute;
      right: 0;

      .zero-padding {
        padding: 0px !important;
      }
    }
  }
}
.g-bounce {
  -webkit-animation: g-bounce .75s;
  -o-animation: g-bounce .75s;
  animation: g-bounce .75s;
}

@keyframes g-bounce{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.panel {
  margin: 0px;

}

.cta {
  text-align: center !important;
  padding-top: 290px !important;
  font-size: 36px;
  color: white;
}

.fields {
    padding-bottom: 0px !important;
  .label {
    color: $light !important;
  }
}


.ui.grid {
  margin-top: -1px;
}

.one {
  width: 5% !important;
}

.tabs-component {
  text-align: center;
  margin: 0px auto;
  border-radius: 10px;
      ul {
          display:flex;
          padding: 0;
          list-style: none;
        li {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 20px;
            background: grey;
            float: left;
            width:100%;

            a{
              color: $text;
              font-size: 16px;
            }
        }
    }
    .tabs-component-tabs {
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .tabs-component-tab-a {
      &:hover, &:focus{
        text-decoration: none!important;
      }
    }
    .is-active {
      background: $secondary;
      a {
        color: $primary !important;
      }
    }

    .tabs-component-panel {
      padding: 20px;
      padding-top: 5%;

      .label {
        /*margin-right: 15% !important;*/
        width: 150px !important;
        text-align:left;
        white-space: normal;
      }
    }
}

.md-field .md-input:focus, .md-field .md-textarea:focus {
    outline: none;
    color: white;
    border-bottom: 2px solid white;
}
.md-field .md-input, .md-field .md-textarea {
    border-bottom: 2px solid white !important;
  }


span.float-left {
  padding-bottom: 50px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(40, 39, 37, 0) !important;
}

a:not(.md-button):hover {
    text-decoration: none !important;
}
.ui.dropdown {
  width:100% !important;
  background: none!important;
  color:#ffffff!important;
  border: none!important;
  border-bottom: 3px solid #ffffff!important;
  border-radius: 0px!important;
  &.active.search {
    input.search:focus+.text {
      color: #ffffff!important;
    }
  }
}
.ui {
  &.form {
    .inline.fields {
      margin-bottom: 1.5em!important;
      .wide.field {
        z-index: auto!important;
      }
    }
  }
}
input {
  background: none!important;
  border: none!important;
  border-bottom: 3px solid #ffffff!important;
  color:#ffffff!important;
  border-radius: 0!important;
}
</style>
