<template>
  <div id="port">

<gwfbanner :data="contactbanner"></gwfbanner>
<works :bestworks="bestworksdata"></works>
<tiles :selectedFromPortfolio="selectedFromPortfolio" :tiled="tiled" @clicked="onClickChild"></tiles>
<conmap></conmap>
<gwffooter></gwffooter>

<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import Slider from '../common/Slider.vue'
import portfoliosecondsec from '../portfolio/portfoliosecondsec.vue'
import BestWorks from '../portfolio/BestWorks.vue'


Vue.component('slider-gwf', Slider)
Vue.component('tiles', portfoliosecondsec)
Vue.component('works', BestWorks)

export default {
  name: 'Portfolio',
  data () {
    return {
      selectedFromPortfolio: '',
      data: [
        {
          head: 'Get in Touch with Us to Get the Ball Running. ',

        }
      ],
      bestworksdata: [
        {
          isActive: true,
          imgSrc: '../../../static/img/portfolio/laptop images/img_raineandhorne.png',
          heading: {
            websiteName: 'Raine and Horne Business Brokers Victoria',
            websiteBusiness: 'Real Estate',
            websiteType: 'Responsive Website Design, Property Listings',
            websiteUrl: 'http://www.raineandhornebusinessbrokersvictoria.com.au/'
          },
          content: `<p>Global WebForce helped Raine & Horne Business Brokers Victoria by building a website that can be managed easily by their in-house staff, agents and brokers. The website provides a modern and appealing interface – it is simple to navigate so customers can quickly and easily search for the listings they are looking for. It is also built with a user-friendly content management system (CMS) for easy uploading and listing of businesses for sale, as well as residential and commercial properties for sale and lease.</p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_visatec.png',
          heading: {
            websiteName: 'VisaTec Legal',
            websiteBusiness: 'Australia Migration Services',
            websiteType: 'Responsive Website Design',
            websiteUrl: 'http://www.visatec.com.au/'
          },
          content: `<p>VisaTec Legal is Melbourne’s leading migration consultants and immigration legal representatives. Global WebForce re-designed VisaTec's website, with the use of hero image style and UI cards pattern. Hero images are “oversized" attractive headers that incite the viewer’s curiosity, and drive visitors further into the site by giving them a peek beneath the surface. We helped increase their brand recognition and engagement without losing the website’s “professional” aesthetic.</p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_phtours.png',
          heading: {
            websiteName: 'Philippine Tours',
            websiteBusiness: 'Travel Agency',
            websiteType: 'Website Re-Design, Online Flight Booking',
            websiteUrl: 'http://www.visatec.com.au/'
          },
          content: `<p>Philippine Tours has been in the travel industry since 1983. The agency is currently based in Brunswick West, Victoria, Australia and specializes in Philippine travels. Our web team re-structured the current website to make it more user-friendly. We placed the flight booking panel on the home page for easy access. We also made the website look modern using hero images, full-width grid layout, hover effects and subtle animations. The client wanted to showcase the top tourist destinations in the Philippines, so we dedicated a few pages and panels to feature several beautiful Philippine scenic spots, which also include some informative content, photos and videos, so website visitors will be taken on journey while browsing the site  and stirring the enthusiasm to explore the country. Call to action buttons are also strategically positioned across the website.</p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_neriskitchenandbakery.png',
          heading: {
            websiteName: 'Neri’s Kitchen and Bakery',
            websiteBusiness: 'Filipino Specialty Restaurant',
            websiteType: 'Online Ordering & Event Booking',
            websiteUrl: 'http://neriskitchenandbakery.com.au/'
          },
          content: `<p>Neri's Kitchen and Bakery is a Filipino Specialty restaurant in the heart of Perth, serving traditional Filipino cuisine and freshly-baked Filipino bread. The newly-built website provides an online menu of all the dishes and bread available throughout the week. By showcasing pixel-perfect images, the food looks so yummy and tempting!  The website also lets customers order online, book an event, or simply inquire.</p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_activ8me.png',
          heading: {
            websiteName: 'Activ8me (Australian Private Networks Pty Ltd)',
            websiteBusiness: 'Internet Service Provider',
            websiteType: 'Responsive Design, eCommerce',
            websiteUrl: 'https://www.activ8me.net.au/'
          },
          content: `Activ8me has been providing fast and reliable broadband to rural, regional and remote Australian communities since 2002, and has now become one of the country's biggest satellite providers. Global WebForce gave Australia's trusted nbn™ provider with a user-targeted and minimalist website, focused mainly on providing quick conversions and easy to navigate forms that let customers browse with ease. In addition, we also provided Activ8me with a seamless content management system, boost digital footprint through targeted and organic SEO strategies and helped them acquire new clients through Search and Display Pay-Per-Click advertising.`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_bellautoelectrical.png',
          heading: {
            websiteName: 'Bell Auto Electrical',
            websiteBusiness: 'Auto Electrical Shop',
            websiteType: 'Responsive Design, eCommerce',
            websiteUrl: 'https://www.activ8me.net.au/'
          },
          content: `<p>Manned only by the best electronics specialists, Bell Auto Electrical can perform a number service to your car including all types of repair, maintenance and even the whole installation of a car's electrical system. To help them reach new heights in their line of business, Global WebForce facilitated the redesign and relaunch of Bell's e-commerce website, which provides customers seamless transaction and hassle-free online experience.</p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_a1LoanHub.png',
          heading: {
            websiteName: 'A1 Loan Hub',
            websiteBusiness: 'Loan Solutions, Business Website',
            websiteType: '',
            websiteUrl: 'http://a1loanhub.com.au/'
          },
          content: `<p>A1 Loan Hub provides various loan choices that suit their clients’ financial status or current situation. They will identify the best loan provider that matches their clients’ needs, as well as give sound advice in loan decision making.  The website provides information-rich content, yet strategically cut into bite-size information to make it easy to read and mobile-friendly. The website provides easy-to-navigate menu, a clean layout and crisp images.</p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_perezarch.png',
          heading: {
            websiteName: 'Rafael Perez Architecture',
            websiteBusiness: 'Architecture Firm, Project portfolio',
            websiteType: '',
            websiteUrl: 'http://perezarch.com/ '
          },
          content: `<p>With over 23 years of experience in architecture, Rafael Perez Architecture goes beyond designing beautiful residential, commercial and institutional buildings and spaces – they pay attention to sustainability and eco-friendly design principles. The new website created for them met our five key objectives: 1) highlight an architect’s role in sustainability planning, 2) showcase the firm’s accomplished projects, 3) a clear call-to-action to increase online inquiries 4) Boost the firm’s online visibility through SEO 5) establish the firm’s branding.  </p>`
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_trendingpod.png',
          heading: {
            websiteName: 'TRENDINGPOD',
            websiteBusiness: 'Always Trending, Always Up To Date',
            websiteType: '',
            websiteUrl: 'http://www.trendingpod.com/'
          },
          content: `<p>
            Trendingpod is an online magazine and trending news site that keeps making a steady climb to success amidst stiff competition in the online media arena. It gives readers a daily dose of the freshest and viral trending content, as well as giving up-and-coming writers the platform to write what they love.
            Global WebForce helped Trendingpod achieve where it is today, by creating a unique, engaging and easy-to- navigate website. It also manages Trendingpod’s day-to-day content management as more and more  creative writers and contributors from around the globe send trending news articles, trending stories and videos to the in-house content team.
          </p>
          <p>In July 2015, Global WebForce started managing Trendingpod’s digital marketing campaigns and social media, which jump-started its brand recognition and content marketing. Today, Trendingpod has published over 1,000 posts and counting. Its growing reader base and social media followers extended to different parts of the globe, including the United States, Australia, New Zealand, Canada, Russia, France, Switzerland, Netherlands, Poland, UK,  Mexico, Italy, Spain, Japan, UAE, India, Thailand, Singapore, Philippines and more. We're also in the midst of developing a Trendingpod App, which will be available on iOS and Android smartphones.</p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_ezyoutsourcinghub.png',
          heading: {
            websiteName: 'Ezy Outsourcing Hub',
            websiteBusiness: 'Outsourcing and Offshoring Services Business Website',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://www.ezyoutsourcinghub.com/'
          },
          content: `<p>
            Ezy Outsourcing Hub provides outsourcing, offshoring, remote staffing and seat leasing services to small, medium and large scale companies in the Philippines and abroad. Since it is important for this business website to build credibility while they give information about who they are and what they do, we used easily recognizable design elements like animated icons, clear and crisp images and well-positioned calls to action. We also geared away from displaying large chunks of content and used bite-size information instead, which is also useful when pages are viewed in smaller screen sizes like tablets and smartphones. Contact information is easy to find, along with a clean layout and well-structured site navigation.
          </p></p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_fantasycakes.png',
          heading: {
            websiteName: 'Fantasy Cakes',
            websiteBusiness: 'Responsive Design',
            websiteType: 'Cake Artists',
            websiteUrl: 'https://www.fantasycakes.com.au'
          },
          content: `<p>
            Fantasy Cakes is one of, if not the, most known custom design cake business in Melbourne. With a myriad of loyal clientele that increases by the year, their mission of creating tasty, yet uniquely-designed cakes make them the number one choice.
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_batanesibs.png',
          heading: {
            websiteName: 'IBS Travel & Tours',
            websiteBusiness: 'Travel Agency',
            websiteType: 'Responsive Design',
            websiteUrl: 'www.ibstravelsandtours.com'
          },
          content: `<p>
            Providing comprehensive and convenient travel packages in the island of Batanes, IBS Travel & Tours aims to bring people who wants to see the beautiful northern island paradise. With various tour packages, as well as wedding coordination services, if you want to see Batanes in its entirety, IBS Travel & Tours is the one you call.</p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_greenware.png',
          heading: {
            websiteName: 'Greenware Computers',
            websiteBusiness: '',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://greenwarecomputers.com/'
          },
          content: `<p>
            Be it hardware or software, Greenware Computers is your one-stop show for any computer needs, especially in the Visayan and Mindanao region of the Philippines.<br>With custom-built PC setups, which caters to different computing needs, Greenware is more than just your usual computer store. Quality and Integrity as the core company values, they prove that access to high quality computers are for everyone.
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_rpsmigration.png',
          heading: {
            websiteName: 'RPS Migration Services',
            websiteBusiness: 'Visa Services',
            websiteType: 'Business Website',
            websiteUrl: 'https://www.rpsmigration.com.au/'
          },
          content: `<p>
            RPS Migration is a migration firm committed to providing results for its clientele whether it is an individual or a business.  Its professional services are grounded on Australia’s Migration Laws and Regulations and the Department of Immigration and Border Protection Policies. RPS Migration Services’ new website focuses on a clean, easy-to-navigate pages so their clientele can easily find the information they are looking for. It also highlights website elements that build trust and credibility, such as a strong About Us page, testimonials, logos of their partners and recent visa approvals.
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_highway54.png',
          heading: {
            websiteName: `Highway 54' Cafe & Bar Grill`,
            websiteBusiness: 'Visa Services',
            websiteType: 'Responsive Design, Online booking',
            websiteUrl: 'http://highway54cafe.com/'
          },
          content: `<p>
            From Tagaytay to Australia, Highway 54' Cafe & Bar Grill's food journey has been quite astounding. They amazingly keep a strong passion to serve best-tasting food and friendly service through the years - wherever they are.  Highway 54's beautiful success story only deserves an equally-beautiful website that can make their food services shine. A modern and sophisticated look and easy-to-navigate site is just some of what the website is. Customers can also reserve a table at their restaurant hassle-free with an online reservation form. 
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_aussiebalikbayanboxes.png',
          heading: {
            websiteName: `Aussie Balikbayan Boxes`,
            websiteBusiness: 'Parcel Delivery Services',
            websiteType: 'Responsive Design',
            websiteUrl: 'https://aussiebalikbayanboxes.com.au'
          },
          content: `<p>
            Aussie Balikbayan Boxes or ABB, is a Filipino-owned parcel delivery service, specializing in balikbayan boxes.
            Delivering anywhere and everywhere in the Philippines from Australia, ABB, helps Filipinos send their love from abroad. Global WebForce helped them by providing them a modern and responsive website, which makes it easier for customers to book and ship their balikbayan boxes.
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_basepavenq.png',
          heading: {
            websiteName: `Base Pave NQ`,
            websiteBusiness: 'Pavement Construction',
            websiteType: 'Responsive Design',
            websiteUrl: 'http://basepavenq.com.au/'
          },
          content: `<p>
            Base Pave NQ is a pavement construction company, specializing in Road Base, Asphalt Paving and other road works. Having worked with major highways and airports in Australia, Base Pave NQ is one of the most trusted road construction service provider in Australia. Seeking the aid to further expand their reach, Global WebForce helped Base Pave to realize that goal by creating a website that showcases their service and past works.
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_disdental.png',
          heading: {
            websiteName: `Dis Dental`,
            websiteBusiness: 'Dental Clinic',
            websiteType: 'Responsive Design, Online Booking',
            websiteUrl: 'http://basepavenq.com.au/'
          },
          content: `<p>
            A family owned dental clinic that sought to provide services to the Meblourne community. Specializing in a wide array of dental practices, Global WebForce helped Dis Dental with a clean and modern website, which makes it easy for patients to book a dentist appointment.
          </p>
          `
        },
        {
          isActive: false,
          imgSrc: '../../../static/img/portfolio/laptop images/img_mensgearandbeer.png',
          heading: {
            websiteName: `Mens Gear & Beer`,
            websiteBusiness: 'Home Brew Supplies and Menswear',
            websiteType: 'Responsive Design, eCommerce',
            websiteUrl: 'http://mensgearandbeer.com/'
          },
          content: `<p>
            One of Australia's first when it comes to combining craft beer supplies and men's clothing. After going through many change of ownership, Mens Gear & Beer has become ready for its new start with its new website, courtesy of Global WebForce.  Featuring a convenient online shop to sell its products, Mens Gear & Beer's website makes it easy for customers to start their home brew beers.
          </p>
          `
        }
      ],
      tiled: [
          {
            bwUnique: 'ibs',
            imgSrc: '/static/img/portfolio/640x350/batanesibs.jpg',
            isShown: false
          },
          {
            bwUnique: 'visatec',
            imgSrc: '/static/img/portfolio/640x350/visatec.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/neriskitchenandbakery.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/phtours.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/activ8me.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/greenware.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/raineandhorne.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/bellautoelectrical.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/a1loanhub.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/trendingpod.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/ezyoutsourcinghub.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/fantasycakes.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/rpsmigration.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/highway54.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/aussiebalikbayanboxes.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/basepavenq.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/disdental.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/mensgearandbeer.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/iwantfastinternet.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/kreativetravels.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/oldtechnology.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/portsidemarine.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/printsmartph.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/reowex.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/vicwideelectricmotors.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/weststcafeandbakery.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/batteriesdirectaustralia.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/ckupholstery.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/deviaddaccounting.jpg',
            isShown: false
          },
          {
            imgSrc: '/static/img/portfolio/640x350/happyhut.jpg',
            isShown: false
          },
        ],
      contactbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/portfolio/banner_portfolio2.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Portfolio',
          laptopimg: '../static/img/homepage/img_neriskitchenandbakery.png',
          contents: [
              {
                content:'Let Our Works Do The Talking',
              }
            ]
        }
      ]
    }
  },
  //  created() {
  //   alert(this.selectedFromPortfolio)
  // },
  // methods: {
  //   onClickChild(value) {
  //     var kamote = this.selectedFromPortfolio
  //     kamote.$on('load', this => th)
  //   }
  // }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
