<template>
  <div id="contentNdigital">

<digiconbanner :data="contentanddigitalbanner"></digiconbanner>
<AdvanceSelect :content="contentCreative"/>
<conmap></conmap>
<gwffooter></gwffooter>
<!-- <ourwork-slider :data='slidelogo'></ourwork-slider> -->
</div>

</template>

<script>
import Vue from 'vue'
import contentdigitalfirstsec from '../contentanddigital/contentdigitalfirstsec.vue'
import contentdigitalsecondsec from '../contentanddigital/contentdigitalsecondsec.vue'
import AdvnaceSelect from '../forms/selectComponent'

Vue.component('ccfirstsec', contentdigitalfirstsec)
Vue.component('ccsecondsec', contentdigitalsecondsec)


// import icon-slide from '../common/icon-slide.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'




// Vue.component('ourwork-slider', icon-slide)
// Vue.component('contactformone', ContactForm1)

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',

      contentanddigitalbanner: [
       {

          eletmentSytle:{'background-image': 'url( ../static/img/creativecontent/banner_content.jpg)','height':'auto','background-size':'contain','background-repeat':'no-repeat'},
          title: 'Your One Stop Shop for all things Content and Digital',
        }
      ],
      contentCreative: {
          type: 'standard',
          page: 'cd',
          option: [
              {
                label: 'Content',
                selected: false,
                content: {
                  title: '',
                  subtitle: '',
                  description: 'Content has to meet the needs of customers at each phase  of the buyer’s journey. It should be concise to immediately put your message across, tell a story to invoke emotions and engaging enough to influence your readers to take an action. Careful thought must go into every bit of your content for it to be effective. So, we’ve put together a list of questions so our writers can make your content vision come to life. From here, we will recommend the best content writing package for you. Let’s start! ',
                  questions:
                  [
                    {
                      isBeingAnswered: true,
                      qTitle: 'What type of content do you need?',
                      aName: 'q0',
                      answers: [
                        {
                          answerLabel: 'Landing page (300-500 words)',
                          isSelected: false
                        },{
                          answerLabel: 'SEO blog posts (300-500 words)',
                          isSelected: false
                        },{
                          answerLabel: 'Link bait and “in-depth” articles (800-2,000 words)',
                          isSelected: false
                        },{
                          answerLabel: 'Product reviews (500 words)',
                          isSelected: false
                        },{
                          answerLabel: 'eCommerce snippets (100-200 words)',
                          isSelected: false
                        },{
                          answerLabel: 'Website copy (300-500 words per page)',
                          isSelected: false
                        },{
                          answerLabel: 'Brochure copy (300-400 words)',
                          isSelected: false
                        },{
                          answerLabel: 'Others, specify',
                          isSelected: false
                        }
                      ]
                    },
                    {
                      isBeingAnswered: false,
                      qTitle: 'What is you industry?',
                      aName: 'q1',
                      answers: [
                        {
                          answerLabel: 'Automotive',
                          isSelected: false
                        },{
                          answerLabel: 'Health',
                          isSelected: false
                        },{
                          answerLabel: 'Beauty',
                          isSelected: false
                        },{
                          answerLabel: 'Real Estate',
                          isSelected: false
                        },{
                          answerLabel: 'Pharmaceutical',
                          isSelected: false
                        },{
                          answerLabel: 'Computer',
                          isSelected: false
                        },{
                          answerLabel: 'Clothing/Fashion',
                          isSelected: false
                        },{
                          answerLabel: 'Energy',
                          isSelected: false
                        },{
                          answerLabel: 'Entertainment',
                          isSelected: false
                        },{
                          answerLabel: 'Finance Services',
                          isSelected: false
                        },{
                          answerLabel: 'Food Industry',
                          isSelected: false
                        },{
                          answerLabel: 'Hotel & Hospitality',
                          isSelected: false
                        },{
                          answerLabel: 'Manufacturing',
                          isSelected: false
                        },{
                          answerLabel: 'Telecommunications',
                          isSelected: false
                        },{
                          answerLabel: 'Transport',
                          isSelected: false
                        },{
                          answerLabel: 'Others',
                          isSelected: false
                        }
                      ]
                    },
                    {
                      isBeingAnswered: false,
                      qTitle: 'What step in the buyer’s journey can we align your content?',
                      aName: 'q2',
                      answers: [
                        {
                          answerLabel: 'Awareness Stage',
                          isSelected: false
                        },{
                          answerLabel: 'Interest Stage',
                          isSelected: false
                        },{
                          answerLabel: 'Evaluation Stage',
                          isSelected: false
                        },{
                          answerLabel: 'Post-purchase Stage',
                          isSelected: false
                        },{
                          answerLabel: 'Customer Loyalty Stage',
                          isSelected: false
                        }
                      ]
                    },
                    {
                      isBeingAnswered: false,
                      qTitle: 'Tone of Writing',
                      aName: 'q3',
                      answers: [
                        {
                          answerLabel: 'Formal or Business Writing (clear, in-depth, serious)',
                          isSelected: false
                        },{
                          answerLabel: 'Conversational (“write how you speak,” casual, light)',
                          isSelected: false
                        }
                      ]
                    },
                    {
                      isBeingAnswered: false,
                      qTitle: 'The amount of content you initially need?',
                      aName: 'q4',
                      answers: [
                        {
                          answerLabel: '1 to 10 Articles',
                          isSelected: false
                        },{
                          answerLabel: 'More than 10 Articles',
                          isSelected: false
                        },{
                          answerLabel: 'Regular Monthly Supply of Articles',
                          isSelected: false
                        },{
                          answerLabel: 'Entire Landing Page or Website',
                          isSelected: false
                        },{
                          answerLabel: 'Indefinite Number of Content',
                          isSelected: false
                        }
                      ]
                    }
                  ]
                },
              },{
                label: 'Design',
                selected: false,
                content: {
                  title: '',
                  subtitle: '',
                  description: 'Because creative graphics has a huge scope we might hit the jackpot first time or we may require some nitty-gritty details to get things right. Let\'s pin down what artwork you need and what goals would like to accomplish. Let\'s start!',
                  questions:
                  [
                    {
                      isBeingAnswered: true,
                      qTitle: 'What type of design services do you need?',
                      aName: 'q0',
                      answers: [
                        {
                          answerLabel: 'Logo Design',
                          isSelected: false,
                          aName: 'qN0',
                          nestedQ: [
                            {
                              isBeingAnswered: false,
                              qTitle: 'Your company name included in the logo',
                              aName: 'qNQ0',
                              withInput: true,
                              inputType: 'text',
                              answers: [

                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Would you like to add a slogan or tagline in your logo?',
                              aName: 'qNQ1',
                              answers: [
                                {
                                  answerLabel: 'Yes',
                                  withInput: true,
                                  inputType: 'text',
                                  inputLabel: 'Please specify your slogan or tagline: ',
                                },{
                                  answerLabel: 'No'
                                }
                              ],
                              imgSamplesLabel: 'Sample logos with slogan',
                              imgSamples: [
                                {
                                  url: '/static/img/creativecontent/questionaires/2.2.jpg',
                                },
                                {
                                  url: '/static/img/creativecontent/questionaires/2.3.jpg',
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Are there any specific colours you’d like to use in your logo design?',
                              aName: 'qNQ2',
                              answers: [
                                {
                                  answerLabel: 'Black and White',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/3.1.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Colorful/Child/Playful',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/3.2.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Vintage/Classic/Brown/Grey Tone',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/3.3.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/3.4.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Pastel',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/3.5.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Specify the colour you want to use in the logo (LIMIT TO A MAX. OF 3 COLOURS ONLY)',
                                  withInput: true,
                                  inputType: 'textarea',
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Which layout would you like for your logo?',
                              aName: 'qNQ3',
                              answers: [
                                {
                                  answerLabel: 'Text Only',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.1.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.2.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Image Incorporated into Letters',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.3.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.4.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Icon Left',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.5.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.6.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Icon Right',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.7.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.8.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Icon Above',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.9.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.10.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: 'Circular',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.11.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.12.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: '3D Text',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.13.jpg',
                                    },
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.14.jpg',
                                    }
                                  ]
                                },{
                                  answerLabel: '3D Cube',
                                  innerImgSamples: [
                                    {
                                      url: '/static/img/creativecontent/questionaires/4.15.jpg',
                                    }
                                  ]
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'How do you plan to use your logo?',
                              aName: 'qNQ4',
                              answers: [
                                {
                                  answerLabel: 'Website'
                                },{
                                  answerLabel: 'Print (business cards, letterhead, mailers)'
                                },{
                                  answerLabel: 'Clothing(T-shirts, hats, embroidery)',
                                  withInput:true,
                                  inputType:'text',
                                  inputLabel: 'Size: ',
                                },{
                                  answerLabel: 'Promotional Items(pens, mugs, USB flash drives)',
                                  withInput:true,
                                  inputType:'text',
                                  inputLabel: 'Size: ',
                                },{
                                  answerLabel: 'Large Formats (signs, billboards, car-wraps)',
                                  withInput:true,
                                  inputType:'text',
                                  inputLabel: 'Size: ',
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Deadline',
                              aName: 'qNQ5',
                              withInput: true,
                              inputType: 'date',
                              answers: [
                              ]
                            }
                          ]
                        },{
                          answerLabel: 'Letterhead / Business Cards',
                          isSelected: false,
                          aName: 'qN1',
                          nestedQ: [
                            {
                              isBeingAnswered: false,
                              qTitle: 'How many unique business cards do you need?',
                              aName: 'qNQ0',
                              withInput: true,
                              inputType: 'text',
                              answers: [

                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Do you have a logo?',
                              aName: 'qNQ1',
                              answers: [
                                {
                                  answerLabel: 'Yes'
                                },{
                                  answerLabel: 'No'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Details to put in front of the business card',
                              aName: 'qNQ2',
                              withInput: true,
                              inputType: 'textarea',
                              answers: [

                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Information to put on the back of the business card',
                              aName: 'qNQ3',
                              withInput: true,
                              inputType: 'textarea',
                              answers: [

                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Do you need a letterhead?',
                              aName: 'qNQ4',
                              answers: [
                                {
                                  answerLabel: 'Yes'
                                },{
                                  answerLabel: 'No'
                                }
                              ]
                            }
                          ]
                        },{
                          answerLabel: 'Marketing Materials: Brochures, Flyers, Postcards, Posters, Banners, Catalogues',
                          isSelected: false,
                          aName: 'qN2',
                          nestedQ: [
                            {
                              isBeingAnswered: false,
                              qTitle: 'What marketing materials do you need?',
                              aName: 'qNQ0',
                              answers: [
                                {
                                  answerLabel: 'Brochures'
                                },{
                                  answerLabel: 'Catalogues'
                                },{
                                  answerLabel: 'Flyers'
                                },{
                                  answerLabel: 'Postcards'
                                },{
                                  answerLabel: 'Posters'
                                },{
                                  answerLabel: 'Banners'
                                }
                              ]
                            },
                            // {
                            //   isBeingAnswered: false,
                            //   qTitle: 'Dimensions of creative',
                            //   aName: 'qN1',
                            //   answers: [
                            //     {
                            //       answerLabel: 'answer1'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     },{
                            //       answerLabel: 'answer2'
                            //     }
                            //   ]
                            // },
                            {
                              isBeingAnswered: false,
                              qTitle: 'Select the orientation',
                              aName: 'qNQ2',
                              answers: [
                                {
                                  answerLabel: 'Landscape'
                                },{
                                  answerLabel: 'Portrait'
                                },{
                                  answerLabel: 'Not sure'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Choose if full page or folded, and specify the type fold you prefer',
                              aName: 'qNQ3',
                              answers: [
                                {
                                  answerLabel: 'Full Page'
                                },{
                                  answerLabel: 'Half-fold'
                                },{
                                  answerLabel: 'Classic Tri-fold'
                                },{
                                  answerLabel: 'Single Fate Fold'
                                },{
                                  answerLabel: 'Z-fold'
                                },{
                                  answerLabel: 'Not sure'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Choose your preferred colour palette',
                              aName: 'qNQ4',
                              withInput: true,
                              inputType: 'textarea',
                              answers: [
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Design Look & Feel',
                              aName: 'qNQ5',
                              answers: [
                                {
                                  answerLabel: 'Fun'
                                },{
                                  answerLabel: 'Cute'
                                },{
                                  answerLabel: 'Colourful'
                                },{
                                  answerLabel: 'Serious'
                                },{
                                  answerLabel: 'Feminine'
                                },{
                                  answerLabel: 'Bold/Edge'
                                },{
                                  answerLabel: 'Sophisticated'
                                },{
                                  answerLabel: 'Tech'
                                },{
                                  answerLabel: 'Corporate'
                                },{
                                  answerLabel: 'Retro'
                                },{
                                  answerLabel: 'Modern'
                                },{
                                  answerLabel: 'Dark'
                                },{
                                  answerLabel: 'Lightly-coloured'
                                },{
                                  answerLabel: 'Pastel'
                                },{
                                  answerLabel: 'Vintage'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Special Instructions',
                              aName: 'qNQ6',
                              withInput: true,
                              inputType: 'textarea',
                              answers: [
                              ]
                            }
                          ]
                        },{
                          answerLabel: 'Restaurant Menu',
                          isSelected: false,
                          aName: 'qN3',
                          nestedQ: [
                            {
                              isBeingAnswered: false,
                              qTitle: 'Dimensions of creative',
                              aName: 'qNQ0',
                              answers: [
                                {
                                  answerLabel: '8.5” x 11”'
                                },{
                                  answerLabel: '8.5” x 14”'
                                },{
                                  answerLabel: '11” x 17”  '
                                },{
                                  answerLabel: '11” x 25.5” '
                                },{
                                  answerLabel: 'DL (210 x 99mm)'
                                },{
                                  answerLabel: 'A6 postcard size (148.5 x 105mm)'
                                },{
                                  answerLabel: 'A5 half of A4 (210 x 148.5mm)'
                                },{
                                  answerLabel: 'Not sure'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Choose if full page or folded, and specify the type fold you prefer',
                              aName: 'qNQ1',
                              answers: [
                                {
                                  answerLabel: 'Full Page'
                                },{
                                  answerLabel: 'Half-fold'
                                },{
                                  answerLabel: 'Classic Tri-fold'
                                },{
                                  answerLabel: 'Single Fate Fold'
                                },{
                                  answerLabel: 'Z-fold'
                                },{
                                  answerLabel: 'Not sure'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Choose your preferred colour palette',
                              aName: 'qNQ2',
                              withInput: true,
                              inputType: 'textarea',
                              answers: [
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Design Look & Feel',
                              aName: 'qNQ3',
                              answers: [
                                {
                                  answerLabel: 'Fun'
                                },{
                                  answerLabel: 'Cute'
                                },{
                                  answerLabel: 'Colourful'
                                },{
                                  answerLabel: 'Serious'
                                },{
                                  answerLabel: 'Feminine'
                                },{
                                  answerLabel: 'Bold/Edge'
                                },{
                                  answerLabel: 'Sophisticated'
                                },{
                                  answerLabel: 'Tech'
                                },{
                                  answerLabel: 'Corporate'
                                },{
                                  answerLabel: 'Retro'
                                },{
                                  answerLabel: 'Modern'
                                },{
                                  answerLabel: 'Dark'
                                },{
                                  answerLabel: 'Lightly-coloured'
                                },{
                                  answerLabel: 'Pastel'
                                },{
                                  answerLabel: 'Vintage'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Special Instructions',
                              aName: 'qN4',
                              withInput: true,
                              inputType: 'textarea',
                              answers: [
                              ]
                            }
                          ]
                        },{
                          answerLabel: 'Digital artworks',
                          isSelected: false,
                          aName: 'qN4',
                          nestedQ: [
                            {
                              isBeingAnswered: false,
                              qTitle: 'What artworks do you need?',
                              aName: 'qNQ0',
                              answers: [
                                {
                                  answerLabel: 'Facebook post (940 px x 788 px)'
                                },{
                                  answerLabel: 'Twitter post (1024 px x 512 px)'
                                },{
                                  answerLabel: 'Blog banner (560 px x 315 px)'
                                },{
                                  answerLabel: 'LinkedIn banner (1400 px x 425 px)'
                                },{
                                  answerLabel: 'Email header (600 px x 200 px)'
                                },{
                                  answerLabel: 'A4 (21 cm x 29.7 cm)'
                                },{
                                  answerLabel: 'Infographic (800 px x 2000 px)'
                                },{
                                  answerLabel: 'Adwords display ads'
                                },{
                                  answerLabel: 'Facebook carousel'
                                },{
                                  answerLabel: 'Others, please specify'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Your preferred design look and feel',
                              aName: 'qNQ1',
                              answers: [
                                {
                                  answerLabel: 'Fun'
                                },{
                                  answerLabel: 'Cute'
                                },{
                                  answerLabel: 'Colourful'
                                },{
                                  answerLabel: 'Serious'
                                },{
                                  answerLabel: 'Feminine'
                                },{
                                  answerLabel: 'Bold/Edge'
                                },{
                                  answerLabel: 'Sophisticated'
                                },{
                                  answerLabel: 'Tech'
                                },{
                                  answerLabel: 'Corporate'
                                },{
                                  answerLabel: 'Retro'
                                },{
                                  answerLabel: 'Modern'
                                },{
                                  answerLabel: 'Dark'
                                },{
                                  answerLabel: 'Lightly-coloured'
                                },{
                                  answerLabel: 'Pastel'
                                },{
                                  answerLabel: 'Vintage'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Message or text to appear on the creative',
                              aName: 'qNQ2',
                              answers: [
                                {
                                  answerLabel: 'Headline'
                                },{
                                  answerLabel: 'Sub Headline'
                                },{
                                  answerLabel: 'Contact Number'
                                },{
                                  answerLabel: 'Email'
                                },{
                                  answerLabel: 'I will give this later'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Special Instructions',
                              aName: 'qNQ3',
                              answers: [

                              ]
                            }
                          ]
                        },{
                          answerLabel: 'Not mentioned above',
                          isSelected: false,
                          aName: 'qN5',
                          nestedQ: [
                            {
                              isBeingAnswered: false,
                              qTitle: 'aw',
                              aName: 'qN0',
                              answers: [
                                {
                                  answerLabel: 'answer1'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                }
                              ]
                            },{
                              isBeingAnswered: false,
                              qTitle: 'Kamote2',
                              aName: 'qN1',
                              answers: [
                                {
                                  answerLabel: 'answer1'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                },{
                                  answerLabel: 'answer2'
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
              },
          ],
      }
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';

</style>
