<template>
  <div id="banner_mf">
    <section class="header-bannermf" :style="data.elementSytle">
      <div class="container-fluid">
        <div style="margin-left:5%;">
          <div class="ui stackable grid">
            <div class="sixteen wide column">
              <div class="gwftitle">
                <div class="bannertitle">
                  <h1 v-html="data.bannerTitle"></h1>
                  <p v-html="data.subTitle"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: ['data'],
  name: 'banner_mf'
}
</script>
<style lang="scss" scoped>
.header-bannermf {
  height:80vh;
  background-position: top center;
  margin-top:1%;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  @media(max-width:991px) {
    background-position: center;
  }
  @media(max-width:767px) {
    height:90vh;
    background-image:none;
  }

 .gwftitle {
    color: #fff;
    margin-bottom: 50px;
    @media(max-width:767px) {
      margin-top: 6%;
    }
    h1{
      font-size: 3vw;
      font-weight: 200;
      @media screen and (max-width: 767px) {
        font-size: 4vw;
      }
      @media screen and (max-width: 414px) {
        font-size: 5vw;
      }
    }
    p {
      font-size:2vw;
      @media (max-width:767px) {
        font-size:18px;
      }
    }
  }
}
.banner-btn {
  color: #fff000;
  border: 1px solid #fff000;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 1.5vw;
  transition: all 0.3s ease-in-out;
  @media(max-width:991px) {
    font-size:20px;
  }
}
.banner-btn:hover {
  color: #051726;
  background-color: #fff000;
  border-color: #fff000;
  text-decoration:none;
}
</style>