<template>
  <div id="manilafame">
    <section  :style="manilabanner.elementStyle">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-8">
            <div style="display:table;">
              <div class="first-list">
                <ul>
                  <li v-for="data in manilabanner.contents" v-html="data.content"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <ul>
              <div class="ui grid">
                <div class="sixteen wide stackable column ">
                  <h2 class="script-mf offer-date"><span>Hurry!</span> Offer is Good Until <span>April 23, 2018</span></h2>
                  <div id="manilafame-offer-timer"></div>
                  <div class="cta-mf">
                    <a href="tel:+63-917-568-0402" class="btn">CALL US</a>
                    <a href="mailto:inquiry@globalwebforce.com" class="btn">EMAIL US</a>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: ['manilabanner','gwfnumber'],
  name: 'manilabanner'
}
</script>
<style lang="scss" scoped>
#manilafame{
.second {
  padding-top:50px;
}
.container-fluid {
  padding:0;
}
.first-list {
    display: block;
    margin-bottom: 130px;
    height:auto;
    @media(max-width:767px) {
      margin-bottom: 70px;
    }
    @media screen and (max-width:411px) {
        height: auto!important;
            }
        .first {
               @media(max-width:414px) {
                font-size: 28px!important;
            }@media(max-width:411px) {
                font-size: 28px!important;
            }
        }
        .second {
               @media(max-width:412px) {
                font-size: 28px!important;
                padding-top:0!important;
            }
        }
        .third {
               @media(max-width:411px) {
                font-size: 28px!important;
            }
        }

    ul {
    list-style: none;

  }

}
.second-list {
    display: table-cell;
    vertical-align: middle;
    height: 411px;
      li {
          padding-bottom:38px;
            @media(max-width:415px) {
                padding-bottom: 25px!important;
            }@media(max-width:411px) {
                padding-bottom: 21px!important;
            }
      }
    @media screen and (max-width:411px) {
        height: 0!important;
        padding-top: 25px!important;
        }
        .first {
               @media(max-width:415px) {
                font-size: 15px!important;
            }   @media(max-width:411px) {
                font-size: 15px!important;
            }
        }
        .second {
               @media(max-width:412px) {
                font-size: 15px!important;
            }
        }
        .third {
               @media(max-width:411px) {
                font-size: 12px!important;
            }

        }
    ul {
    list-style: none;
  }
}
@media(max-width:1367px) {
  .first {
    font-size:42px!important;
    span {
      font-size:42px!important;
    }
  }
}
}
</style>
