<template>
<div id="first">
  <section style="padding:0px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 image">
          <img :src="data.url" alt="">
        </div>
        <div class="col-lg-6 text" style="display: table;">
          <div class="table" style="display:table-cell;vertical-align:middle;height:634px;">
          <h1>{{data.title}}</h1>
          <div class="content" v-html="data.content"> </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
</template>
<script>
  import axios from 'axios'
  export default {
    data() {
      return {
        data:
        {
            title:'GET ONLINE WITH YOUR NEW WEBSITE',
            content:'<p id="para1" style="padding-left:10px;font-size: 21px;font-weight:600;">Showcase and Sell your Products Better to a WIDER Audience.</p><p style="padding-left:10px;font-size: 21px;font-weight:600;">Our stress free, all-in website package ONLY exclusively offered to all Manila Fame (Philippine Craftmanship) 2018 exhibitors and attendees.</p><p style="padding-left:10px;font-size: 21px;font-weight:600;">With a business website, you can have an online display of your furniture & furnishings, hand woven crafts, decors, home accents and gift items, 24 hours a day, seven days a week.</p><p style="padding-left:10px;font-size: 21px;28px 0;font-weight:600;">Market them locally and internationally much easier and cheaper. Talk to potential buyers directly with <span style="color:#d6233d;font-weight:900;28px 0;">FREE ONLINE CHAT FEATURE.</span></p>',
            url:'/static/img/LP/manila/image_MF-showcase.jpg'
        }
      }
    }

  }
</script>
<style lang="scss" scoped>
span {
  border: 11px solid #d6233d;
    width: 12%;
    height: 50%;
}

.div {
margin: 0;
padding: 0;
}
.container-fluid {
margin: 0;
padding: 0;

}
p {
      padding-left:10px;
      font-size: 22px;
      font-weight:600;
}
h1 {
  font-weight: 900;
  margin-bottom: 28px;
  &:before {
        content: '';
    height: 47px;
    width: 25px;
    background: #d6233d;
    position: absolute;
    left: 15px;
}
}
.image {
  @media(max-width:991px) {
    display: none;
  }
}
img {
      width: 100%;
}
.text {
  padding: 20px 63px;
  @media(max-width:1367px) {
      flex: 0 0 66%;
      max-width: 65%;
  }
  @media(max-width:767px) {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 28px 44px;
  }

}
.table {
  @media(max-width:1367px) {
        height: 448px!important;
  }
}

</style>
