<template>
  <div id="third">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <ul>
              <li><h1 id="header1"><span>SPECIAL OFFER</span></h1></li>
              <li><h1>P18,500<span>*</span> ALL-IN</h1></li>
              <li><h1>WEBSITE PACKAGE</h1></li>
              <li><h1>50% off <span id="price">from P37,000</span> </h1></li>
              <li><h3><span>*</span>website packages start at</h3></li>
          </ul>
        </div>
        <div class="col-lg-8">
            <h4 class="freeHeadline">Get awesome package inclusions and freebies to <br> help kick start your digital presence and business.</h4>
              <h4>Inclusions</h4>
            <ul id="one">

                <li> Company Banner</li>
                <li> Modern & Responsive Design</li>
                <li> Business Branding</li>
                <li> Image Gallery of Your Products</li>
                <li> One Click Call Business Function</li>
                <li> One Click Email Business Function</li>
                <li> Social Media Buttons</li>
                <li> Contact Form</li>

            </ul>
            <h4>Freebies</h4>
            <ul  id="two">
                <li> 1 Year .com Domain Name Registration</li>
                <li> 3 Months Website Hosting</li>
                <li> 3 Business Emails</li>
                <li> Online Chat Feature</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
  export default {
    data() {
      return {
        data:
        {

        }
      }
    }

  }
</script>
<style lang="scss" scoped>
.col-lg-4 {
  background:#2a2a2a;
  text-align: right;
  display: table;
  @media(max-width:991px) {
    text-align:center;
  }
  h3 {
  font-weight:bold;
  color:white;
  font-size:1rem;

}
  ul {
    display:table-cell;
    vertical-align:middle;
    height: 500px;
    @media(max-width:991px) {
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    padding: 0;
        padding-right: 25px;
        @media(max-width:767px) {
          padding-top:30px;
          padding-bottom:20px;
        }
    li {
      padding-bottom:10px;
    }
  }
}
.col-lg-8 {
  background:url(/static/img/LP/manila/image_package.jpg);
  background-position: center center;
    background-repeat: no-repeat;
        background-size: cover;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    @media(max-width:767px) {
      padding: 28px 50px;
    }

}
#one {
  -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
    list-style:none;
    padding: 0;
    @media(max-width:767px) {
      -webkit-columns: 100px 1; /* Chrome, Safari, Opera */
    -moz-columns: 100px 1; /* Firefox */
    columns: 100px 1;
    }
    li {
      color:white;
      font-size:20px;
        &:before {
          font-family: FontAwesome;
        content: '\f0da';
        color: #c2333a;
      }
    }
}
#two {
  -webkit-columns: 100px 1!important; /* Chrome, Safari, Opera */
    -moz-columns: 100px 1!important; /* Firefox */
    columns: 100px 1!important;
    list-style:none;
    padding: 0;
    margin:0;
    li {
      color:white;
      font-size:20px;
        &:before {
          font-family: FontAwesome;
        content: '\f0da';
        color: #d6233d;
      }
    }
}
h4 {
  font-weight:bold;
  color:white;
  font-size: 22px;
}
h1 {
  color:white;
  font-weight:900;
}
span {
  color:#c2333a;
}
#header1 span {
  font-weight:bold;
  background:#c2333a;
  color:white;
}
#price {
  color:white;
  font-weight:500;
}
.freeHeadline {
 padding-bottom:10px;
     color: white;
    font-size: 22px;
}
#third {
    background:#2a2a2a;
}
li {

}
</style>
