<template>
  <div id="portfoliotiles">
    <div class="ui three column grid phototiles">
      <div data-aos="zoom-in" v-for="item in tiled" v-if="item.isShown" class="column pictures" v-on:click="displayFromPortfolio(item.bwUnique)">
        <img class="ui image fluid" :src="item.imgSrc" alt="">
        <figcaption>
          <a >Click to preview</a>
        </figcaption>
      </div>
      <div class="text-center" style="display:block; margin:auto; width: 100%;">
        <button class="text-center displayAll btn btn-danger" @click="displayAll">Show All</button>
      </div>
    </div>
  </div>
</template>
<script>
  import $ from 'jquery'
  export default {
    props:['tiled', 'selectedFromPortfolio'],
    Name: 'PortfolioTiles',
    data () {
      return {
        
      }
    },
    created() {
      this.displayLess()
      var height = $('#portfoliotiles').height()
      $('#portfoliotiles').css('max-height', 'height')
          console.log(height)
          this.SelectedFromPortfolio = 'kamote'
    },
    mounted() {
      
    },
    methods: {
      displayLess() {
        var imgArr = this.tiled
        $.each(imgArr, function(i){
          if(i > 5){
            imgArr[i].isShown = false
          }else {
            imgArr[i].isShown = true
          }
        })
      },
      displayAll() {
        if(!$('#portfoliotiles').hasClass('showAll')) {
          var imgArr = this.tiled
          $.each(imgArr, function(i){
            imgArr[i].isShown = true
          })
          $('#portfoliotiles').addClass('showAll')
          $('.displayAll').text('Show Less')
          $('#portfoliotiles').css('max-height', '9999px')
       } else {
          $('#portfoliotiles').removeClass('showAll')
          $('#portfoliotiles').css('max-height', 'initial')
          this.displayLess()
          $('.displayAll').text('Show All')
       }
      },
      displayFromPortfolio(itemRef) {
        var bwRef = this.selectedFromPortfolio
        this.selectedFromPortfolio = itemRef
        this.$emit('changeBestWorks')
      }
    }
  }
</script>
<style lang="scss" scoped>
.phototiles {
  position: relative;
  figcaption, figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.5);
      content: '';
      -webkit-transition: -webkit-transform 0.6s;
      transition: transform 0.6s;
      -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
      transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }
    &:hover {
      &:before {
        webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
      }
      & > a {
        opacity: 1;
        color:#fff;
      }
    }
    & > a {
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      color: #fff;
      text-decoration: none;
      font-size:30px;
      text-shadow: 0 0 20px #000;
      span {
        color: #fff;
      }
    }
  }
  .pictures {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px!important;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    background: #686869;
    img {
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }
    &:hover > img {
      opacity: 0.4;
      transform: scale(1.05);
    }
  }
}
#portfoliotiles {
  padding: 20px 0;
  transition: all 0.5s ease-in-out;
  @media (max-width: 767px) {
    display: none;
  }
  .ui.grid {
    margin: 0px;
  }
  button.displayAll {
    margin: 3rem;
  }
}

</style>
