@import './themes/default.scss';


$primary-color: $primary;
$font-color-dark: $text;
$secondary-color: $secondary;
$hover-color: $hover;
$light: $light;
$transparent: $transparent;

.divider-dark{
	border-color: $dark-bg;
}

.divider-light{
	border-color: $light;
}
.text-color-dark {
	color: $dark-bg;
}

.text-color-light {
	color: $light;
}

span {
	/*padding-bottom: 30px;
	padding-top: 30px;*/
}

.bg-primary {
	background-color: $dark-bg;
}

.bg-secondary {
	background-color: $secondary;
}

.text-center { 
	text-align: center !important;
}

.padding-1 {
	padding: 100px !important;
}

.padding-2 {
	padding: 75px !important;
}

.padding-3 {
	padding: 50px !important;
}

.tabs-padding { 
	padding-left: 9% !important;
    padding-right: 9% !important;
}

.text-left {
	text-align: left !important;
}

.float-left {
	text-align: left !important;
	float: left;
}

.circle {
	width: 150px;
	height: 150px;
	background: $secondary;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 80px;
	margin: 0px auto;
}

.justify {
	text-align: justify;
	float: left;
}

.placeholder {
	width: 100%;
	height: 400px;
	background: black;;
}