<template>
  <div id="about" style="background-color:#7055a2;">
    <div class="container-fluid aboutus-content" style="">
      <div v-for="data in data">
        <div class="row" style="margin: 0;">
          <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 data-aos="fade-down" id="yellowbg">{{data.head}}</h1>

        </div>
         <div class="col-md-3"></div>
      </div>
      </div>
    </div>
    <div class="container" style="padding: 25px 0px 25px 0px;">
      <div class="row">
         <div class="col-md-1"></div>
      <div class="col-md-6 contactus-aboutpage">
        <h1 data-aos="fade-left" id="aboutheader" style="color:white;">Drop us a message</h1>
        <h4 data-aos="fade-right" style="font-style: italic;color:white;">We'll get your inquiry to the right people.</h4>
      </div>
       <div class="col-md-3"></div>
      </div>
      <div class="col-md-12">
       <contact-us head="">
       </contact-us></div>

    </div>
  </div>
</template>
<script>
  export default {
    name:'contact',
    props: ['data']

  }
</script>
<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
  #yellowbg {
   text-align: center;
    width: 100%;
    color: #A21ee8 !important;
    border-radius: 3px 3px 0 0;
    padding: 24px;
    padding-bottom: 0;
    z-index: 107;
    padding-top:0;
    @media(max-width:767px) {
      padding-top: 10%;
      font-size: 8vw;
    }
  }
  p {
    text-align:justify;
  }
  .aboutus-content {
    background:white;
    padding: 25px 0px;
      @media screen and (max-width: 414px) {
      padding: 25px 13px;
      }
  }
.contactus-aboutpage{
  padding:0;
   @media screen and (max-width: 414px) {
          padding: 0 28px;
      }
}
</style>
