<template>
  <div id="app">
<GWFHeader />
<router-view></router-view>
</div>

</template>

<script>
import Vue from 'vue'
import Home from './assets/components/Pages/Homepage.vue'
import About from './assets/components/Pages/Aboutus.vue'
import Contact from './assets/components/Pages/Contactus.vue'
import CreativeandContent from './assets/components/Pages/CreativeandContent.vue'
import Digitalmarketing from './assets/components/Pages/Digitalmarketing.vue'
import GWFHeader from './assets/components/common/Header.vue'

// import ContactForm1 from './assets/components/ContactForm1.vue'

Vue.component('homegwf', Home)
Vue.component('aboutgwf', About)
Vue.component('contactgwf', Contact)
Vue.component('cNcgwf', CreativeandContent)
Vue.component('DMgwf', Digitalmarketing)
Vue.component('GWFHeader', GWFHeader)

// Vue.component('contactformone', ContactForm1)

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      option: [
      	{
      		isSelected: false,
      		label: 'test',
      		content: ''
      	}
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
   @import'./src/assets/styles/main.scss';
</style>
