
// Header

.ui.three.item.menu {
    box-shadow: none;
    margin: 10px;
    border:none;
    .item {
      width: 9%;
    }
    .menu {
      border: 0;

    }

}


.row {
  margin:0!important;
}
//HEADER SLIDER
.main-carousel {

    .carousel-cell {

      height: auto;
      width: 100%;

        h2 {
          color: white ;
          font-size: 100px;

        }
        h3 {
          color: white ;
          font-size: 100px;

        }

    }
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-viewport {
  height:700vh!important;
}
/* HEADERS */
#yellowbg  {

    text-align:center;
    width: 100%;
    color: #A21ee8!important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
    font-weight:bold!important;
    z-index: 107;
    padding: 24px;


}
#yellowbgBig  {
  h1 {


    width: 100%;
    color: #A21ee8!important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 0;
      font-weight:bold!important;
    z-index: 107;
    padding: 24px;
  }

}
h1 {
  font-weight:bold!important;
}
/* MAPS */
.maps {
  background-image: url('/static/img/homepage/map.png');
    height: 51vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
  li {
    list-style:none;
    color:white;
    a:hover {
    color:white!important;
    text-decoration: none!important;
    }

  }
  .half-vio-cta {
    background-color: rgba(112, 85, 162, 0.61);
  }

}
