<template>
<div id="WeGo">
  <div class="container">
    <div class="row">
      <div class="col-md-12 head">
        <div>
          <h2 v-html="data.htitle"></h2>
          <h4 v-html="data.hsubtitle"></h4>
        </div>
      </div>
      <div  class="col-md-4" v-for="data in data.iconbox">
        <div>
          <IconBox :iconbox="data" class="wego-ib" />
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import iconbox from '@/assets/components/common/IconBox'
Vue.component('IconBox', iconbox)
export default {
  props: ['data'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

.custom-center {
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
    height: 354px;
    text-align: center;
    padding: 49px;
    img {
      padding-bottom: 10px;
    }
    h3 {
    padding-bottom: 10px;
    color:#fe3b63;
    }
  }
}
.head {
  text-align:center;
  margin-bottom: 30px;

h2 {
  color:#a21ee8;
}
}
#WeGo {
  padding: 60px 0px;
  .wego-ib {
    .iconBox {
      .info {
        h3 {
          color: #fe3b63;
        }
      }
    }
  }
}
</style>
